<div class="margin-spacing" [style.height.px]="winHeight">
    <div class="row d-flex justify-content-center paddingtop130">
      <div class="col-6">
        <h4 class="sub-title">Ohhh our bad</h4>
        <div class="margintop20"></div>
        <h2 class="title">Loans are on the way!</h2>
        <h3 class="text">Meanwhile you can check the Activity.</h3>
        <div class="margintop80"></div>
        <div class="row no-gutters">
          <div class="col-2 button button-primary mat-raised-button"><button mat-raised-button class="button-1">Opc 1</button></div>
          <div class="col-2 button button-secondary mat-raised-button"><button class="button-2 button mat-elevation-z d-none d-md-inline-block mat-raised-button">Opc 2</button></div>
        </div>
        <div class="margintop20"></div>
        <h5 class="bullet">If you don’t feel like going there, you can check what we are working on.</h5>
      </div>
      <div class="col-6">
        <div class="img">
          <img src="../../../assets/error_loans-comming.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
