<div class="body-scrollable activity-wrapper">
  <ngx-spinner
    bdColor="transparent"
    size="medium"
    color="#fff"
    type="ball-clip-rotate-multiple"
    [name]="pageId"
  ></ngx-spinner>
  <div class="container">
    <div class="full-width d-flex justify-content-between align-items-center">
      <div>
        <app-page-header
          [title]="pageTitle"
          [description]="pageDescription"
          [hasChip]="true"
          [chipValue]="loans?.length"
          chipLabel="FUNDED"
        ></app-page-header>
      </div>
      <div>
        <app-my-loans-tabs></app-my-loans-tabs>
      </div>
    </div>
    <div class="loan-container">
      <app-loan-list-header></app-loan-list-header>
      <virtual-scroller
        #scroll
        [items]="loans"
        [bufferAmount]="12"
        [scrollThrottlingTime]="500"
      >
      <div *ngFor="let loan of scroll.viewPortItems; let i = index">
        <app-loan-list [loan]="loan" [backgroundLighter]="i % 2">
        </app-loan-list>
      </div>
      </virtual-scroller>
    </div>
  </div>
  <app-footer></app-footer>
</div>
