@import './../../../../scss/fonts';
@import './../steps';

.item {
  &__single-collateral {
    border: 1px solid var(--app-color-gray-400);
    padding: 10px 18px 12px 14px;
    svg {
      color: var(--app-color-gray-50);
    }
  }
  &--ratios {
    text-align: center;
    .ratio {
      padding: 10px 14px;
      background: var(--app-color-gray-600);
      &__title,
      &__value {
        @include typography-caption(1);
        color: var(--app-color-gray-50);
      }
      &--collateral {
        padding: 17px 0 0;
        text-align: center;
        border-radius: 4px;
        .ratio__value {
          @include styled-font('Roboto', 900, 35px);
          line-height: 1em;
          font-weight: bold;
        }
        &.ratio--low {
          .ratio__value {
            color: var(--app-color-red);
          }
        }
        &.ratio--normal {
          .ratio__value {
            color: var(--app-color-orange);
          }
        }
        &.ratio--high {
          .ratio__value {
            color: #99FE90;
          }
        }
        &.ratio--untouched {
          .ratio__value {
            color: var(--app-color-gray-50);
          }
        }
      }
    }
    .ratio-divisor {
      width: 100%;
      height: 1px;
      margin: 13px 0 0;
      background: var(--app-color-gray-400);
    }
    .ratio-options {
      &__label {
        cursor: pointer;
        padding: 12px 0;
        @include styled-font('proxima-nova', 400, 11px);
        svg {
          font-size: 0.75em;
        }
      }
      &__content {
        display: flex;
        flex-wrap: wrap;
        padding: 0 6px 2px;
        .suggested-ratio {
          width: 27.5%;
          margin: 0 2.9% 10px;
          padding: 5px 0;
          text-align: center;
          border: 1px solid var(--app-color-gray-50);
          border-radius: 14px;
          @include styled-font('Roboto', 500, 13px);
          color: var(--app-color-gray-50);
          line-height: 1em;
          cursor: pointer;
          &--active {
            border-color: var(--app-color-primary);
            color: var(--app-color-primary);
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .item {
    &--ratios {
      text-align: left;
    }
  }
}
