<div
  class="fixed-application-ad"
  [class.fixed-application-ad--hidden]="hidden"
>
  <div class="container">
    <div class="d-flex align-items-center">
      <div *ngIf="ad.image">
        <div class="fixed-application-ad__image">
          <img class="image" [src]="ad.image" [alt]="ad.title">
        </div>
      </div>
      <div>
        <p class="fixed-application-ad__title">
          {{ ad.title }}
        </p>
        <p
          *ngIf="ad.description"
          class="fixed-application-ad__description"
          [innerHTML]="ad.description"
        >
        </p>
        <div
          class="fixed-application-ad__close"
          (click)="hidden = true"
        >
          <i class="fas fa-times"></i>
        </div>
      </div>
    </div>
  </div>
</div>
