@import '../../../scss/fonts';

.dialog-header {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background: var(--app-color-gray-200);
  &__dismiss {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    min-width: 50px;
  }
  &__title {
    width: 100%;
    color: var(--app-color-gray-50);
    @include styled-font('proxima-nova', 700, 21px);
    padding-left: 16px;
  }
}
