@import '../../scss/_variables.scss'; //variables

.navbar{
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1000;
  display: block;
  border-width: 0 0 1px;
  border: none;
  border-radius: 0;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 15px 0px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .77), transparent);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .77), transparent);
  .button-img{
    display: inline-block;
    img{
      height: 50px;
    }
  }
  ul.nav{
    float: right;
    height: 50px;
    padding: 9px 0;
    li{
      cursor: pointer;
      display: none;
      float: left;
      margin-right: 45px;
      @extend %font-bold;
    }
  }
  .icon-hamburguer{
    cursor: pointer;
    font-size: 32px;
    @include transition;
  }
}
.flex-container {
  display: flex;
  flex-direction: row;
  height: auto;
  align-items: center;
  > .flex-item {
    width: 35px;
  }
}

.navbar-extension {
  display: none;
  height: 0px;
  position: absolute;
  top: 85px;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 0;
  background-color: $gray7;
  @include transition(all 0.2s ease);
  ul{
    li{
      position: relative;
      display: inline-block;
      margin: 6px;
      opacity: 0;
      top: -15px;
      margin-right: 15px;
      &:last-child{
        margin-right: 0px;
      }
      span{
        display: none;
        font-size: 12px;
        @extend %font-light;
      }
    }
  }
  .title.main-h1{font-size: 16px; padding: 9px 0;}
  .title.main-h2{font-size: 16px; padding: 9px 0; @extend %font-bold;}
  .title.main-h2 {
    font-family: 'Roboto', sans-serif;
  }
}

.extension-closebox{
  position: absolute;
  top: 135px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  opacity: 0;
  cursor: pointer;
  background-color: transparent;
  background-color: rgba(0,0,0,0.8);
  display: none;
  z-index: 170;
}

#page-content-wrapper{
  &.extension-toggled{
    .navbar-extension{
      height: 50px;
      @include transition(all 0.5s ease);
      ul{
        li{
          @include transition();
          @for $i from 1 through 12 {
            &:nth-child(#{$i}) { 
              @include transition-delay(0.06s * $i); 
            }
          }
          opacity: 1;
          top: 0px;
          &:last-child{
            top: -2px;
          }
        }
      }
    }
    .extension-closebox{
      display: block;
      opacity: 1;
      z-index: 9999;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px)  {
  .navbar{
    .container{
      width: 820px;
    }
  }
}

@media (min-width: 768px){
  .navbar{
    .navbar-header{
      width: 100%;
    }
    ul.nav{
      padding: 15px 0;
      li{
        display: block;
        font-size: 16px;
        @include transition;
        &:hover{
          color: $primary;
        }
        &.separator{
          font-weight: 300;
          cursor: default;
          &:hover{
            color: $secondary;
          }
        }
        &:last-child{
          margin-top: -10px;
        }
      }
    }
    .icon-hamburguer{
      display: none;
    }
  }
}

.nav-toggle{
  border-radius: 0;
  padding: 10px 0;
  margin-right: 35px;
  min-height: 50px;

  float: left;
  background-color: transparent;
  border: 1px solid transparent;
  span{
    background-color: #fff;
    height: 1px;
    width: 23px;
  }
  .icon-bar {
    display: block;
    border-radius: 1px;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }
  .navbar-extension {
    display: block;
  }
  .navbar-extension{ul{span.marginleft30{display:inline-block;}}}
  .navbar-extension{ul{span.marginleft60{display:none;}}}
}

@media (min-width: 992px){
  .navbar-extension{ul{span.marginleft30{display:none;}}}
  .navbar-extension{ul{span.marginleft60{display:inline-block;}}}
}