<div id="page-content-wrapper" [ngClass]="{'extension-toggled': extensionToggled}">
  <nav id="navbar" class="navbar">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="navbar-header">
            <a class="button-img" routerLink='/requests'><img src="https://ripiocredit.network/images/logo.png" alt="rcn-image"></a>
            <ul class="nav">
              <i mat-raised-button class="material-icons icon-hamburguer" [matMenuTriggerFor]="menu">menu</i>
              <mat-menu #menu="matMenu">
                <button routerLink='/requests' mat-menu-item>Requests</button>
                <button routerLink='/address/{{ account }}/' mat-menu-item *ngIf='hasAccount'>Loans</button>
                <button routerLink='/profile' mat-menu-item *ngIf='hasAccount'>Balance</button>
                <button (click)='openDialog();' mat-menu-item>Profile</button>
              </mat-menu>
              <li routerLink='/requests' #tref>Requests</li>
              <li routerLink='/address/{{ account }}/' *ngIf='hasAccount'>Loans</li>
              <li routerLink='/profile' *ngIf='hasAccount'>Balance</li>
              <li *ngIf='hasAccount' (click)='extensionToggle()'>
                <i class="material-icons transition" [ngClass]="{'rotate45': extensionToggled}">add</i>
              </li>
              <li class="separator">|</li>
              <li (click)="openDialog()" *ngIf="!hasAccount">Login</li>
              <li (click)="openDialog(); makeRotate = !makeRotate;">
                <div class="flex-container" *ngIf="hasAccount">
                  <div class="flex-item">
                    <div class="list-avatar">
                      <div class="avatar-container">
                        <app-avatar [seed]=account></app-avatar>
                      </div>
                    </div>
                  </div>
                  <div class="flex-item marginleft15">Profile</div>
                  <div class="flex-item marginleft10"><i class="material-icons margintop5" [ngClass]="{'rotate180': makeRotate }">expand_more</i></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="navbar-extension">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="title main-h1">Account balance</li>
            <li class="title main-h2"><span>RCN</span> 690.80</li>
            <span class="marginleft5"></span>
            <span class="marginleft60"></span>
            <li class="title main-h1">Available to withdraw</li>
            <li class="title main-h2"><span>RCN</span> 360.80</li>
            <span class="marginleft5"></span>
            <span class="marginleft60"></span>
            <li><app-withdraw-button></app-withdraw-button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <a class="extension-closebox" *ngIf='extensionToggled' (click)='extensionToggle()'></a>
</div>
