<div id="page-content-wrapper">
  <nav id="navbar" class="navbar">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="navbar-header">
            <a class="button-img" routerLink='/requests'><img src="https://ripiocredit.network/images/logo.png" alt="rcn-image"></a>
            <ul class="nav">
              <i mat-raised-button class="material-icons icon-hamburguer" [matMenuTriggerFor]="menu">menu</i>
              <mat-menu #menu="matMenu">
                <button routerLink='/requests' mat-menu-item>requests</button>
                <button routerLink='/my-loans' mat-menu-item>Loans</button>
                <button routerLink='/loan/31' mat-menu-item>Loans</button>
              </mat-menu>
              <li routerLink='/requests' #tref>Requests</li>
              <li routerLink='/my-loans'>Loans</li>
              <li routerLink='/loan/31'>Help</li>
              <li class="separator">|</li>
              <li (click)="openDialog()">
                <div class="flex-container">
                  <div class="flex-item">
                    <div class="list-avatar">
                      <div class="avatar-container">
                        <app-avatar [seed]=account></app-avatar>
                      </div>
                    </div>
                  </div>
                  <div class="raw-item marginleft15">Perfil</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
