@import '../../scss/_variables.scss'; //variables

.navbar{
  height: 60px;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1000;
  display: block;
  border-width: 0 0 1px;
  border: none;
  border-radius: 0;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 10px 0px;
  background-color: black;
  -webkit-box-shadow: 0 13px 18px 0 rgba(0,0,0,.5);
  -moz-box-shadow: 0 13px 18px 0 rgba(0,0,0,.5);
  box-shadow: 0 13px 18px 0 rgba(0,0,0,.5);
  .navbar-header{
    .button-img{
      display: inline-block;
      img{
        height: 40px;
      }
      img:nth-child(1){display: inline-block;}
      img:nth-child(2){display: none;}
    }
    .header-title {
      display: inline-block;
      font-size: 18px;
      padding: 5px 15px;
      text-transform: uppercase;
      @extend %font-bold;
      @extend %absolute-center-top;
    }
    ul.nav{
      display: none;
      position: relative;
      top: 0;
      height: 40px;
      opacity: 1;
      float: right;
      padding: 9px 0;
      @include transition;
      li{
        cursor: pointer;
        display: none;
        float: left;
        margin-right: 45px;
        @extend %font-bold;
      }
    }
    .icon-hamburguer{
      cursor: pointer;
      font-size: 32px;
      @include transition;
    }
  }
}
.flex-container {
  display: flex;
  flex-direction: row;
  height: auto;
  align-items: center;
  > .flex-item {
    width: 35px;
  }
}

.navbar-extension {
  height: 0px;
  position: absolute;
  top: 85px;
  left: 0;
  right: 0;
  z-index: 9;
  overflow: hidden;
  padding: 0;
  background-color: $gray7;
  @include transition(all 0.2s ease);
  ul{
    li{
      position: relative;
      display: inline-block;
      opacity: 0;
      top: -15px;
      margin-right: 15px;
      &:last-child{
        margin-right: 0px;
      }
      span{
        display: none;
        font-size: 12px;
        @extend %font-light;
      }
    }
  }
  .title.main-h1{font-size: 16px; padding: 10px 0;}
  .title.main-h2{font-size: 16px; padding: 10px 0; @extend %font-bold;}
  .title.main-h2 {
    font-family: 'Roboto', sans-serif;
  }
}

.extension-closebox{
  position: absolute;
  top: 215px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  opacity: 0;
  cursor: pointer;
  background-color: transparent;
  background-color: rgba(0,0,0,0.8);
  display: none;
  z-index: 170;
}

.extension-toggled{
  .navbar-extension{
    height: 130px;
    @include transition(all 0.5s ease);
    ul{
      li{
        @include transition();
        @for $i from 1 through 12 {
          &:nth-child(#{$i}) { 
            @include transition-delay(0.06s * $i); 
          }
        }
        opacity: 1;
        top: 0px;
        &:last-child{
          top: -2px;
        }
      }
    }
  }
  .extension-closebox{
    display: block;
    opacity: 1;
    z-index: 999;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px)  {
  .navbar{
    .container{
      width: 820px;
    }
  }
}

@media (min-width: 768px){
  .navbar{
    height: 80px;
    padding: 15px;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .77), transparent);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .77), transparent);
    .navbar-header{
      width: 100%;
      .button-img{
        img{
          height: 50px;
        }
        img:nth-child(1){display: none;}
        img:nth-child(2){display: inline-block;}
      }
      .header-title {
        display: none;
      }
      ul.nav{
        height: 50px;
        display: block;
        padding: 15px 0;
        li{
          display: block;
          font-size: 16px;
          @include transition;
          &:hover{
            color: $primary;
          }
          &.separator{
            font-weight: 300;
            cursor: default;
            &:hover{
              color: $secondary;
            }
          }
          &:last-child{
            margin-top: -10px;
          }
        }
      }
      .icon-hamburguer{
        display: none;
      }
    }
  }
  .navbar-extension {
    display: block;
    .title.main-h1{padding: 15px 0;}
    .title.main-h2{padding: 15px 0;}
  }
  .navbar-extension{ul{span.marginleft30{display:inline-block;}}}
  .navbar-extension{ul{span.marginleft60{display:none;}}}
  
  .extension-toggled{
    .navbar-extension {
      height: 50px;
      top: 85px;
    }
    .extension-closebox{
      top: 135px;
    }
  }
}

.nav-toggle{
  border-radius: 0;
  padding: 10px 0;
  margin-right: 35px;
  min-height: 50px;

  float: left;
  background-color: transparent;
  border: 1px solid transparent;
  span{
    background-color: #fff;
    height: 1px;
    width: 23px;
  }
  .icon-bar {
    display: block;
    border-radius: 1px;
    @include transition;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }
  .navbar-extension {
    display: block;
  }
  .navbar-extension{ul{span.marginleft30{display:inline-block;}}}
  .navbar-extension{ul{span.marginleft60{display:none;}}}
}


@media (min-width: 992px){
  .navbar-extension{ul{span.marginleft30{display:none;}}}
  .navbar-extension{ul{span.marginleft60{display:inline-block;}}}
}
