<div class="transaction-component">
  <div class="timeline">

    <div class="time-event {{ event.inserted }}" *ngFor='let event of timeline; index as i; first as isFirst; last as isLast'>
      <div class="icon-event bg-{{ event.color }}">
        <i class="{{ event.materialClass }} {{ event.awesomeClass }}">{{ event.icon }}</i>
      </div>
      <div class="line" [ngStyle]="{'border-right': '4px solid ' + event.disableHexa }" *ngIf="!isFirst"></div>
      <div class="circle" [ngStyle]="{'border': '4px solid ' + event.hexa }"></div>
      <div class="title">{{ event.title }} {{ i }}</div>
    </div>

  </div>
</div>