@import '../../../../scss/_variables.scss'; //variables

.transaction-component{
  .timeline{
    margin-left: -15px;
    margin-right: -15px;
    .timeline-table{
      padding-left: 15px;
      padding-right: 15px;
    }
    .time-event{
      position: relative;
      padding-top: 35px;
      color: $secondary;
      .flex-row{
        display: flex;
        flex-flow: row wrap;
        padding: 0px 15px;
        .flex-col{
          &:nth-child(1){
            flex-basis: 20%;
            // background: green;
          }
          &:nth-child(2){
            flex-basis: 10%;
            // background: white;
          }
          &:nth-child(3){
            flex: 1;
            // background: red;
          }
        }
      }

      .flex-row{
        &.header-wrapper{
          &:nth-child(2){
            text-align: center;
          }
        }
  
        &.property-wrapper{
          &:last-child{
            padding-bottom: 10px;
          }
        }
      }
      
      .line{
        position: absolute;
        top: 0;
        height: 100%;
        margin: 4px auto;
        padding-right: 4%;
        border-right: 4px solid #4155ff;
      }

      .event-title{
        line-height: 2.2;
        .title{
          font-size: 18px;
          text-align: left;
          padding-left: 15px;
          @extend %font-bold;
        }
      }
      .fa-chevron-right {
        display: none;
        position: absolute;
        top: 55px; 
        right: 30px;
        @include transition();
        @include transform(translate(0%, -50%));
      }

      .icon-event {
        position: relative;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin: 0 auto;
        @include transition();
        i{
          @extend %absolute-center;
        }
        .svg-inline--fa {
          width: 2.8em;
          height: 1.2em;
          vertical-align: -0.9em;
        }
        &.bg-white{
          color: #000;
        }
      }
      .circle{
        position: relative;
        width: 20px;
        height: 20px;
        display: none;
        border-radius: 50%;
        border: 4px solid #333;
        background-color: #0f0f0f;
        z-index: 9;
        margin-top: 8px;
        @include transition();
        transition-delay: .15s;
      }

      .property,
      .value{
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .property{
        white-space: nowrap; text-overflow: ellipsis; overflow: hidden; 
        font-size: 13px;
        color: #ffffff;
        text-align: center;
        @extend %font-thin;
      }
      .value{
        flex: 1;
        white-space: nowrap; text-overflow: ellipsis; overflow: hidden; 
        font-size: 13px;
        padding-left: 15px;
        @extend %font-bold;
      }

      &.background-active{
        background-color: $tertiary;
        .fa-chevron-right {
          right: 15px;
        }
      }
      &.disabled{
        .icon-event {
          background-color: #333;
        }
      }
      &.true{
        .circle{display: inline-block;}
        .icon-event{position: absolute; left: 8%;}
        .fa-chevron-right{display: inline-block;}
      }
      &:first-child,
      &:last-child{
        cursor: default;
        padding-top: 0;
        background-color: transparent !important;
      }
      &:first-child{
        margin-top: 35px;
      }
      &:last-child{
        margin-top: 35px;
        .fa-chevron-right{
          top: 20px;
        }
      }
    }
  }
}

@media (min-width: 768px){
  .transaction-component{
    .timeline{
      .time-event{
        .flex-row{
          .flex-col{
            .line{
              padding-right: 4.5%;
            }
          }
        }
        &.true{
          .icon-event{left: 70px;}
        }
      }
    }
  }
}

@media (min-width: 992px){
  .transaction-component{
    .timeline{
      .time-event{
        .flex-row{
          padding: 0px;
          .flex-col{
            .line{
              padding-right: 0%;
              margin-left: 23px;
            }

            &.property,
            &.space{ font-size: 14px; }

            &:nth-child(1){
              flex-basis: 90px;
            }
            &:nth-child(2){
              flex-basis: 50px;
            }

          }
        }
        &.true{
          .icon-event{left: 97px; z-index: 99;}
        }
        &:hover{
          .fa-chevron-right { right: 15px; }
          .circle{ background-color: $primary; }
          &.true{
            .icon-event{left: 28px;}
          }
        }
      }
    }
  }
}

