<div class="transaction-component">
  <div class="timeline">

    <div class="timeline-structure">
      <div *ngFor='let event of oTimeline; index as i; first as isFirst; last as isLast'
        (click)="change_table_content(i); onSelectEvent(i)"
        class="time-event {{ event.oProperties.inserted }} {{ event.oProperties.status }}"
        [ngClass]="{'background-active': i === selectedEvent}">
        <div class="icon-event bg-{{ event.oProperties.color }}"
          matTooltip="{{ event.oProperties.messege }}" matTooltipPosition="above">
          <i class="{{ event.oProperties.materialClass }} {{ event.oProperties.awesomeClass }}">{{ event.oProperties.icon }}</i>
        </div>
        
        <div class="line-top" [ngStyle]="{'border-right': '4px solid' + event.oProperties.color }" *ngIf="!isFirst"></div>
        <div class="line-bottom" [ngStyle]="{'border-right': '4px solid' + event.oProperties.color }" *ngIf="!isLast"></div>
        <div class="circle" [ngClass]="{'background-active': i === selectedEvent}"></div>

        <div class="content-wraper">
          <div class="event-title">
            <div class="title">{{ event.oProperties.title }}</div>
          </div>
  
          <div class="content">
            <div class="date">09/09/2018</div>
            <div *ngFor='let datapoint of event.data'>
              {{ datapoint.title }} {{ datapoint.value }} 
            </div>
            <div class="proof">Transaction: {{ event.commit.proof }}</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>