@import '../../../../scss/_variables.scss'; //variables

.transaction-component{
  .timeline{
    margin-left: -15px;
    margin-right: -15px;
    .timeline-table{
      padding-left: 15px;
      padding-right: 15px;
    }
    .timeline-structure{
      height: 400px;
      overflow: auto;
    }
    .time-event{
      width: 100%;
      cursor: pointer;
      position: relative;
      height: 70px;
      padding: 25px 0 25px 70px;
      @include transition();
      .title{
        font-size: 18px;
        color: $secondary;
        display: inline-block;
        left: 110px;
        @extend %font-bold;
        @extend %absolute-center-top;
      }
      .icon-event {
        position: absolute;
        width: 40px;
        height: 40px;
        z-index: 99;
        margin: 0 auto;
        border-radius: 50%;
        margin-left: -10px;
        display: inline-block;
        left: 70px;
        top: 50%; @include transform(translate(0%, -50%));
        i{
          @extend %absolute-center;
        }
        .svg-inline--fa {
          width: 2.8em;
          height: 1.2em;
          vertical-align: -0.9em;
        }
        &.bg-white{
          color: #000;
        }
      }
      .fa-chevron-right {
        display: none;
        position: absolute;
        right: 30px;
        @include transition();
        top: 50%; @include transform(translate(0%, -50%));
      }
      .circle{
        position: absolute;
        left: 70px;
        width: 20px;
        height: 20px;
        display: none;
        border-radius: 50%;
        border: 4px solid #333;
        background-color: #0f0f0f;
        z-index: 9;
        @include transition();
        &.background-active{
          background-color: $primary;
        }
      }
      .line{
        height: 50px;
        width: 12px;
        position: absolute;
        top: -25px;
        z-index: 9;
        border-right: 4px solid $primary;
      }
      &.background-active{
        background-color: $tertiary;
        .fa-chevron-right {
          right: 15px;
        }
      }
      &.disabled{
        .icon-event {
          background-color: #333;
        }
      }
      &.true{
        .circle{display: inline-block;}
        .icon-event{position: absolute; left: 25px;}
        .fa-chevron-right{display: block;}
      }
      &:first-child,
      &:last-child{
        cursor: default;
        background-color: transparent !important;
      }
    }
  }
}

@media (min-width: 992px){
  .transaction-component{
    .timeline{
      .timeline-structure{ height: auto; }
      .time-event{
        cursor: pointer;
        &:hover{
          .fa-chevron-right { right: 15px; }
        }
      }
    }
  }
}
