@import '../../../../scss/_variables.scss'; //variables

.transaction-component{
  .timeline{
    margin-left: -15px;
    margin-right: -15px;
    .timeline-table{
      padding-left: 15px;
      padding-right: 15px;
    }
    .time-event{
      position: relative;
      // background-color: #0c0c0c;
      color: $secondary;
      .header-wrapper{
        display: flex;
        flex-flow: row wrap;
        margin: 35px 0 20px 0px;
        padding: 0 15px;
        .flex-content{
          position: relative;
          &:nth-child(1){
            flex-basis: 20%;
          }
          &:nth-child(2){
            flex-basis: 10%;
          }
          &:nth-child(3){
            flex: 1;
          }
        }
        .event-title{
          line-height: 2.2;
          .title{
            font-size: 18px;
            padding-left: 15px;
            @extend %font-bold;
          }
        }
        .fa-chevron-right {
          display: none;
          position: absolute;
          right: 30px;
          @include transition();
          top: 50%; @include transform(translate(0%, -50%));
        }
      }
      .icon-event {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0 auto;
        i{
          @extend %absolute-center;
        }
        .svg-inline--fa {
          width: 2.8em;
          height: 1.2em;
          vertical-align: -0.9em;
        }
        &.bg-white{
          color: #000;
        }
      }
      .circle{
        top: 10px;
        width: 20px;
        height: 20px;
        display: none;
        border-radius: 50%;
        border: 4px solid #333;
        background-color: #0f0f0f;
        z-index: 9;
        @extend %center-left;
        @include transition();
        &.background-active{
          background-color: $primary;
        }
      }
      .line{
        position: absolute;
        width: 4px;
        height: 250px;
        border-right: 4px solid $primary;
        @extend %center-left;
      }
      .content-wraper{
        position: relative;
        padding-bottom: 10px;
        .content{
          display: flex;
          flex-flow: row wrap;
          padding: 0 15px;
          .property,
          .value{
            display: inline-block;
            padding-top: 10px;
            padding-bottom: 10px;
          }
          .property{
            flex-basis: 20%;
            white-space: nowrap; text-overflow: ellipsis; overflow: hidden; 
            font-size: 13px;
            color: #b2b2b2;
            text-align: center;
            @extend %font-thin;
          }
          .space{flex-basis: 10%;}
          .value{
            flex: 1;
            white-space: nowrap; text-overflow: ellipsis; overflow: hidden; 
            font-size: 14px;
            padding-left: 15px;
            @extend %font-bold;
          }
        }
      }
      &.background-active{
        background-color: $tertiary;
        .fa-chevron-right {
          right: 15px;
        }
      }
      &.disabled{
        .icon-event {
          background-color: #333;
        }
      }
      &.true{
        .circle{display: inline-block;}
        .icon-event{position: absolute; left: -160%;}
        .fa-chevron-right{display: block;}
      }
      &:first-child,
      &:last-child{
        cursor: default;
        background-color: transparent !important;
      }
    }
  }
}

@media (min-width: 768px){
  .transaction-component{
    .timeline{
      .time-event{
        &.true{
          .icon-event{left: -125%;}
        }
      }
    }
  }
}

@media (min-width: 992px){
  .transaction-component{
    .timeline{
      .time-event{
        cursor: pointer;
        .header-wrapper{
          .flex-content{
            &:nth-child(1){
              flex-basis: 100px;
            }
            &:nth-child(2){
              flex-basis: 50px;
            }
          }
        }
        .content-wraper{
          .content{
            .property{flex-basis: 100px;}
            .space{flex-basis: 50px;}
          }
        }
        &.true{
          .icon-event{left: -70px;}
        }
        &:hover{
          .fa-chevron-right { right: 15px; }
        }
      }
    }
  }
}

