<form [formGroup]="form" class="form-group">

 <mat-form-field>
    <input [(ngModel)]="currency"  (change)="currencyChange()"  matInput 
    formControlName="currency"
    id="currency"
    type="text"
    placeholder="Currency">
    <div *ngIf="currency.touched && currency.invalid" class="alert alert-danger">Currency is required</div>
 </mat-form-field>

  <mat-form-field>
    <input matInput 
    formControlName="amount"
    id="amount"
    type="text"
    placeholder="Amount">
  </mat-form-field>

</form>