<div class="container">
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md-6 error-view">
      <h4 class="error-view__label mb-0 mb-md-4 pb-3" *ngIf="label">
        {{ label }}
      </h4>
      <h2 class="error-view__title mt-0 mb-3" *ngIf="title">
        {{ title }}
      </h2>
      <p class="error-view__description" *ngIf="description">
        {{ description }}
      </p>
      <div
        class="error-view__buttons mt-2 mt-md-5 pt-3"
        *ngIf="buttons?.length"
      >
        <button
          mat-raised-button
          class="button"
          [ngClass]="button.class"
          [routerLink]="button.url"
          *ngFor="let button of buttons"
        >
          {{ button.text }}
        </button>
      </div>
      <p class="error-view__disclaimer mt-4 pt-3" [innerHTML]="disclaimer">
      </p>
    </div>
    <div class="col-12 col-md-6 mt-5 mt-md-0 image-wrapper">
      <img [src]="image" alt="404" />
    </div>
  </div>
</div>

<app-footer></app-footer>
