<div class="loans-list-header d-none d-lg-flex">
  <div class="loans-list-header__column loans-list-header__column--amount">
    {{ view === 'active-loans' ? 'Repaid' : 'Lend' }}
  </div>
  <div class="loans-list-header__column loans-list-header__column--currency">
    Currency
  </div>
  <div class="loans-list-header__column loans-list-header__column--debt">
    {{ view === 'active-loans' ? 'Outstanding' : 'Receive' }}
  </div>
  <div class="loans-list-header__column loans-list-header__column--type">
    Type
  </div>
  <div class="loans-list-header__column loans-list-header__column--interest">
    Annual rate
  </div>
  <div class="loans-list-header__column loans-list-header__column--punitory">
    Penalty rate
  </div>
  <div class="loans-list-header__column loans-list-header__column--duration">
    Schedule
  </div>
  <div class="loans-list-header__column loans-list-header__column--installments">
    Installments
  </div>
  <div class="loans-list-header__column loans-list-header__column--borrower">
    Created by
  </div>
  <div class="loans-list-header__column loans-list-header__column--action">
  </div>
</div>
