<div class="loans-list-header d-none d-lg-flex">
  <div class="loans-list-header__column loans-list-header__column--amount">
    Lend
  </div>
  <div class="loans-list-header__column loans-list-header__column--currency">
    Currency
  </div>
  <div class="loans-list-header__column loans-list-header__column--debt">
    Receive
  </div>
  <div class="loans-list-header__column loans-list-header__column--type">
    Loan type
  </div>
  <div class="loans-list-header__column loans-list-header__column--interest">
    Annual rate
  </div>
  <div class="loans-list-header__column loans-list-header__column--punitory">
    Penalty rate
  </div>
  <div class="loans-list-header__column loans-list-header__column--duration">
    Duration
  </div>
  <div class="loans-list-header__column loans-list-header__column--installments">
    Installments
  </div>
  <div class="loans-list-header__column loans-list-header__column--borrower">
    Created by
  </div>
  <div class="loans-list-header__column loans-list-header__column--action">
  </div>
</div>
