<mat-dialog-content>
  <div class="navbar-container">
    <div class="creator-container">
      <div class="creator-title">Insufficient Funds</div>
    </div>
  </div>
  <div class="col-xs-12 dialog-padding">
    <div class="icon"><i class="fas fa-exclamation-triangle yellow"></i></div>
    <div class="margintop20"></div>
    <div class="title main-h2">Your balance is 0 RCN</div>
    <div class="margintop10 visible-xs"></div>
    <div class="title main-h2">You need at least 5000 RCN to make this loan.</div>
    <div class="margintop20"></div>
    <a href="#" mat-raised-button class="button button-primary" target="_blank">{{ 'Buy' }}</a>
  </div>
</mat-dialog-content>