<mat-dialog-content>
  <div class="navbar-container">
    <div class="creator-container">
      <div class="creator-title">Insufficient Funds</div>
    </div>
  </div>
  <div class="col-sm-12 dialog-padding">
    <div class="row">
      <div class="col-sm-12 col-lg-4">
        <div class="icon cursor-none"><i class="fas fa-exclamation-triangle"></i></div>
        <div class="margintop25 visible-xs"></div>
      </div>
      <div class="col-sm-12 col-lg-8">
        <div class="title main-h3">Your balance is {{ balance }} RCN</div>
        <div class="margintop5"></div>
        <div class="title main-h4">
          You need at least {{ required }} RCN to make this loan. 
        </div>
        <a mat-raised-button class="button button-primary margintop15" href="{{link}}" target="_blank">Adquire RCN</a>
      </div>
    </div>
  </div>
</mat-dialog-content>
