<mat-dialog-content>
  <div class="navbar-container">
    <div class="creator-container">
      <div class="creator-title">Insufficient Funds</div>
    </div>
  </div>
  <div class="vertical-align">
    <div class="col-xs-12 col-md-4 dialog-padding vcenter">
        <div class="icon"><i class="fas fa-exclamation-triangle"></i></div>
    </div>
    <div class="col-xs-12 col-md-8 dialog-padding">
      <div class="title main-h3">Your balance is {{ balance }} RCN</div>
      <div class="margintop15"></div>
      <div class="title main-h4">
        You need at least {{ required }} RCN to lend this loan.
        <a href="{{link}}" target="_blank">Adquire RCN</a>.
      </div>
    </div>
  </div>
</mat-dialog-content>