@import '../../../../scss/_variables.scss'; //variables

.properties-block {
  @extend %flex-container;

  &__title {
    flex: 1;
    color: $gray2;
    @extend %propiety-title;

    &:nth-child(1) {
      text-align: left;
    }

    &:nth-child(2) {
      text-align: center;
    }

    &:nth-child(3) {
      text-align: right;
    }
  }
}
