@import '../../../../scss/variables';
@import '../../../../scss/fonts';

.properties-block {
  @extend %flex-container;

  &__title,
  &__currency {
    flex: 1;
    @extend %propiety-title;
    @extend .font13;
    font-family: 'Roboto', sans-serif;
    max-width: 33%;
    overflow: hidden;

    &:nth-child(1) {
      text-align: left;
    }
    &:nth-child(2) {
      text-align: center;
    }
    &:nth-child(3) {
      text-align: right;
    }
  }
  &__currency {
    @extend %font-bold;
    font-size: 1.5em;
  }
}

@media (min-width: 992px) {
  .properties-block {
    &__currency {
      &:nth-child(2) {
        font-size: 2em;
      }
    }
  }
}
