@import '../../../../scss/_variables.scss'; //variables

.properties-block{
  @extend %flex-container;
  div{
    flex: 1;
    &:nth-child(1){
      text-align: left;
    }
    &:nth-child(2){
      text-align: center;
      @extend %propiety-subtitle;
    }
    &:nth-child(3){
      text-align: right;
    }
  }
}
