<form (submit)="onSubmit($event, amount)">
  <div class="col-sm-12">
    <div class="margintop10"></div>
    <mat-form-field>
      <input type="number" step="any" name="eth_amount" placeholder="Amount" ngModel matInput #amount>
    </mat-form-field>
  </div>
  <div class="col-sm-12 margintop20">
    <div class="margintop10"></div>
    <button type="submit" mat-raised-button class="button button-primary" ngModel>{{ 'Submit' }}</button>
    <button mat-raised-button class="button button-secondary" [mat-dialog-close]='false'>{{ 'Cancel' }}</button>
  </div>
</form>
