@import '../../../scss/variables';
@import '../../../scss/fonts';

.dialog-content {
  .item {
    &__subtitle {
      @include styled-font('Raleway', 500, 12px);
      text-transform: uppercase;
    }
    &--description {
      @include typography-headline(6);
    }
    &--entry {
      .currency {
        position: absolute;
        z-index: 2;
        right: 0;
        bottom: -2px;
        padding: 10px;
        font-size: 1.5em;
        background: var(--app-color-gray-400);
        color: white;
        user-select: none;
      }
      input {
        @include styled-font('Roboto', 900, 30px);
        margin-top: -1.15em;
      }
      ::ng-deep label {
        margin-top: -1.15em;
        span {
          @include styled-font('Roboto', 900, 30px);
        }
        .mat-placeholder-required {
          display: none;
        }
      }
    }
    &--amount {
      .value {
        @include styled-font('Roboto', 400, 18px);
        color: var(--app-color-gray-50);
        width: 250px;
        margin-top: 14px;
      }
    }
    &--withdraw {
      &-content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .value {
        @extend %roboto-regular;
        font-size: 1.5em;
        color: $gray5;
      }
      button {
        min-width: 0;
        line-height: 2.2em;
      }
    }
  }
}

.dialog-divisor {
  background: var(--app-color-gray-600);
  border-bottom: 1px solid var(--app-color-gray-100);

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    @extend %roboto-regular;
    color: $gray2;
    i {
      font-size: 1.5em;
    }
  }
}

.dialog-footer {
  align-items: center;
  @extend %roboto-regular;

  &__label {
    text-align: center;
    color: $gray2;
  }
  &__buttons {
    text-align: right;
    margin-top: 25px;

    button {
      width: 100%;
    }
  }
}

@media (min-width: 768px){
  .dialog-padding {
    padding: 30px 42px;
  }
  .dialog-footer {
    &__label {
      text-align: left;
    }
    &__buttons {
      margin-top: 0;
      button {
        width: auto;
      }
    }
  }
}
