<mat-dialog-content>
  <div class="navbar-container">
    <div class="creator-container">
      <div class="creator-title">Collateral adjustment</div>
    </div>
  </div>
  <div class="col-sm-12 dialog-padding">
    <div class="dialog-description">
      Select the amount you want to {{ action }} to your collateral supply.
    </div>
    <ng-container [ngSwitch]="action">
      <app-collateral-add-form
        *ngSwitchCase="'add'"
        [loan]="loan"
        [collateral]="collateral"
        (submitAdd)="addCollateral($event)"
      ></app-collateral-add-form>
      <app-collateral-withdraw-form
        *ngSwitchCase="'withdraw'"
        (submitWithdraw)="withdrawCollateral($event)"
      ></app-collateral-withdraw-form>
    </ng-container>
  </div>
</mat-dialog-content>
