@import '../../../scss/_variables.scss'; //variables

.mat-dialog-container {
  height: 210px;
}
.dialog-padding {
  padding: 30px;
}
.navbar-container {
  height: 70px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333333;
  .creator-container {
    .creator-title {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      color: $fifth;
      font-size: 22px;
      text-align: center;
      padding: 0 15px;
      @extend %font-black;
      @include transform(translate(-50%, -50%));
    }
  }
}
.dialog-description {
  font-size: 1.4em;
  font-weight: 500;
}

@media (min-width: 768px) {
  .navbar-container {
    height: 100px;
    .creator-container {
      .creator-title {
        font-size: 36px;
      }
    }
  }
  .transfer-width{
    min-width: 600px;
  }
}

@media (min-width: 992px) {
  .transfer-width {
    min-width: 750px;
  }
  .dialog-padding {
    padding: 30px 60px;
  }
}

@media (min-width: 1200px) {
  .transfer-width {
    min-width: 900px;
  }
}
