@import '../../../scss/variables';
@import '../../../scss/fonts';

.mat-dialog-content {
  max-height: 100vh;
}
.mat-dialog-container {
  height: 210px;
}
.dialog-padding {
  padding: 30px;
}
.navbar-container {
  height: 70px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333333;
  .creator-container {
    .creator-title {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      color: $fifth;
      font-size: 22px;
      text-align: center;
      padding: 0 15px;
      @extend %font-black;
      @include transform(translate(-50%, -50%));
    }
  }
  app-infinite-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
.dialog-description {
  @extend %font-semi-bold;
  @extend .font18;
  font-weight: 500;
}

// children form styles
/deep/ app-collateral-add-form,
/deep/ app-collateral-withdraw-form {
  .collateral {
    .subtitle {
      @extend .font12;
      color: white;
      display: inline-block;
      text-transform: uppercase;
    }
    &__entry {
      .currency {
        position: absolute;
        z-index: 2;
        right: 0;
        bottom: -2px;
        padding-top: 10px;
        padding-bottom: 4px;
        padding-left: 10px;
        font-size: 1.5em;
        background: $gray9;
        color: $gray5;
        user-select: none;
      }
      .mat-form-field {
        &:not(.mat-focused) {
          .mat-form-field-underline {
            .mat-form-field-ripple {
              opacity: 0 !important;
            }
          }
        }

        &--empty {
          input {
            font-size: 1em;
            font-weight: 400;
            height: 27px;
          }
        }

        ::-webkit-input-placeholder,
        ::placeholder {
          color: $gray5;
        }
        input {
          @extend %roboto-semi-bold;
          @extend .font25;
        }
        .mat-form-field-infix {
          padding: 2px 0;
        }
        .mat-form-field-flex {
          padding-top: 0;
        }
        .mat-form-field-underline {
          background: $gray5;
        }
      }
    }
    &__amount {
      .value {
        @extend %roboto-semi-bold;
        @extend .font25;
        width: 250px;
        margin-top: 10px;
      }
    }
    &__withdraw {
      &-content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .value {
        @extend %roboto-regular;
        font-size: 1.5em;
        color: $gray5;
      }
      button {
        min-width: 0;
        line-height: 2.2em;
      }
    }
    &__graphic {

    }
  }
  .dialog-divisor {
    background: $gray7;
    margin: 0 -30px;
    padding: 0 15px;

    &__content {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: .9em;
      padding-top: 10px;
      padding-bottom: 10px;
      @extend %roboto-regular;
      color: $gray2;
      i {
        font-size: 1.5em;
      }
    }
  }
  .dialog-footer {
    align-items: center;
    @extend %roboto-regular;

    &__label {
      text-align: center;
      color: $gray2;
    }
    &__buttons {
      text-align: right;
      margin-top: 25px;
    }
  }
}


@media (min-width: 768px) {
  .navbar-container {
    height: 100px;
    .creator-container {
      .creator-title {
        font-size: 36px;
      }
    }
  }
}

@media (min-width: 992px) {
  .mat-dialog-content {
    width: 992px;
    max-width: 100%;
  }
  .dialog-padding {
    padding: 30px 60px;
  }

  // children form styles
  /deep/ app-collateral-add-form,
  /deep/ app-collateral-withdraw-form {
    .dialog-divisor {
      margin: 0 -60px;
      padding: 0 40px;
    }
    .dialog-footer {
      &__label {
        text-align: left;
      }
      &__buttons {
        margin-top: 0;
      }
    }
  }
}
