@import '../../../../scss/variables';

.avatar-container {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--app-color-primary);
  &.request{color: $black; background-color: $white;}
  &.ongoing{background-color: var(--app-color-primary);}
  &.indebt{background-color: $orange;}
  &.paid{background-color: $gray7;}
  &.destroyed{background-color: $red;}
  &.expired{background-color: $red;}
  i {
    margin: 0 auto;
  }
  .title {
    font-size: 18px;
    color: var(--app-color-secondary);
    @extend %font-extra-bold;
  }
  img {
    width: 50px;
    border-radius: 50%;
  }
}
