@import '../../../../scss/variables';

.avatar-container {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  background-color: $primary;
  box-shadow: 0 0 6px #00000029, 0 6px 12px rgba(0,0,0,.32);
  &.request{color: $black; background-color: $white;}
  &.ongoing{background-color: $blue;}
  &.indebt{background-color: $orange;}
  &.paid{background-color: $gray7;}
  &.destroyed{background-color: $red;}
  &.expired{background-color: $red;}
  i {
    margin: 0 auto;
  }
  .title {
    font-size: 18px;
    color: $secondary;
    @extend %font-black;
  }
  img {
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
  }
}
