@import '../../../../scss/fonts';

.loan-card {
  position: relative;
  border-radius: 10px;
  background-color: var(--app-color-gray-700);
  -webkit-transition: box-shadow 150ms cubic-bezier(0,0,.2,1);

  &__creator,
  &__content,
  &__amounts {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__amounts {
    background-color: #1B1B1D;
  }

  &__content {
    background-color: #212124;
  }

  &__creator {
    border-radius: 10px 10px 0 0;
  }

  &__content {
    padding-top: 24px;
    padding-bottom: 7px;
    color: var(--app-color-secondary);
    border-radius: 0 0 10px 10px;
  }

  &__property {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;

    &-icon {
      $iconSize: 35px;
      width: $iconSize;
      height: $iconSize;
      min-width: $iconSize;
      min-height: $iconSize;
      background: var(--app-color-gray-100);
      color: var(--app-color-gray-900);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2em;
      margin-top: 6px;
    }
    &-content {
      width: 100%;
      padding-left: 16px;
    }
    &-title {
      @include typography-headline(7);
      text-transform: uppercase;
    }
    &-description {
      @include typography-subtitle(2);
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 90%;
    }

    &--strong {
      .loan-card__property-title {
        @include typography-body(2);
      }
      .loan-card__property-description {
        @include styled-font('Roboto', 600, 22px);
      }
    }
    &--primary {
      .loan-card__property-description {
        @include styled-font('Roboto', 600, 30px);
      }
    }
    &--installments {
      .mat-expansion-panel {
        background: none;
        ::ng-deep {
          .mat-expansion-panel-body {
            padding: 10px 0 0 !important;
          }
        }
        &-header {
          @include typography-subtitle(2);
          min-height: 25px;
          max-height: 25px;
          padding-left: 0;
          &,
          &:hover,
          &:focus {
            background: none;
          }
        }
        .installment {
          width: 100%;
          display: flex;
          margin-bottom: 10px;
          color: var(--app-color-gray-50);
          &__col {
            &--number {
              width: 20%;
            }
            &--date {
              width: 40%;
            }
            &--amount {
              width: 40%;
            }
          }
        }
      }
    }
  }

  &__expand {
    text-align: right;
    margin-right: -10px;
    margin-top: -10px;
    button {
      @include typography-button(1);
      text-decoration: underline;
    }
  }

  &__amounts {
    border-bottom: 1px solid var(--app-color-gray-100);
    padding-top: 24px;
  }

  .collateral-expansion-panel {
    background: none;
    ::ng-deep {
      .mat-expansion-panel-body {
        padding: 0;
      }
    }
  }
}

.confirm-button {
  padding-top: 10px;
  button {
    width: 100%;
    height: 45px;
  }
}

@media (max-width: 992px) {
  $cardHeaderHeight: 40px;
  $cardHeight: 66vh;

  .loan-card {
    position: fixed;
    z-index: 2;
    border-radius: 0px;
    bottom: - $cardHeight;
    left: 0;
    width: 100%;
    height: $cardHeight;
    overflow-y: scroll;
    padding-top: $cardHeaderHeight;
    padding-top: 0;
    background: var(--app-color-gray-600);
    transition: .3s;

    &--confirm-available {
      .loan-card__header {
        color: var(--app-color-primary-light);
      }
    }

    &__header {
      position: fixed;
      background: var(--app-color-gray-600);
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 50;
      height: $cardHeaderHeight;
      display: flex;
      align-items: center;
      border-radius: 16px 16px 0 0;
      transition: .3s;
    }
    &__creator {
      display: none;
    }

    &--expanded {
      bottom: 0;
      z-index: 50;
      .loan-card__header {
        bottom: $cardHeight;
      }
    }
  }

  .confirm-button {
    position: fixed;
    z-index: 4;
    bottom: - $cardHeight;
    left: 0;
    width: 100%;
    padding: 26px 16px 16px;
    transition: .3s;
    background: linear-gradient(
      0deg,
      var(--app-color-gray-600),
      var(--app-color-gray-600),
      var(--app-color-gray-600),
      transparent
    );

    &--expanded {
      bottom: 0;
    }
  }
}

@media (min-width: 992px) {
  .confirm-button {
    button {
      transition: .3s;
    }
    button[disabled] {
      transform: scale(0);
    }
  }
}
