@import '../../../../scss/_variables.scss'; //variables

.empty-container{
  height: 100%;
  .empty-row{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}

.img-box {
  width: 280px;
}

//Typography
.main-title {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.main-sub-title {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.main-text {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

a {
  color: white;
  @extend %roboto-medium;
}
