<div class="empty-container" *ngIf="class === 'company'">
  <div class="empty-row">
    <div class="main-title">
      Company
    </div>
    <div class="margintop20"></div>
    <div class="img-box">
      <img [src]="identity.brand" class="img-responsive img-center" />
    </div>
    <div class="marginbottom05"></div>
    <div class="main-sub-title">
      {{ identity.slogan }}
    </div>
    <div class="marginbottom20"></div>
    <div class="title main-h4">
      {{ identity.description }}
    </div>
    <div class="margintop10"></div>
    <app-item-feature
      *ngFor="let feature of identity.features"
      [feature]="feature"
    >
    </app-item-feature>
  </div>
</div>

<div class="empty-container filter" *ngIf="hasIdentity() == undefined">
  <div class="empty-row">
    <i class="fas fa-id-badge gray7 font90"></i>
    <div class="margintop20"></div>
    <div class="title main-h3">The borrower of this loan is anonymous</div>
    <div class="margintop10"></div>
    <div class="title main-h4">
      The address is
      <a target="_blank" href="{{ borrowerLinkExplorer }}">{{
        loan.borrower
      }}</a>
      , but we have no information about its identity
    </div>
  </div>
</div>
