<div class="empty-container" *ngIf="class === 'company'">
  <div class="empty-row">
    <div class="title main-h3">
      Company
    </div>
    <div class="margintop20"></div>
    <img [src]="identity.brand" class="img-responsive img-center">
    <div class="marginbottom20"></div>
    <div class="title mb-5">
      {{ identity.slogan }}
    </div>
    <div class="title main-h4">
      {{ identity.description }}
    </div>
    <div class="margintop10"></div>
  </div>
</div>


<div class="empty-container filter" *ngIf="hasIdentity() == undefined">
  <div class="empty-row">
    <i class="fas fa-id-badge gray7 font90"></i>
    <div class="margintop20"></div>
    <div class="title main-h3">The borrower of this loan is anonymous</div>
    <div class="margintop10"></div>
    <div class="title main-h4">
      The address is
      <a target="_blank" href="{{ borrowerLinkExplorer }}">{{ loan.borrower }}</a>
      , but we have no information about its identity</div>
  </div>
</div>
