<mat-dialog-content class="dialog">
  <button matDialogClose mat-button class="dialog__dismiss">
    <mat-icon>
      close
    </mat-icon>
  </button>
  <div class="dialog-content">
    <div class="dialog-content__title">
      <h2>
        Choose a network
      </h2>
    </div>
    <div class="dialog-content__description">
      <p>
        Select the one you want to use on the Credit Marketplace.
      </p>
    </div>
    <div class="dialog-content__actions">
      <button
        *ngFor="let chain of chains"
        mat-raised-button
        class="button-connect"
        [class.button-connect--active]="chain.active"
        (click)="selectChain(chain, chain.active)"
      >
        <div class="d-flex align-items-center">
          <img [src]="chain.image" [alt]="chain.image">
          <span>{{ chain.name }}</span>
        </div>
      </button>
    </div>
  </div>
</mat-dialog-content>
