<ngx-spinner bdColor="rgba(0,0,0,.3)" size="medium" color="#fff" type="ball-clip-rotate-multiple"></ngx-spinner>
<div class="container">
  <div class="row">
    <div class="col-sm-12 d-none d-lg-block">
      <div class="title main-h1">Activity</div>
      <mat-chip-list>
        <mat-chip class="margintop30 marginright15" selected="true">{{ loans.length }} ACTIVE LOANS</mat-chip>
      </mat-chip-list>
    </div>
  </div>

  <div class="loan-container row">
    <div class="col-sm-12 text-center" *ngIf='!availableLoans'>
      <div class="title main-h1">This address is not a lender</div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 card-col"
    *ngFor='let loan of loans; let i of index'>
      <app-loan-card [loan]="loan"></app-loan-card>
    </div>
  </div>
</div>
