@import '../../../scss/_variables.scss'; //variables

//Dialog Client
.dialog-padding{
  padding: 30px 15px;
  text-align: center;
}
.vertical-align {
  display: flex;
  align-items: center;
}
a {
  color: white;
  text-decoration: underline;
}
.icon {
  font-size: 1.3em;
  color: gray;
}
.img-container{
  text-align: center;
  margin-top: 20px;
  img{
    height: 150px;
    margin: 0 auto;
  }
}
svg{
  font-size: 3.5em;
}

@media (min-width: 768px){
  svg{
    font-size: 5em;
  }
  .dialog-padding{
    padding: 30px;
  }
}
