<div class="col-xs-12">
  <mat-chip-list>
    <mat-chip class="margintop30 marginright15" selected="true" [color]="$primary">{{availableLoans}} AVAILABLE</mat-chip>
    <p *ngIf='cards.length > 3'>There are a lot of Loans for your profile!</p>
  </mat-chip-list>
</div>

<div class="col-xs-12">
  <div class="margintop30"><h4>LOAN #{{ bestLoan.id }} is the best for you</h4></div>
</div>

<div class="col-xs-12 col-sm-4 col-lg-3 card-col" 
*ngFor='let card of cards'>

  <div class="card-container">
    <div class="card-label">
      <div class="title">Loan #{{ card.id }}</div>
    </div>
    <div class="card-img"></div>
    <div class="card-row">
      <div class="card-property">
        <div class="title">{{ 'Status' }}</div>
        <div class="paragraph">{{ card.status }}</div>
      </div>
      <div class="card-property">
        <div class="title">{{ 'Borrower' }}</div>
        <div class="paragraph">{{ card.borrower }}</div>
      </div>
      <div class="card-property">
        <div class="title">{{ 'Amount' }}</div>
        <div class="paragraph">{{ card.amount }} ARS</div>
      </div>
      <div class="card-property">
        <div class="title">{{ 'Durations' }}</div>
        <div class="paragraph">{{ card.duration }} days</div>
      </div>
      <div class="card-property">
        <div class="title">{{ 'Annual interest' }}</div>
        <div class="paragraph">{{ card.annualInterest }} days</div>
      </div>
      <div class="card-property">
        <div class="title">{{ 'Annual Punitory Interest' }}</div>
        <div class="paragraph">{{ card.annualPunitoryInterest }} days</div>
      </div>

      <ul>
        <app-card-item></app-card-item>
      </ul>

      <a><button class="btn btn-primary btn-block" (click)='onCreateContract()' [disabled]="!allowLendStatus">Lend</button></a>
    </div>
  </div>

</div>
<div class="col-xs-12">
  <a class="btn btn-primary" (click)='onGet()'>Get Cards</a>
  <a class="btn btn-primary" (click)='onSaveData()'>Save Cards</a>
</div>
