<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">{{ 'Duration' }}</th>
        <th scope="col">{{ 'Start Date' }}</th>
        <th scope="col">{{ 'Due Date' }}</th>
        <th scope="col">{{ 'Deadline' }}</th>
        <th scope="col">{{ 'Remaining' }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ '365 DAYS' }}</td>
        <td>{{ '09.10.2017' }}</td>
        <td>{{ '03.10.2017' }}</td>
        <td>{{ '15.10.2017' }}</td>
        <td>{{ '260 DAYS' }}</td>
      </tr>
    </tbody>
  </table>
</div>