@import '../../../../scss/_variables.scss'; //variables

.table{
  >thead{
    >tr{
      >th {
        border: 0px;
        background-color: #333333;
        @extend %propiety-title;
      }
    }
  }
  >tbody{
    >tr{
      >td {
        border: 0px;
        @extend %propiety-subtitle;
      }
    }
  }
}