@import '../../../scss/variables';

.navbar-container {
  height: 70px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333333;
  .creator-container {
    .creator-title{
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      color: $fifth;
      font-size: 22px;
      text-align: center;
      padding: 0 15px;
      @extend %font-black;
      @include transform(translate(-50%, -50%));
    }
  }
}

.dialog-content {
}

.dialog-divisor {
  background: $gray7;

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    @extend %roboto-regular;
    color: $gray2;
    i {
      font-size: 1.5em;
    }
  }
}

.dialog-footer {
  align-items: center;
  @extend %roboto-regular;

  &__label {
    text-align: center;
    color: $gray2;
  }
  &__buttons {
    text-align: right;
    margin-top: 25px;

    button {
      width: 100%;
    }
  }
}

@media (min-width: 768px){
  .navbar-container {
    height: 100px;
    .creator-container {
      .creator-title{
        font-size: 36px;
      }
    }
  }
  .dialog-padding {
    padding: 30px 42px;
  }
}

@media (min-width: 992px) {
  .item {
    &--installment,
    &--amount,
    &--due-date {
      .item__value {
        margin: 8px 0 26px;
      }
    }
    &--left-to-pay {
      .item__value {
        margin: 20px 0 10px;
      }
    }
  }

  .dialog-footer {
    &__label {
      text-align: left;
    }
    &__buttons {
      margin-top: 0;
      button {
        width: auto;
      }
    }
  }
}
