<mat-dialog-content>
  <div class="navbar-container">
    <div class="creator-container">
      <div class="creator-title">
        <button
          matDialogClose
          class="d-md-none creator-container__back"
        >
          <i class="fas fa-arrow-left"></i>
        </button>
        Loan Transfer
      </div>
    </div>
  </div>
  <div class="col-sm-12 dialog-padding">
    <div class="title main-h2">You're transfering a Loan</div>
    <app-transfer-form (submitTransfer)='submit($event)'></app-transfer-form>
  </div>
</mat-dialog-content>
