<div class="row">
  <div class="col-xs-12 col-sm-4">
    <img src="../../../assets/rcn-logo.png" class="img-responsive half-logo" alt="rcn-image">
  </div>
  <div class="col-xs-12 col-sm-8">
    <div class="title main-h2">Loan Transfer</div>
    <div class="current-balance">
      <span class="title">Your current balance is </span>
      <img src="../../../assets/rcn-logo.png" class="currency-logo" alt="rcn-image">
      <span class="rcn-balance">{{ '2000' }}</span>
    </div>
    <app-form></app-form>
  </div>
</div>