@import '../../../scss/variables';

.dialog-content {
  .title {
    font-size: 14px;
  }
}

.dialog-divisor {
  background: var(--app-color-gray-600);
  border-bottom: 1px solid var(--app-color-gray-100);

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    @extend %roboto-regular;
    color: $gray2;
    i {
      font-size: 1.5em;
    }
  }
}

.dialog-footer {
  align-items: center;
  @extend %roboto-regular;

  &__label {
    text-align: center;
    color: $gray2;
  }
  &__buttons {
    text-align: right;
    margin-top: 25px;

    app-transfer-button {
      ::ng-deep a {
        width: 100%;
      }
    }
  }
}

@media (min-width: 768px){
  .dialog-padding {
    padding: 30px 42px;
  }
  .dialog-content {
    .title {
      font-size: 18px;
    }
  }
  .dialog-footer {
    &__label {
      text-align: left;
    }
    &__buttons {
      margin-top: 0;
      app-transfer-button {
        ::ng-deep a {
          width: auto;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .dialog {
    max-width: 800px;
  }
  .item {
    &--installment,
    &--amount,
    &--due-date {
      .item__value {
        margin: 8px 0 26px;
      }
    }
    &--left-to-pay {
      .item__value {
        margin: 20px 0 10px;
      }
    }
  }
}
