<ngx-spinner
  bdColor="rgba(0,0,0,.3)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-multiple"
></ngx-spinner>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="container" formGroupName="formUi">
    <div class="dialog-content dialog-padding">
      <div class="row mb-3 mt-4 mt-md-0 mb-5">
        <div class="col col-12 item item--description">
          Select the amount you want to add to your collateral supply.
        </div>
      </div>
      <div class="row mb-4">
        <div class="col col-12 col-md-4 mb-3 mb-md-0 item item--entry">
          <p class="item__subtitle">
            Amount you want to add
          </p>
          <mat-form-field
            class="mt-2"
            [class.mat-form-field--empty]="!form?.value.formUi.entryAmount"
          >
            <input
              matInput
              type="number"
              min="0"
              max="1000000"
              formControlName="entryAmount"
              placeholder="0"
              pattern="^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$"
              [readonly]="loading"
              required
            />
            <span class="currency">
              {{ form?.value.formRatios.currency?.symbol }}
            </span>
          </mat-form-field>
        </div>
        <div class="col col-12 col-md-4 offset-md-4 mb-3 mb-md-0 item item--amount">
          <p class="item__subtitle">
            Collateral amount
          </p>
          <p class="value">
            {{ form?.value.formRatios.formattedAmount }}
            {{ form?.value.formRatios.currency?.symbol }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col col-12 mb-3 mb-md-0 item item--graphic">
          <p class="item__subtitle">
            Collateral to debt
          </p>
          <div class="mt-2 px-2 px-md-0">
            <app-collateral-slider-debt
              [liquidationRatio]="form?.value.formRatios.liquidationRatio"
              [balanceRatio]="form?.value.formRatios.balanceRatio"
              [collateralRatio]="form?.value.formRatios.collateralRatio"
            ></app-collateral-slider-debt>
          </div>
        </div>
      </div>
    </div>

    <div class="margintop15"></div>

    <div class="dialog-divisor dialog-padding py-0 mt-4 mt-md-0 row">
      <div class="dialog-divisor__content col-sm-12">
        <i class="material-icons mr-2">
          info
        </i>
        Liquidation Price: {{ form?.value.formRatios.liquidationPrice }}
      </div>
    </div>

    <div class="margintop20"></div>

    <div class="dialog-footer dialog-padding pt-0 pb-3 row">
      <div class="dialog-footer__label col-sm-12 col-md-6">
        <p>
          Paying from your <strong>{{ shortAccount }}</strong> account.
        </p>
      </div>
      <div class="dialog-footer__buttons col-sm-12 col-md-6 pb-1 px-md-0">
        <div class="row justify-content-end">
          <div class="col-md-12">
            <button
              type="submit"
              mat-raised-button
              class="button button-primary mr-0 mr-lg-2"
              [class.button-disabled]="loading"
            >
              {{ submitButtonText }}
            </button>
            <app-close-button class="d-none d-md-inline"></app-close-button>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
