@import '../../../scss/_variables.scss'; //variables

.button-group{
  height: 70px;
  display: none;
}
.button-options{
  cursor: pointer;
  width: 70px;
  display: flex;
  align-items: center;
  color: $secondary;
  @include transition;
  &:hover{
    background-color: $tertiary;
  }
  &.active{
    color: $primary;
    &:hover{
      background-color: transparent;
    }
  }
  i{
    margin: 0 auto;
    &.fas{
      font-size: 1.5em;
    }
  }
}

@media (min-width: 992px) { 
  .button-group{
    height: 100px;
    display: flex;
  }
}