@import '../../../scss/_variables.scss'; //variables

.button-group{
  height: 70px;
  max-width: 100px;
  display: flex;
  overflow: hidden;
}
.button-options{
  cursor: pointer;
  width: 50px;
  display: flex;
  align-items: center;
  color: $secondary;
  @include transition;
  &:hover{
    background-color: $tertiary;
  }
  &.active{
    color: $primary;
    &:hover{
      background-color: transparent;
    }
  }
  i{
    margin: 0 auto;
    &.fas{
      font-size: 1.5em;
    }
  }
}