@import '../../../scss/_variables.scss'; //variables

.button-group{
  height: 70px;
}
.button-options{
  display: none;
  cursor: pointer;
  width: 70px;
  align-items: center;
  color: $secondary;
  @include transition;
  i{
    margin: 0 auto;
    &.fas{
      font-size: 1.5em;
    }
  }
  &:hover{
    background-color: $tertiary;
  }
}
button{
  &.mat-icon-button {
    width: 70px;
    height: 70px;
  }
  &.mat-menu-item {
    i{
      margin-right: 15px;
      min-width: 15px;
      text-align: center;
    }
  }
}

.button-options,
.mat-menu-item{
  &.active{
    color: $primary;
    &:hover{
      background-color: transparent;
    }
  }
}

@media (min-width: 992px) { 
  .button-group{
    height: 100px;
    display: flex;
    .button-options{
      display: flex;
    }
  }
  button{
    &.mat-icon-button {
      display: none;
    }
  }
}