
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-4">
          <mat-card>
            <mat-card-header>
              <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
              <mat-card-title>Cards are the best</mat-card-title>
              <mat-card-subtitle>Really, they are!</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://source.unsplash.com/random/800x600">
            <mat-card-content>
              <p>Something pretty...</p>
            </mat-card-content>
          </mat-card>
        </div>
        
        <div class="col-xs-4">
          <mat-card>
            <mat-card-header>
              <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
              <mat-card-title>Cards are the best</mat-card-title>
              <mat-card-subtitle>Really, they are!</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://source.unsplash.com/random/800x600">
            <mat-card-content>
              <p>Something pretty...</p>
            </mat-card-content>
          </mat-card>
        </div>
        
        <div class="col-xs-4">
          <mat-card>
            <mat-card-header>
              <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
              <mat-card-title>Cards are the best</mat-card-title>
              <mat-card-subtitle>Really, they are!</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://source.unsplash.com/random/800x600">
            <mat-card-content>
              <p>Something pretty...</p>
            </mat-card-content>
          </mat-card>
        </div>
        
      </div>
    </div>
  </div>
</div>