<div class="currency-selection-container" *ngIf='!isDesktop'>
  <div class="title main-h1 margintop15">currency selection</div>
  <p>Select the Currency you want to lend and compare with the other available currencies values</p>

  <div class="currency-block" 
  [ngClass]="rcnAvailable ? 'available-currency' : 'disabled-currency'"
  (click)="selectCurrency('rcn')">
    <div class="circle-container">
      <div class="circle">
        <img src='src/assets/rcn-currency.svg' alt='rcn-logo'>
      </div>
    </div>
    <div class="txt-container">
      <div class="amount">{{ this.formatAmount(this.loan.amount) }}</div>
      <div class="currency">{{ 'RCN' }}</div>
    </div>
    <mat-slide-toggle #rcnSlideToggle
    (change)='toggle($event)'
    [checked]=true></mat-slide-toggle>
  </div>
  
  <div class="currency-block disabled" 
  [ngClass]="ethAvailable ? 'available-currency' : 'disabled-currency'"
  (click)="selectCurrency('eth')">
    <div class="circle-container">
      <div class="circle">
        <i class="fab fa-ethereum"></i>
      </div>
    </div>
    <div class="txt-container">
      <div class="amount">{{ this.formatAmount(this.loan.amount) }}</div>
      <div class="currency">{{ 'ETH' }}</div>
    </div>
    <mat-slide-toggle #ethSlideToggle
    (change)='toggle($event)'
    [disabled]='!ethAvailable'></mat-slide-toggle>
  </div>
</div>