<div class="container margintop100">
  <div class="row">

    <div class="col-xs-12">
      
      <mat-tab-group [selectedIndex]="0">
        <mat-tab label="All Loans">

          <div class="row margintop40">

            
            <div class="col-xs-12 col-sm-4 col-lg-3 card-col" *ngFor='let card of cards'>
              <div class="card-container">
                <div class="card-label">
                  <div class="title">Loan #{{ card.id }}</div>
                </div>
                <div class="card-img"></div>
                <div class="card-row">
                  <div class="card-property">
                    <div class="title">{{ status }}</div>
                    <div class="paragraph">{{ card.status }}</div>
                  </div>
                  <div class="card-property">
                    <div class="title">{{ 'Borrower' }}</div>
                    <div class="paragraph">{{ card.borrower }}</div>
                  </div>
                  <div class="card-property">
                    <div class="title">{{ 'Amount' }}</div>
                    <div class="paragraph">{{ card.amount }} ARS</div>
                  </div>
                  <div class="card-property">
                    <div class="title">{{ 'Durations' }}</div>
                    <div class="paragraph">{{ card.duration }} days</div>
                  </div>
                  <div class="card-property">
                    <div class="title">{{ 'Annual interest' }}</div>
                    <div class="paragraph">{{ card.annualInterest }} days</div>
                  </div>
                  <div class="card-property">
                    <div class="title">{{ 'Annual Punitory Interest' }}</div>
                    <div class="paragraph">{{ card.annualPunitoryInterest }} days</div>
                  </div>
                  <!-- <div class="card-property">
                    <div class="title">Allow new server {{ status }}</div>
                    <div class="paragraph" [innerText]='allowLendStatus' *ngIf='allowLendStatus'></div>
                  </div> -->
                  <!-- <div class="card-property">
                    <div class="title">{{ 'Status' }}</div>
                    <div class="paragraph">{{ lendContractCreated }}</div>
                  </div> -->
                  <!-- <div class="card-property">
                    <div class="title">Contract Name</div>
                    <div class="paragraph">The contract name {{ contractName }}</div>
                  </div> -->

                  <a><button class="btn btn-primary btn-block" (click)='onCreateContract()' [disabled]="!allowLendStatus">Lend</button></a>
                </div>
              </div>
    
              <!-- <div class="title">Type your contract name</div>
              <input type="text" class="form-control" (input)="OnUpdateContractName($event)"> -->
            </div>
    
    
          </div>
          <mat-chip-list>
            <mat-chip class="marginbottom20 marginright15" selected="true" [color]="$primary">{{availableLoans}} AVAILABLE</mat-chip>
            <p *ngIf='cards.length > 3'>There are a lot of Loans for your profile!</p>
          </mat-chip-list>
          <div><h4>LOAN #{{ bestLoan.id }} is the best for you</h4></div>

        </mat-tab>
        <mat-tab label="My Loans">

          <div class="row margintop40">
            <div class="col-xs-12 col-sm-4 col-lg-3 card-col">
              <div class="card-container">
                <div class="card-label">
                  <div class="title">Loan #{{ '1' }}</div>
                </div>
                <div class="card-row">
                  <i class="material-icons">expand_more</i>
                  <div class="card-property">
                    <div class="title">{{ status }}</div>
                    <div class="paragraph">{{ statusValue }}</div>
                  </div>
                  <div class="card-property">
                    <div class="title">Allow new server {{ status }}</div>
                    <div class="paragraph" [innerText]='allowLendStatus' *ngIf='allowLendStatus'></div>
                  </div>
                  <div class="card-property">
                    <div class="title">{{'Contract Status'}}</div>
                    <div class="paragraph">{{ lendContractCreated }}</div>
                  </div>
                  <div class="card-property">
                    <div class="title">Contract Name</div>
                    <div class="paragraph">The contract name {{ contractName }}</div>
                  </div>
                  <a><button class="btn btn-primary btn-block" (click)='onCreateContract()' [disabled]="!allowLendStatus">Lend</button></a>
                </div>
              </div>
    
              <!-- <div class="title">Type your contract name</div>
              <input type="text" class="form-control" (input)="OnUpdateContractName($event)"> -->
            </div>
          </div>

        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="col-xs-12">
      
    </div>
    
    <!-- <div class="col-xs-12">
      <h2 class="mat-h2">The quick {{ getServerStatus() }} of server, fox jumps over the lazy dog.</h2>
    </div> -->

    
  </div>
</div>

