@import '../../../scss/_variables.scss'; //variables

footer {
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  min-height: 0px;
  background-color: #121212;
  padding: 15px 0;
}
.nav-mobile{
  ul{
    margin: 0 auto;
    max-width: 672px;
    li{
      width: 24.2%;
      text-align: center;
      display: inline-block;
      svg{font-size: 1.5em; color: $gray4; @include transition();}
      &.active{
        svg{color: $secondary;}
        .nav-toggle{
          span{
            background-color: $secondary;
          }
          span.icon-bar{
            height: 2px !important;
            &:nth-child(1){
              -webkit-transform: rotate(-45deg) translate(0px, 0px);
              transform: rotate(-45deg) translate(-1px, 1px);
            }
            &:nth-child(2){
              opacity: 0;
              display: none;
            }
            &:nth-child(3){
              -webkit-transform: rotate(45deg) translate(-15px, -15px);
              transform: rotate(45deg) translate(0px, 0px);
            }
          }
          span.icon-bar + span.icon-bar {
            margin-top: 0 !important;
          }
        }
      }
      .nav-toggle {
        padding: 0;
        margin-right: 0;
        min-height: 18px;
        float: inherit;
        span{
          background-color: $gray4;
        }
      }
    }
  }
}


@media (min-width: 992px){
  footer {
    height: inherit;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    min-height: 0px;
    background-color: #121212;
    padding: 15px 30px;
  }
  .nav-mobile{
    display: none;
  }
  a{
    color: #fff;
    @include transition();
    &:hover{
      color: $primary;
    }
  }
  .left,
  .center,
  .right{
    text-align: center;
  }
  .left{
    text-align: left;
  }
  .center{
    text-align: center;
  }
  .right{
    text-align: right;
  } 
  .txt{
    line-height: 1.9;
  }
  .button-group{
    line-height: 1.9;
    text-align: right;
  }
  .icon{
    margin-top: 0;
    line-height: 1.9;
    cursor: pointer;
    padding-right: 15px;
    display: inline-block;
    &.version{
      margin-left: 15px;    
    }
  }
}