<footer>
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-12 col-sm-4 left">
        <div class="txt">© 2018 Ripio Credit Network</div>
      </div>

      <div class="col-xs-12 col-sm-4 center">
        <div class="txt">Version {{ versionString }}</div>
      </div>
      
      <div class="col-xs-12 col-sm-4 right">
        <a class="icon hidden-xs inline"
          (mouseenter)="tooltip.toggle()"
          #tooltip="matTooltip"
          matTooltip="0xbee217bfe06c6faaa2d5f2e06ebb84c5fb70d9bf"
          matTooltipPosition="above"
          href="{{linkContract}}"
          target="_blank">
          <i class="fas fa-link fa-lg"></i>
        </a>
        <div class="button-group inline">
          <div class="icon visible-xs">
            <a href="{{linkContract}}" target="_blank">
                Basalt Engine contract
            </a>
          </div>
          <div class="icon"><a href="https://www.facebook.com/ripiocredit.network/" target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a></div>
          <div class="icon"><a href="https://twitter.com/rcn_token?lang=en" target="_blank"><i class="fab fa-twitter fa-lg"></i></a></div>
          <div class="icon"><a href="https://t.me/RCNtalk" target="_blank"><i class="fab fa-telegram-plane fa-lg"></i></a></div>
          <div class="icon"><a href="https://www.linkedin.com/company/ripio-credit-network/" target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a></div>
          <div class="icon"><a href="https://github.com/ripio/rcn.loans" target="_blank"><i class="fab fa-github fa-lg"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- 
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 left">
        <div class="txt">© 2018 Ripio Credit Network</div>
      </div>

      <div class="col-xs-12 col-sm-4 center">
        <div class="icon"
          (mouseenter)="tooltip.toggle()"
          #tooltip="matTooltip"
          matTooltip="0xbee217bfe06c6faaa2d5f2e06ebb84c5fb70d9bf"
          matTooltipPosition="above">
          <i class="fas fa-link fa-lg"></i>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 right">
        <div class="button-group">
          <div class="icon"><a href="https://www.facebook.com/ripiocredit.network/" target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a></div>
          <div class="icon"><a href="https://twitter.com/rcn_token?lang=en" target="_blank"><i class="fab fa-twitter fa-lg"></i></a></div>
          <div class="icon"><a href="https://t.me/RCNtalk" target="_blank"><i class="fab fa-telegram-plane fa-lg"></i></a></div>
          <div class="icon"><a href="https://www.linkedin.com/company/ripio-credit-network/" target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a></div>
          <div class="icon"><a href="https://github.com/ripio/rcn.loans" target="_blank"><i class="fab fa-github fa-lg"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</footer> -->