<footer>
  <div class="nav-mobile">
    <ul>
      <li routerLink='/requests' [ngClass]="{'active': id === 0 }" (click)='addClass(clickedId=0); navmobileClose()'>
        <i class="fas fa-coins"></i>
      </li>
      <li routerLink='/activity' [ngClass]="{'active': id === 1 }" (click)='addClass(clickedId=1); navmobileClose()'>
        <i class="fas fa-wallet"></i>
      </li>
      <li routerLink='/address/{{ account }}/' [ngClass]="{'active': id === 2 }" (click)='addClass(clickedId=2); navmobileClose()'>
        <i class="fas fa-exchange-alt"></i>
      </li>
      <li [ngClass]="{'active': id === 3 }" (click)='addClass(clickedId=3); navmobileToggle()'>
        <button type="button"
          class="nav-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </li>
    </ul>
  </div>
  <div class="container-fluid">
    <div class="row">
    </div>
    <div class="row hidden-xs hidden-sm">
      <div class="col-xs-12 col-md-6 left">
        <div class="txt">© 2018 Ripio Credit Network</div>
      </div>
      <div class="col-xs-12 col-md-6 right">
        <a class="icon hidden-xs inline marginright15"
          matTooltip="Basalt engine contract {{contract}}"
          matTooltipPosition="above"
          href="{{linkContract}}"
          target="_blank">
          <i class="fas fa-link fa-lg"></i>
        </a>
        <div class="button-group inline">
          <div class="icon visible-xs">
            <a href="{{linkContract}}" target="_blank">
                Basalt Engine contract
            </a>
          </div>
          <div class="icon"><a href="https://www.facebook.com/ripiocredit.network/" matTooltip="Facebook" matTooltipPosition="above" target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a></div>
          <div class="icon"><a href="https://twitter.com/rcn_token?lang=en" matTooltip="Twitter" matTooltipPosition="above" target="_blank"><i class="fab fa-twitter fa-lg"></i></a></div>
          <div class="icon"><a href="https://t.me/RCNtalk" matTooltip="Telegram" matTooltipPosition="above" target="_blank"><i class="fab fa-telegram-plane fa-lg"></i></a></div>
          <div class="icon"><a href="https://www.linkedin.com/company/ripio-credit-network/" matTooltip="Linkedin" matTooltipPosition="above" target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a></div>
          <div class="icon"><a href="https://www.reddit.com/r/rcn_token/" matTooltip="Reddit" matTooltipPosition="above" target="_blank"><i class="fab fa-reddit fa-lg"></i></a></div>
          <div class="icon"><a href="https://github.com/ripio/rcn.loans" matTooltip="Github" matTooltipPosition="above" target="_blank"><i class="fab fa-github fa-lg"></i></a></div>
          <div class="icon version">
            <div matTooltip="Version {{versionString}}" matTooltipPosition="above" target="_blank">
              <i class="fas fa-code-branch fa-lg"></i>
              {{version}}
              <!-- <i class="fas fa-caret-down"></i> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>