@import './../../../scss/fonts';

.dialog {
  position: relative;
  &__dismiss {
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    padding: 14px 24px;
    color: #b4b4b4;
  }
}
.dialog-content {
  text-align: center;
  &__logo {
    img {
      width: 62px;
      margin: 50px auto 25px;
    }
  }
  &__title {
    h2 {
      @include typography-body(2);
      text-transform: uppercase;
      letter-spacing: 1.4px;
      margin: 0;
    }
  }
  &__description {
    p {
      @include typography-body(1);
      margin: 12px 0 40px;
    }
  }
  &__actions {
    .button-connect,
    .button-logout {
      display: block;
      width: 230px;
      height: 66px;
      margin: 20px auto;
      text-align: left;
      border-radius: 10px;
      transition: .3s;
    }
    .button-connect {
      @include styled-font('Roboto', 700, 16px);
      border: 1px solid transparent;
      img {
        width: 45px;
        margin-right: 12px;
      }
      &--active {
        background: var(--app-color-gray-500);
        span::after {
          content: '';
          display: inline-block;
          width: 6px;
          height: 6px;
          background: var(--app-color-green);
          margin: 0 0 2px 15px;
          border-radius: 50%;
        }
      }
      &:not(.button-connect--active) {
        background: none;
        box-shadow: none;
        border-color: #4A4A4A;
        &:hover {
          border-color: var(--app-color-primary);
        }
      }
    }
    .button-logout {
      @include typography-body(2);
      background: none;
      box-shadow: none;
      transition: .3s;
      &:hover {
        opacity: .7;
      }
      svg {
        margin-right: 10px;
      }
    }
  }
}

@media (min-width: 992px) {
  ::ng-deep .dialog-wallet-select-wrapper .mat-dialog-container {
    border-radius: 12px;
  }
  .dialog {
    width: auto;
    min-width: 485px;
  }
}
