<mat-dialog-content class="dialog">
  <button matDialogClose mat-button class="dialog__dismiss">
    <mat-icon>
      close
    </mat-icon>
  </button>
  <div class="dialog-content">
    <div class="dialog-content__logo">
      <img src="assets/isologo.svg" alt="RCN">
    </div>
    <div class="dialog-content__title">
      <h2>
        Connect your wallet
      </h2>
    </div>
    <div class="dialog-content__description">
      <p>
        Access the Credit Marketplace using your favorite wallet!
      </p>
    </div>
    <div class="dialog-content__actions">
      <button
        *ngFor="let wallet of wallets"
        mat-raised-button
        class="button-connect"
        [class.button-connect--active]="wallet.active"
        (click)="selectWallet(wallet.type, wallet.active)"
      >
        <div class="d-flex align-items-center">
          <img [src]="wallet.image" [alt]="wallet.image">
          <span>{{ wallet.title }}</span>
        </div>
      </button>
      <button
        mat-raised-button
        class="button-logout"
        (click)="clickLogout()"
        [class.button-logout--hidden]="!loggedIn"
      >
        <div class="d-flex align-items-center justify-content-center">
          <i class="fas fa-power-off"></i>
          <span>Logout</span>
        </div>
      </button>
    </div>
  </div>
</mat-dialog-content>
