<mat-dialog-content>
  <div class="navbar-container">
    <div class="creator-container">
      <div class="creator-title">How to login?</div>
    </div>
  </div>
  <div class="col-sm-12 dialog-padding">
    <div class="title main-h3">Follow these simple steps:</div>
    <div class="margintop10"></div>
    <div class="container">
      <div class="columns">
        <div class="content">
          <div>
            <div class="row img-container"><img src="https://metamask.io/img/metamask.png" alt=""></div>
            <div class="title main-h3 margintop30">Click on “get metamask”.</div>
          </div>
        </div>
        <div class="content">
          <div>
            <div class="row img-container"><img src="../../../assets/Icons/bank-safe-box.png" alt=""></div>
            <div class="title main-h3 margintop30">Store and check the twelve security words.</div>
          </div>
        </div>
        <div class="content">
          <div>
            <div class="row img-container"><img src="../../../assets/Icons/png" alt=""></div>
            <div class="title main-h3 margintop30">Set network to Main.</div>
          </div>
        </div>
      </div>
    </div>
    <a mat-raised-button href="https://metamask.io/" (click)="close()" target="_blank" class="button button-primary margintop30">GET METAMASK</a>
    <div class="margintop20"></div>
    <div class="title main-h3 margintop30 reg"><i>Now you’re ready to use our dApp.</i></div>
    <!-- <div class="margintop10"></div>
    <div class="title main-h3 reg"><i>Keep in mind that you won’t be able to login to our dApp while connected to a test net.</i></div> -->
    <!-- <div class="row img-container"> -->
  <!-- </div> -->

      <div class='col-sm-12'>
        <!-- <img src="../../../assets/Icons/locked-padlock.png" alt="ether-client"> -->
        <!-- <div class="title main-h1 margintop10">Metamask</div> -->

      <!-- <div class="col-sm-12 col-md-6">
        <div class="margintop20 d-none d-md-none"></div>
        <img src="https://www.myetherwallet.com/images/myetherwallet-logo-square.png" alt="ether-client">
        <div class="title main-h1 margintop10">My Ether Wallet</div>
        <a mat-raised-button href="https://www.myetherwallet.com/"  target="_blank" class="button button-primary margintop20">GET</a>
      </div> -->
    </div>
  </div>
</mat-dialog-content>
