@import '../dialog-client-account/dialog-client-account.component.scss'; //styles

.container {
    display: flex;
    justify-content: center
}

.content {
    display: flex;
    justify-content: center;
    width: 30%;
}

.columns {
    display: flex;
    justify-content: center;
}

.reg{
    font-weight: 400; 
}


@media (max-width: 768px) {
    .columns {
        display: block;
    }

    .content {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .img-container {
        margin-top: 40px;
    }

}