  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="formGroup">
        <div class="form-group">
          <div class="row">

            <div class="col-sm-12 col-lg-3">
              <div class="title property margintop20 marginbottom10">Currency</div>
              <mat-form-field>
                <mat-select class="form-control" placeholder="Choose your Currency" formControlName="currency">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let currency of currencies" [value]="currency">
                    {{ currency }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm-12 col-lg-3">
              <div class="row">
                <div class="col-xs-6 col-sm-6">
                  <div class="title property margintop20 marginbottom10">Start Amount</div>
                  <div class="form-group">
                    <mat-form-field>
                      <input matInput type='number' placeholder="Set amount" formControlName="amountStart" pattern='^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$'>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6">
                  <div class="title property margintop20 marginbottom10">End Amount</div>
                  <div class="form-group">
                    <mat-form-field>
                      <input matInput type='number' placeholder="Set amount" formControlName="amountEnd" pattern='^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$'>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-lg-3">
              <div class="title property margintop20 marginbottom10">Duration</div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group" formGroupName="duration">
                    <mat-form-field>
                        <input matInput type='number' placeholder="Days" formControlName="days" pattern='^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$'>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group" formGroupName="duration">
                    <mat-form-field>
                        <input matInput type='number' placeholder="Months" formControlName="months" pattern='^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$'>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group" formGroupName="duration">
                    <mat-form-field>
                        <input matInput type='number' placeholder="Years" formControlName="years" pattern='^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$'>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-lg-3">
              <div class="title property margintop20 marginbottom10">Interest</div>
              <div class="form-group">
                <mat-form-field>
                  <input matInput type='number' placeholder="Set annual interest" max='200' formControlName="annualInterest"
                  pattern='^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$'>
                  <span matSuffix>%</span>
                </mat-form-field>
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>