@import './../../../../scss/_variables.scss'; //variables

.title{&.main-h1{font-size: 18px;}}
p{margin-top: 5px; @extend %font-light;}

.card-container{
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: unset;
  align-items: center;
  align-content: flex-end;
}
.header-container{
  .branding-row{
    height: 70px;
    background-color: $gray7;
    position: relative;

    @extend %flex-container-align;
    > .flex-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 100%;
      min-width: 60px;
      @include transition;
      &:nth-child(1){
        order: 1;
        &:hover{
          background-color: $fifth;
        }
      }
      &:nth-child(2){ order: 2; cursor: default; @extend %center-top-left; }
    }
    .creator-container {
      .creator-title{
        color: $fifth;
        font-size: 36px;
        @extend %font-black;
      }
    }
  }
  .content-row{
    background-color: $gray7;
    .properties-group{
      display: none;
    }
    .card-content{
      padding: 10px;
      background-color: $gray8;
    }
  }
}

.flex-container{
  @extend %flex-container;
}
.selected-class{
  height: 24px;
  margin-left: 40px;
}

.expandable-content-block{
  background-color: $gray7;
  .header-block{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $tertiary;
    background-color: $secondary;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    .title{
      font-size: 24px;
      color: $tertiary;
      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;
      @extend %font-black;
    }
  }
  .content-block{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    ul.icon-group{
      li.icon{
        font-size: 22px;
        display: inline-block;
        margin-left: 25px;
        &:nth-child(1){
          margin-left: 0;
        }
      }
    }
  }
}


@media (min-width: 992px) { 
  p{margin-top: 0px;}
  .card-container{
    width: 770px;
    margin-left: auto;
    margin-right: auto;
  }
  .flex-container {
    justify-content: space-between;
  }

  .header-container{
    .branding-row{
      height: 60px;
      display: inline-block;
      > .flex-item {
        &:nth-child(1){ &:hover{ background-color: transparent; cursor: default;} }
      }
      .creator-container {
        .creator-title{
          margin: 0 30px;
        }
      }
    }
    .content-row{
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      background-color: $gray8;
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      .properties-group{
        display: block;
        padding: 15px;
      }
      .card-content{
        min-height: 200px; // Testing purpose
        padding: 15px;
        background-color: #303137;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }
  }
}
