@import './../../../../scss/_variables.scss'; //variables

.card-container{
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
.header-container{
  .branding-row{
    height: 70px;
    background-color: $gray7;
    position: relative;

    @extend %flex-container-align;
    > .flex-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 100%;
      min-width: 60px;
      @include transition;
      &:nth-child(1){
        order: 1;
        &:hover{
          background-color: $fifth;
        }
      }
      &:nth-child(2){ order: 2; cursor: default; @extend %center-top-left; }
    }
    .creator-container {
      .creator-title{
        color: $fifth;
        font-size: 36px;
        @extend %font-black;
      }
    }
  }
  .content-row{
    background-color: $gray7;
    .properties-group{
      display: none;
    }
    .card-content{
      padding: 100px 0;
      background-color: $gray8;
    }
  }
}

@media (min-width: 992px) { 
  .card-container{
    width: 970px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-container{
    .branding-row{
      height: 60px;
      display: inline-block;
      > .flex-item {
        &:nth-child(1){ &:hover{ background-color: transparent; cursor: default;} }
      }
      .creator-container {
        .creator-title{
          margin: 0 30px;
        }
      }
    }
    .content-row{
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      background-color: $gray8;
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      .properties-group{
        height: 200px;
        display: block;
        padding: 15px;
        .button{
          background-color: red;
          float: right;
        }
      }
      .card-content{
        min-height: 200px; // Testing purpose
        padding: 15px;
        background-color: #303137;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }
  }
}

.flex-container{
  @extend %flex-container;
}