<ngx-spinner bdColor="rgba(0,0,0,.3)" size="medium" color="#fff" type="ball-clip-rotate-multiple"></ngx-spinner>
<div class="container">
  <div class="row">
    <div class="col-sm-12 d-none d-lg-block">
      <div class="title main-h1 marginbottom30">Requests</div>
      <mat-chip-list>
        <mat-chip class="marginright15" selected="true">{{loans.length}} AVAILABLE</mat-chip>
      </mat-chip-list>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12 text-center" *ngIf='!availableLoans'>
      <div class="title main-h1">There are no available Loans</div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 card-col" 
      *ngFor='let loan of loans; let i of index'>
      <app-loan-card [loan]="loan"></app-loan-card>
    </div>
  </div>
</div>
<app-active-loans *ngIf="!availableLoans"></app-active-loans>
