<div class="container margintop100">
  <div class="row">
    <div class="col-xs-12">
      <mat-chip-list>
        <mat-chip class="margintop30 marginright15" selected="true" [color]="$primary">{{loans.length}} AVAILABLE</mat-chip>
        <p *ngIf='loans.length > 3'>There are a lot of Loans for your profile!</p>
      </mat-chip-list>
    </div>

    <div class="col-xs-12">
      <!--<div class="margintop30"><h4>LOAN #{{ bestLoan.id }} is the best for you</h4></div> -->
    </div>

    <div class="col-xs-12 col-sm-4 col-lg-4 card-col" 
    *ngFor='let loan of loans; let i of index'>

      <div class="card-container">
        <div class="card-label">
          <div class="title">Loan request #{{ loan.id }}</div>
        </div>
        <div class="list-avatar">
          <div class="avatar-container">
            <!-- <img src="https://source.unsplash.com/random/200x200" alt="RCN Image"> -->
            <div class="title">R</div>
          </div>
          <div class="txt-container">
            <div class="subtitle">Created by {{ brandingService.getCreatorShortName(loan) }}</div>
            <div class="title">{{ brandingService.getCreatorName(loan, True) }}</div>
          </div>
        </div>
        <div class="img-container">
          <!-- <div class="img-item">{{ loan.creator }}</div> -->
          <div class="img-item">{{ brandingService.getBrand(loan) }}</div>
        </div>
        <app-main-button></app-main-button>
        <div class="card-row">
          <div class="card-property">
            <div class="title">{{ 'Borrower' }}</div>
            <div class="paragraph">{{ loan.borrowerShort }}</div>
          </div>
          <div class="card-property">
            <div class="title">{{ 'Durations' }}</div>
            <div class="paragraph">{{ loan.verboseDuration }}</div>
          </div>
          <div class="card-property">
            <div class="title">{{ 'Annual Interest / Punitory' }}</div>
            <div class="paragraph"> ~ {{ formatInterest(loan.annualInterest) }} %</div>
            <div class="paragraph"> ~ {{ formatInterest(loan.annualPunitoryInterest) }} %</div>
          </div>
          <div class="lend-return--row">
            <ol>
              <li class="title">Lend</li>
              <li class="currency">{{ loan.currency }}</li>
              <li class="title">Return</li>
            </ol>
          </div>
          <div class="lending-returns--block">
            <ol>
              <li class="block-title">{{ formatAmount(loan.amount) }}</li>
              <li class="currency"><i class="material-icons">keyboard_backspace</i></li>
              <li class="block-title">{{ formatAmount(loan.expectedReturn) }}</li>
            </ol>
          </div>
          
          <app-lend-button [loan]=loan></app-lend-button>
          <app-detail-button></app-detail-button>
          <app-favorite-button></app-favorite-button>
        </div>
      </div>
    </div>
  </div>
</div>