@import '../../../scss/_variables.scss'; //variables

//CARDS
.card-col{
  margin-top: 30px;
}
.card-container{
  position: relative;
  padding: 15px;
  font-family: 'Raleway', sans-serif;
  border-radius: 2px;
  background-color: $fifth;
  box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
  -webkit-transition: box-shadow 150ms cubic-bezier(0,0,.2,1);
  .card-label{
    height: 35px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: $primary;
    background: 
    linear-gradient(
      to bottom,
      rgba(65, 85, 255, 1),
      rgba(29, 29, 29, 1)
    );
    padding: 10px;
    .title{
      color: $secondary;
      @extend %font-bold;
    }
  }
  .card-img{
    background-repeat: no-repeat;
    background-position: center center;
    @include background-size(cover);
  }
  .card-row{
    margin-top: 15px;
    color: $secondary;
    .card-property{
      margin-bottom: 10px;
    }
    .title{
      @extend %propiety-title;
    }
    .paragraph{
      @extend %propiety-subtitle;
    }
    .btn{
      @include transition(all .3s ease-out);
      box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
      -webkit-transition: box-shadow 150ms cubic-bezier(0,0,.2,1);
    }
  }
}
.lend-return--row{
  li{
    width: 32%;
    display: inline-block;
    &:nth-child(1){
      text-align: left;
    }
    &:nth-child(2){
      text-align: center;
      @extend %propiety-subtitle;
    }
    &:nth-child(3){
      text-align: right;
    }
  }
}

.creator-container {
  box-shadow: 0 0 6px rgba(0,0,0,.15), 0 6px 12px rgba(0,0,0,.35);
}

.lending-returns--block{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 5px -15px 15px;
  padding: 0px 15px;
  box-shadow: 0 0 6px rgba(0,0,0,.10), 0 6px 12px rgba(0,0,0,.20);
  ol{height: 52px;}
  li{
    width: 42%;
    height: 100%;
    display: inline-block;
    line-height: 1.8;
    @extend %font-bold;
    &:nth-child(1){
      text-align: left;
      font-size: 26px;
    }
    &:nth-child(2){
      width: 12%;
      line-height: 4.2;
      text-align: center;
      vertical-align: middle;
      vertical-align: -webkit-baseline-middle;
      @extend %font-regular;
    }
    &:nth-child(3){
      color: $primary;
      text-align: right;
      font-size: 26px;
    }
  }
}
