<div class="">
  <div class="main-title-box">
    <div class="main-title">INSTALLMENTS SCHEDULE</div>
  </div>
  <div class="main-title main-subtitle">SELECT AN INSTALLMENT</div>
  <mat-form-field>
    <mat-label>Favorite food</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{ food.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p>
    You didn’t pay installments 1 and 2 at term. Here is the information of
    those payments.
  </p>
  <div class="details-box">
    <div class="due-date-box mt-4">
      <P>DUE DATE</P>
      <P>08/15/2019</P>
    </div>
    <div class="installment-amount-box mt-4">
      <P>INSTALLMENT AMOUNT</P>
      <P>866 DAI</P>
    </div>
    <div class="total-paid-box mt-4">
      <P>TOTAL PAID</P>
      <P>866</P>
    </div>
    <div class="row">
      <div class="col">
      <span></span>  PAYMENT DATE
        <div class="content">
          <p class="details-type">08/23/2019</p>
          <p class="details-type">08/23/2019</p>
          <p class="details-type">08/23/2019</p>
        </div>
      </div>
      <div class="col">
      <span></span>  PUNITORY
        <div class="content">
          <p class="details-type">-</p>
          <p class="details-type">-</p>
          <p class="details-type">-</p>
        </div>
      </div>
      <div class="col">
      <span></span>  PENDING
        <div class="content">
          <p class="details-type">879</p>
          <p class="details-type">879</p>
          <p class="details-type">879</p>
        </div>
      </div>
    </div>
    <p class="mt-4">
      You didn’t pay installments 1 and 2 at term. Here is the information of
      those payments.
    </p>
  </div>
</div>
