<div class="social-container">
  <div class="social-row">
    <ul>
      <li><a href="https://www.facebook.com/ripiocredit.network/" matTooltip="Facebook" matTooltipPosition="above" target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a></li>
      <li><a href="https://twitter.com/rcn_token?lang=en" matTooltip="Twitter" matTooltipPosition="above" target="_blank"><i class="fab fa-twitter fa-lg"></i></a></li>
      <li><a href="https://t.me/RCNtalk" matTooltip="Telegram" matTooltipPosition="above" target="_blank"><i class="fab fa-telegram-plane fa-lg"></i></a></li>
      <li><a href="https://www.linkedin.com/company/ripio-credit-network/" matTooltip="Linkedin" matTooltipPosition="above" target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a></li>
      <li><a href="https://www.reddit.com/r/rcn_token/" matTooltip="Reddit" matTooltipPosition="above" target="_blank"><i class="fab fa-reddit fa-lg"></i></a></li>
      <li><a href="https://github.com/ripio/rcn.loans" matTooltip="Github" matTooltipPosition="above" target="_blank"><i class="fab fa-github fa-lg"></i></a></li>
      <li><a href="https://discordapp.com/channels/524313273512755211/524313273512755217" matTooltip="Discord" matTooltipPosition="above" target="_blank"><i class="fab fa-discord fa-lg"></i></a></li>
      <!-- <li><a href="{{ linkContract }}" matTooltip="Github" matTooltipPosition="above"><i class="fas fa-link fa-lg"></i></a></li> -->
    </ul>
  </div>
</div>