<mat-dialog-content>
  <!-- <div class="container">
    <div class="row">
      <div class="col">
        <img src="" alt="">
      </div>
      <div class="col">
        <p>Ups! Something went wrong</p>  
      </div>
    </div>
  </div> -->
  <div class="navbar-container">
    <div class="creator-container">
      <div class="creator-title">Ups! Something went wrong</div>
    </div>
  </div>
  <div class="col-sm-12 dialog-padding">
    <div>{{ error.message }}</div>
  </div>
</mat-dialog-content>