<mat-dialog-content>
  <div class="dialog">
    <div class="container">
      <div class="row justify-content-md-center align-self-center">
        <div class="col-sm-8 col-md-3 align-self-center img">
          <img src="../../../assets/IMG-ERROR.svg" alt="">
        </div>
        <div class="text col-sm-12 col-md-6 align-self-center">
          <h6 class="dialog-new-title">
            IT SEEMS YOU'RE OUT OF REACH!
          </h6>
          <p class="dialog-new-text">
            RCN isn't available in your jurisdiction. You can access the Credit Marketplace but you can't use its features.
          </p>
          <button
            mat-raised-button
            class="button button-primary medium"
            type="button"
            (click)="closeDialog()"
          >
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
