<mat-dialog-content>
  <div class="container-fluid align-self-center">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="col-sm-12 col-md-8 align-self-center">
            <img src="../../../assets/rcn-logo.png" alt="">
        </div>
        
      </div>
      <div class="col-sm-12 col-md-6">
        <h6>DO YOU WANT TO CONTINUE?</h6>
        <p>Unfortunately the RCN network is not available in your region. You can access the dApp, but you can not use its features.</p>  
        <a href="" mat-raised-button class="button button-primary">CONTINUE</a>
      </div>
    </div>
  </div>
  <!-- <div class="navbar-container">
    <div class="creator-container">
      <div class="creator-title">Ups! Something went wrong</div>
    </div>
  </div>
  <div class="col-sm-12 dialog-padding">
    <div>{{ error.message }}</div>
  </div> -->
</mat-dialog-content>