.dialog {
    background-color: black;
    width: 678px;
    height: 300px;
    display: flex;
    align-items: center;
    .dialog-new-title {
        width: 311px;
        height: 36px;
        font-family: Raleway;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #dadada;
        margin: 0;
    }
    .dialog-new-text {
        margin: 10px 0 25px 0;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #dadada;
    }
}

img {
    width: 80%;
}

.medium {
    font-weight: 600;
}


@media (max-width: 767px) {
    .dialog {
        width: auto;
        min-height: fit-content;
        padding: 15px 0;
        .dialog-new-title {
            width: 80%;
            height: auto;
        }
    }

    img {
        width: 50%;
        margin: auto;
    }

    .text {
        margin-top: 30px;
    }
    
    

    // .row {
    //     margin: 0; 
    // }
}