@import '../../../scss/_variables.scss'; //variables
.main-icon {
  cursor: pointer;
  float: right;
  margin: -25px 15px 0px 0px;
  .icon-container {
    position: relative;
    background-color: $primary;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
    @include transition;
    &:hover{
      background-color: white;
      color: #000;
      box-shadow: 0 0 6px rgba(0,0,0,.36), 0 6px 12px rgba(0,0,0,.52);
    }
    i{
      // font-size: 28px;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
    }
  }
}
  