<div class="container">
    <div class="d-none d-sm-block mt-4 pl-5">
        <app-skeleton width="315px" height="25px" borderRadius="2px"></app-skeleton>
        <div class="my-5 pl-2">
            <app-skeleton width="100px" height="13px" borderRadius="2px"></app-skeleton>
            <div class="row">
                <div class="col-8">
                    <div class="skeleton-primary p-4">
                        <div class="row">
                            <div class="col-3">
                                <div class="mt-2">
                                    <app-skeleton width="55px" height="13px" borderRadius="2px"></app-skeleton>
                                </div>
                                <app-skeleton width="148px" height="28px" borderRadius="2px"></app-skeleton>
                            </div>
                            <div class="col-3">
                                <div class="mt-2">
                                    <app-skeleton width="55px" height="13px" borderRadius="2px"></app-skeleton>
                                </div>
                                <app-skeleton width="148px" height="28px" borderRadius="2px"></app-skeleton>
                            </div>
                            <div class="col-3"></div>
                            <div class="col-3">
                                <div class="skeleton-primary__box px-3 pt-3">
                                    <app-skeleton width="100px" height="13px" borderRadius="2px"></app-skeleton>
                                    <app-skeleton width="100px" height="13px" borderRadius="2px"></app-skeleton>
                                </div>
                            </div>
                        </div>
                        <div class="py-5 mt-4">
                            <app-skeleton width="100%" height="8px" borderRadius="2px"></app-skeleton>
                            <div class="skeleton-primary__circle">
                            </div>
                        </div>
                        <div class="skeleton-primary__box px-3 pt-3">
                            <app-skeleton width="55px" height="13px" borderRadius="2px"></app-skeleton>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="skeleton-secondary p-4">
                        <app-skeleton width="100px" height="13px" borderRadius="2px"></app-skeleton>
                        <div class="mt-2">
                            <app-skeleton width="55px" height="13px" borderRadius="2px"></app-skeleton>
                            <div class="skeleton-secondary__text-margin">
                                <app-skeleton width="148px" height="28px" borderRadius="2px"></app-skeleton>
                            </div>
                        </div>
                        <div class="mt-2">
                            <app-skeleton width="55px" height="13px" borderRadius="2px"></app-skeleton>
                            <div class="skeleton-secondary__text-margin">
                                <app-skeleton width="148px" height="28px" borderRadius="2px"></app-skeleton>
                            </div>
                        </div>
                        <div class="mt-2">
                            <app-skeleton width="100px" height="13px" borderRadius="2px"></app-skeleton>
                            <span class="mx-2"></span>
                            <app-skeleton width="100px" height="13px" borderRadius="2px"></app-skeleton>
                        </div>
                    </div>
                    <div class="mt-3">
                        <app-skeleton width="100%" height="43px" borderRadius="3px"></app-skeleton>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-5 py-5 pl-2">
            <div class="pl-4">
                <app-skeleton width="165px" height="13px" borderRadius="2px"></app-skeleton>
                <span class="mx-5"></span>
                <app-skeleton width="165px" height="13px" borderRadius="2px"></app-skeleton>
            </div>
            <div class="skeleton-footer p-4">
                <div class="row">
                    <div class="col-8">
                        <div class="row pb-4">
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-3">
                                        <app-skeleton width="40px" height="40px" borderRadius="40px"></app-skeleton>
                                    </div>
                                    <div class="col-9 pl-1">
                                        <app-skeleton width="100px" height="13px" borderRadius="2px"></app-skeleton>
                                        <div class="skeleton-footer__text-margin">
                                            <app-skeleton width="64px" height="21px" borderRadius="2px"></app-skeleton>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-3">
                                        <app-skeleton width="40px" height="40px" borderRadius="40px"></app-skeleton>
                                    </div>
                                    <div class="col-9 pl-1">
                                        <app-skeleton width="100px" height="13px" borderRadius="2px"></app-skeleton>
                                        <div class="skeleton-footer__text-margin">
                                            <app-skeleton width="64px" height="21px" borderRadius="2px"></app-skeleton>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-3">
                                        <app-skeleton width="40px" height="40px" borderRadius="40px"></app-skeleton>
                                    </div>
                                    <div class="col-9 pl-1">
                                        <app-skeleton width="100px" height="13px" borderRadius="2px"></app-skeleton>
                                        <div class="skeleton-footer__text-margin">
                                            <app-skeleton width="64px" height="21px" borderRadius="2px"></app-skeleton>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="skeleton-footer__box px-3 pt-3">
                            <app-skeleton width="55px" height="13px" borderRadius="2px"></app-skeleton>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="skeleton-footer__box p-3">
                            <div>
                                <app-skeleton width="100px" height="13px" borderRadius="2px"></app-skeleton>
                            </div>
                            <div>
                                <app-skeleton width="162px" height="13px" borderRadius="2px"></app-skeleton>
                            </div>
                            <div class="mt-3">
                                <app-skeleton width="88px" height="36px" borderRadius="3px"></app-skeleton>
                                <span class="mx-2"></span>
                                <app-skeleton width="88px" height="36px" borderRadius="3px"></app-skeleton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="skeleton-mobile d-block d-sm-none">
    <div class="skeleton-mobile__background-1">
        <div class="pt-5 pl-3">
            <app-skeleton width="184px" height="25px" borderRadius="2px"></app-skeleton>
            <div class="mt-3 ml-4">
                <app-skeleton width="55px" height="13px" borderRadius="2px"></app-skeleton>
                <span class="mx-4"></span>
                <app-skeleton width="55px" height="13px" borderRadius="2px"></app-skeleton>
                <span class="mx-4"></span>
                <app-skeleton width="55px" height="13px" borderRadius="2px"></app-skeleton>
            </div>
        </div>
    </div>
    <div class="skeleton-mobile__background-2 p-3 m-3">
        <app-skeleton width="55px" height="13px" borderRadius="2px"></app-skeleton>
        <div>
            <app-skeleton width="148px" height="28px" borderRadius="2px"></app-skeleton>
        </div>
        <div class="mt-3"></div>
        <app-skeleton width="55px" height="13px" borderRadius="2px"></app-skeleton>
        <div>
            <app-skeleton width="148px" height="28px" borderRadius="2px"></app-skeleton>
        </div>
        <div class="skeleton-mobile__circle-container p-3">
            <div class="skeleton-mobile__circle-1">
            </div>
            <div class="skeleton-mobile__circle-2">
                <app-skeleton width="55px" height="55px" borderRadius="55px"></app-skeleton>
            </div>
            <div class="skeleton-mobile__minicircle skeleton-mobile__minicircle--1"></div>
            <div class="skeleton-mobile__minicircle skeleton-mobile__minicircle--2"></div>
            <div class="skeleton-mobile__minicircle skeleton-mobile__minicircle--3"></div>
            <div class="skeleton-mobile__minicircle skeleton-mobile__minicircle--4"></div>
            <div class="skeleton-mobile__minicircle skeleton-mobile__minicircle--5"></div>
            <div class="skeleton-mobile__minicircle skeleton-mobile__minicircle--6"></div>
            <div class="skeleton-mobile__minicircle skeleton-mobile__minicircle--7"></div>
        </div>
        <div class="skeleton-mobile__background-3 mt-3 px-3 pt-3">
            <app-skeleton width="100px" height="13px" borderRadius="2px"></app-skeleton>
            <span class="mx-4"></span>
            <app-skeleton width="100px" height="13px" borderRadius="2px"></app-skeleton>
        </div>
        <div class="skeleton-mobile__background-3 mt-3 px-3 pt-3">
            <app-skeleton width="55px" height="13px" borderRadius="2px"></app-skeleton>
        </div>
    </div>
    <div class="skeleton-mobile__background-2 p-3 m-3 mt-4">
        <div>
            <app-skeleton width="100px" height="13px" borderRadius="2px"></app-skeleton>
        </div>
        <app-skeleton width="55px" height="13px" borderRadius="2px"></app-skeleton>
        <div class="mt-3">
            <app-skeleton width="148px" height="28px" borderRadius="2px"></app-skeleton>
        </div>
        <div class="mt-3"></div>
        <app-skeleton width="55px" height="13px" borderRadius="2px"></app-skeleton>
        <div>
            <app-skeleton width="148px" height="28px" borderRadius="2px"></app-skeleton>
        </div>
        <app-skeleton width="100px" height="13px" borderRadius="2px"></app-skeleton>
        <span class="mx-3"></span>
        <app-skeleton width="100px" height="13px" borderRadius="2px"></app-skeleton>
    </div>
</div>