.wrapper{
  position: relative;
  &.navmobile-toggled{
    position: fixed;
    overflow: hidden;
  }
}
#page-content-wrapper{
  padding: 60px 0px 110px;
}
.clickeable {
  cursor: pointer;
}
@media (min-width: 992px){
  #page-content-wrapper{
    padding: 115px 0px 130px;
  }
}