<div
  class="wrapper"
  [ngClass]="{
    'sidebar-toggled': navToggle,
    'navmobile-toggled': navmobileToggled
  }"
  [ngStyle]="{'min-height': winHeight + 'px'}"
>
  <app-header></app-header>
  <app-navrail></app-navrail>
  <mat-sidenav-container class="example-container">
    <mat-sidenav-content [ngStyle]="{'min-height': winHeight + 'px'}">
      <div id="page-content-wrapper" [class.pb-0]="isHome">
        <router-outlet></router-outlet>
      </div>
      <app-fixed-application-ad
        *ngIf="showAd"
        [message]="showAd"
      ></app-fixed-application-ad>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
