<div class="margin-spacing" [style.height.px]="winHeight">
  <!-- <div class="txt-container">
    <div class="title">this loan does not exist</div>
    <div class="miscellany"></div>
    <div class="subtitle">Oooops, something went wrong</div>
  </div>
  <div class="img-container"></div>
  <div id="clouds">
    <div class="cloud x1"></div>
    <div class="cloud x1_5"></div>
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
  </div> -->
  <div class="row d-flex justify-content-center paddingtop130">
    <div class="col-4">
      <h4 class="sub-title">ERROR 404</h4>
      <h2 class="title">This loan doesn´t exist.</h2>
      <div class="margintop20"></div>
      <div class="row no-gutters">
        <div class="col-2 button button-primary mat-raised-button"><button mat-raised-button class="button-1">Opc 1</button></div>
        <div class="col-2 button button-secondary mat-raised-button"><button class="button-2 button mat-elevation-z d-none d-md-inline-block mat-raised-button">Opc 2</button></div>

      </div>
    </div>
    <div class="col-4">
      <div class="img">
        <img src="../../../assets/error_no-loans.svg" alt="" />
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
