@import 'src/scss/fonts';

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  min-width: 40px;
  border-radius: 50px;
  background-color: var(--app-color-primary-dark);
  margin-right: 10px;
}

.rcn-icon {
  width: 28px;
  height: 28px;
  filter: grayscale(100%) contrast(500%);
}

.icon {
  font-size: 18px;
  color: var(--app-color-gray-500);
}

a {
  color: white;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

a:hover {
  color: #4155ff;
}

.title {
  text-transform: uppercase;
  font-size: 13px;
  color: #D8D8D8;
}

.details-box {
  text-align: left;
}

.description {
  @include typography-subtitle(3);
  color: #D8D8D8;
}
