<div class="section-description d-lg-none">
  <div class="row">
    <p class="m-0">
      Tap in any event to get more information.
    </p>
  </div>
</div>

<div class="detail-history">
  <div class="detail-history__line">
  </div>
  <div class="detail-history__items">
    <div
      class="item"
      [class.item--first]="i === 0"
      [class.item--completed]="historyItem.commits?.length"
      [class.item--selected]="historyItemSelected === i"
      *ngFor="let historyItem of historyItems; let i = index"
    >
      <div class="item__label">
        {{ historyItem.commitProperties.title }}
      </div>

      <!-- circle with information -->
      <ng-container *ngIf="historyItem.commits?.length; else emptyCircleTemplate">
        <div
          class="item__circle"
          [ngStyle]="{
            'background-color': historyItem.commitProperties.background,
            'color': historyItem.commitProperties.color
          }"
          (click)="clickHistoryItemCircle(i)"
        >
          <img
            *ngIf="historyItem.commitProperties.iconType === 'image'"
            [src]="historyItem.commitProperties.icon"
          />
          <i
            *ngIf="historyItem.commitProperties.iconType === 'fontello'"
            class="fontello-icon"
            [ngClass]="historyItem.commitProperties.icon"
          >
          </i>
          <mat-icon *ngIf="historyItem.commitProperties.iconType === 'material'">
            {{ historyItem.commitProperties.icon }}
          </mat-icon>
          <ng-container *ngIf="historyItem.commitProperties.iconType === 'fontawesome'">
            <span [ngClass]="historyItem.commitProperties.icon"></span>
          </ng-container>
          <div
            *ngIf="historyItem.commits?.length > 1"
            class="item__circle-badge"
          >
            {{ historyItem.commits.length }}
          </div>
        </div>
      </ng-container>

      <!-- empty circle -->
      <ng-template #emptyCircleTemplate>
        <div class="item__circle">
        </div>
      </ng-template>

      <div class="item__message">
        <div
          class="message"
          [class.message--first]="commitIndex === 0"
          [class.message--last]="(commitIndex + 1) === historyItem.commits.length"
          *ngFor="let commit of historyItem.commits; let commitIndex = index"
        >
          <div class="message__title" *ngIf="commitIndex === 0">
            {{ historyItem.commitProperties.title }}
          </div>
          <div
            class="message__details"
            *ngFor="let item of historyItem.commitProperties.handler(commit)"
          >
            <span class="message__details-label">
              {{ item.label }}:
            </span>
            <span class="message__details-value">
              <ng-container *ngIf="!item.isAddress && !item.isHash; else addressTemplate">
                {{ item.value }}
              </ng-container>
              <ng-template #addressTemplate>
                <a
                  *ngIf="item.isAddress"
                  [href]="explorerAddress.replace('${address}', item.value)"
                  target="_blank"
                >
                  {{ item.value | formatAddress }}
                </a>
                <a
                  *ngIf="item.isHash"
                  [href]="explorerTx.replace('${tx}', item.value)"
                  target="_blank"
                >
                  {{ item.value | formatAddress }}
                </a>
              </ng-template>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
