<div class="wrapper" [ngClass]="{'sidebar-toggled': navToggle}" [style.min-height.px]="winHeight">
  <app-header></app-header>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav
      mode="over"
      autoFocus='true'
      openedChange='navToggle'
      [opened]="isOpen$ | async"
      (close)="onClose()"
      (open)="onOpen()">
      <ul>
        <li routerLink='/requests' (click)='callSidebarService()'>
          <div class="li-container">
            <i class="fas fa-tag"></i>
            <div class="txt">Requests</div>
          </div>
        </li>
        <li routerLink='/address/{{ account }}/' (click)='callSidebarService()'>
          <div class="li-container">
            <i class="fas fa-box-open"></i>
            <div class="txt">Loans</div>
          </div>
        </li>
        <li>
          <div class="li-container">
            <i class="fas fa-chart-bar"></i>
            <div class="txt">Balance</div>
          </div>
        </li>
        <li>
          <div class="li-container">
            <i class="fas fa-user-circle"></i>
            <div class="txt">Profile</div>
          </div>
        </li>
        <li>
          <div class="li-container">
            <i class="fas fa-code-branch"></i>
            <div class="txt">Version</div>
          </div>
        </li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content [style.min-height.px]="winHeight">
      <div id="page-content-wrapper">
        <div class="margintop100 visible-xs"></div>
        <div class="margintop140 hidden-xs"></div>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


