<div class="wrapper" [ngClass]="{'sidebar-toggled': navToggle , 'navmobile-toggled': navmobileToggled}" [style.min-height.px]="winHeight">
  <app-header></app-header>
  <div class="navmobile-menu">
    <div class="profile-container" *ngIf='hasAccount'>
      <div class="spacing-container-top" *ngIf='!hasAccount'></div>
      <div class="profile-row">
        <app-avatar [seed]=lender></app-avatar>
        <div class="title title-centered">Wallet address</div>
      </div>
      <div class="profile-row">
        <div class="title margintop5 ellipsis">{{ lender }}</div>
      </div>
    </div>
    <div class="balance-container" *ngIf='hasAccount'>
      <div class="balance-row">
        <div class="title">Account Balance</div>
        <div class="value ellipsis"><span class="currency">RCN</span> {{ balance }}</div>
      </div>
      <div class="balance-row bg-gray7" *ngIf='weiAvailable > 0'>
          <div class="title">Available to Withdraw</div>
          <div class="value ellipsis"><span class="currency">RCN</span> {{ available }}</div>
        </div>
      <div class="spacing-container-bottom"></div>
    </div>
    <app-social-container></app-social-container>
    <div class="version-container">
      <div class="version-row">
        <i class="fas fa-code-branch fa-lg"></i>
        <div class="inline marginleft15">Version {{version}}</div>
      </div>
    </div>
  </div>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav
      mode="over"
      [opened]="navToggle"
      (close)="onClose()"
      (open)="onOpen()">
      <div class="relative" [style.height.px]="winHeight - 60">
        <div class="profile-container animation-opacity" *ngIf='hasAccount'>
          <div class="spacing-container-top" *ngIf='!hasAccount'></div>
          <div class="profile-row">
            <app-avatar [seed]=lender></app-avatar>
            <div class="title title-centered">Wallet address</div>
          </div>
          <div class="profile-row">
            <div class="title margintop5 ellipsis">{{ lender }}</div>
          </div>
        </div>   
        <div class="balance-container animation-opacity" *ngIf='hasAccount'>
          <div class="balance-row">
            <div class="title">Account Balance</div>
            <div class="value ellipsis"><span class="currency">RCN</span> {{ balance }}</div>
          </div>
          <div class="balance-row bg-gray7" *ngIf='weiAvailable > 0'>
              <div class="title">Available to Withdraw</div>
              <div class="value ellipsis"><span class="currency">RCN</span> {{ available }}</div>
            </div>
          <div class="spacing-container-bottom"></div>
        </div>
        <ul>
          <li routerLink='/requests' (click)='sidebarToggle()' class='animation-left'>
            <div class="li-container">
              <i class="fas fa-coins"></i>
              <div class="txt">Requests</div>
            </div>
          </li>
          <li routerLink='/activity' (click)='sidebarToggle()' class='animation-left'>
            <div class="li-container">
              <i class="fas fa-exchange-alt"></i>
              <div class="txt">Activity</div>
            </div>
          </li>
          <li routerLink='/address/{{ account }}/' (click)='sidebarToggle()' *ngIf='hasAccount' class='animation-left'>
            <div class="li-container">
              <i class="fas fa-wallet"></i>
              <div class="txt">Loans</div>
            </div>
          </li>
          <li (click)="sidebarToggle(); openDialog()" *ngIf="!hasAccount" class='animation-left'>
            <div class="li-container">
              <i class="fas fa-user-circle"></i>
              <div class="txt">Login</div>
            </div>
          </li>
          <div class="border-bottom"></div>
        </ul>
        <div class="social-component animation-opacity">
          <app-social-container></app-social-container>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content [style.min-height.px]="winHeight">
      <div id="page-content-wrapper">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


