.wrapper{
  position: relative;
}
#page-content-wrapper{
  padding: 80px 0px 110px;
}
.clickeable {
  cursor: pointer;
}
@media (min-width: 992px){
  #page-content-wrapper{
    padding: 115px 0px 130px;
  }
}