@import '../../../scss/_variables.scss'; //variables
img,
canvas{
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
}

.avatar-container {
  width: 40px;
  height: 40px;
  overflow: hidden;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: $primary;
  box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
}