@import 'src/scss/mixins';
@import 'src/scss/fonts';

.button-group{
  position: relative;
  .button {
    cursor: pointer;
    @include transition();
    &.active,
    &:hover{
      color: var(--app-color-primary);
    };
    &,
    i,
    svg { font-size: 22px; }
    .available-notifications {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 84px;
      top: -5px;
      padding: 0 4px;
      font-size: 11px;
      border-radius: 2px;
      color: white;
      background-color: var(--app-color-red);
      @include transition(all 0.1s ease-out);
    }
    &--avatar {
      margin: 0 4px;
    }
    &--account {
      display: flex;
      align-items: center;
      @include styled-font('Roboto', 600, 16px);
      margin-right: 15px;
      svg {
        width: 15px;
        height: 15px;
        margin-right: 8px;
      }
    }
    &--chain {
      padding: 0 23px 0 0;
    }
  }
}
