<div
  class="button-group d-flex mr-3"
  appClickOutside
  (clickOutside)="openDetail('clickOutside')"
>
  <div
    class="button button--notifications ml-2 pl-1"
    (click)="openDetail('notifications')"
    [ngClass]="{'active': isDetail('notifications')}"
    matTooltip="Notifications"
  >
    <i class="fas fa-clock"></i>
    <div class="available-notifications" *ngIf='notificationsCounter'>
      {{ notificationsCounter ? notificationsCounter : '0' }}
    </div>
  </div>
  <div class="mx-3"></div>
  <div
    class="button button--balance"
    (click)="openDetail('balance')"
    [ngClass]="{'active': isDetail('balance')}"
    matTooltip="Wallet Balance"
  >
    <i class="fas fa-wallet"></i>
  </div>
  <div class="ml-3"></div>
  <app-notifications (notificationsCounter)="updateCounter($event)"></app-notifications>
  <app-wallet-balances></app-wallet-balances>
</div>
