@import './../../../../scss/fonts';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
}

.content-wrapper {
  box-sizing: border-box;
}
.mat-option {
  height: auto !important;
}

@mixin mat-slider-primary() {
  ::ng-deep {
    .mat-slider-thumb-label {
      width: 58px;
      height: 24px;
      margin-top: 2px;
      margin-right: -15px;
      transform: rotate(0) !important;
      border-radius: 4px !important;
      &::before {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 0;
        right: 0;
        width: 0;
        height: 0;
        margin: auto;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid var(--app-color-primary-light);
      }
    }
    .mat-slider-thumb {
      transform: scale(0) !important;
      &-label {
        background: var(--app-color-primary-light) !important;
        &-text {
          transform: rotate(0) !important;
          opacity: 1 !important;
          @include styled-font('Roboto', 500, 15px);
        }
      }
    }
  }
}

.item {
  &__title {
    margin-bottom: 10px;
    @include typography-body(1);
    text-transform: uppercase;
    color: #EDEDED;
  }
  &__subtitle {
    @include typography-headline(7);
    color: var(--app-color-gray-50);
  }
  &__message {
    svg {
      margin-right: 6px;
    }
    &--info {
      font-style: italic;
    }
    &--warning {

    }
  }
  &--amount {
    input {
      @include styled-font('Roboto', 900, 35px);
      margin-top: -0.45em;
    }
    ::ng-deep label {
      margin-top: -1.15em;
      span {
        @include styled-font('Roboto', 900, 35px);
      }
      .mat-placeholder-required {
        display: none;
      }
    }
  }
  &--slider {
    .item__percentage {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: -15px 0 0;
      &-amount {
        width: fit-content;
        margin: 0;
      }
    }
    mat-slider {
      width: 100%;
      @include mat-slider-primary();
    }
  }
  &--submit {
    .item__message {
      height: auto;
      color: var(--app-color-gray-50);
      font-size: 13px;
    }
  }
}

.button {
  &--submit {
    background: none;
    color: var(--app-color-primary);
    font-size: 1.2em;
    svg {
      margin-left: 10px;
    }
  }
}

@media (min-width: 992px) {
  .item {
    &__message {
      height: 0;
    }
    &--currency {
      .item__title {
        margin-bottom: 17px;
      }
    }
    &--submit {
      .item__message {
        max-width: 320px;
      }
    }
  }
}
