<ngx-spinner bdColor="rgba(0,0,0,.3)" size="medium" color="#fff" type="ball-clip-rotate-multiple"></ngx-spinner>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-6 d-none d-lg-block">
      <div class="title main-h1">Create Loan</div>
      <div class="title main-p1 marginbottom30">Create a loan according to your needs and send it to the network</div>
    </div>
    <div class="col-sm-12 col-lg-6 d-none d-lg-block">
      <div class="title main-h1">Success Rate</div>
      <div class="title main-p1 marginbottom30">This is your success posibilities of been lent</div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">


      <mat-vertical-stepper linear #stepper>
        
        <mat-step [stepControl]="formGroup1" [optional]="!isOptional$" [editable]='isEditable$'>
          <form [formGroup]="formGroup1" (ngSubmit)="onSubmit(f)" #f='ngForm'>
            <ng-template matStepLabel>Fill out your loans inputs</ng-template>

              <div class="container-fluid paddingleft0 paddingright0">
                <div class="row" formGroupName="duration">

                  <div class="col col-lg-6"><div class="title property marginbottom10">Duration</div></div>
                  <div class="col-6 d-none d-lg-block"><div class="title property marginbottom10">Cancelable At</div></div>
                  <div class="col-xs-12 col-lg-2">
                    <mat-form-field>
                      <input matInput type='number' value="0" formControlName="daysDuration" 
                      pattern='^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$' required>
                      <mat-hint>Set the Days</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-xs-12 col-lg-2">
                    <mat-form-field>
                      <input matInput type='number' value="0" formControlName="mounthsDuration" 
                      pattern='^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$' required>
                      <mat-hint>Set the Mounths</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-xs-12 col-lg-2">
                    <mat-form-field>
                      <input matInput type='number' value="0" formControlName="yearsDuration" 
                      pattern='^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$' required>
                      <mat-hint>Set the Years</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-6 d-block d-lg-none"><div class="title property margintop20 marginbottom10">Cancelable At</div></div>
                  <div class="col-xs-12 col-lg-6">
                    <mat-form-field>
                      <input matInput type='number' value="0" formControlName="daysCancelable" 
                      pattern='^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$' required>
                      <span matSuffix>Days</span>
                      <mat-hint>Set the minimum time the loan</mat-hint>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row" formGroupName="interest">
                  <div class="col col-lg-12"><div class="title property margintop30 marginbottom10">ANNUAL INTEREST / PUNITORY</div></div>
                  <div class="col-xs-12 col-lg-3">
                    <mat-form-field>
                      <input matInput type='number' max='200' formControlName="annualInterest" 
                      pattern='^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$' required>
                      <mat-hint>Annual Interest rate</mat-hint>
                      <span matSuffix>%</span>
                    </mat-form-field>
                  </div>
                  <div class="col-xs-12 col-lg-3">
                    <mat-form-field>
                      <input matInput type='number' max='200' formControlName="annualPunitory" 
                      pattern='^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$' required>
                      <mat-hint>Annual Punitory rate</mat-hint>
                      <span matSuffix>%</span>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row" formGroupName="conversionGraphic">
                  <div class="col-xs-12 col-lg-6 margintop30">
                    <div class="properties-block">
                      <div class="title">{{ 'Request' }}</div>
                      <div class="currency">
                        <mat-select placeholder="Currency" formControlName="requestedCurrency" required>
                          <mat-option>--</mat-option>
                          <mat-option *ngFor="let currency of currencies" [value]="currency">
                            {{ currency }}
                          </mat-option>
                        </mat-select>
                        <div class="required" *ngIf='requiredInvalid$' 
                        [ngClass]="{'required-invalid': formGroup1.controls.conversionGraphic.controls.requestedCurrency.invalid}"></div>
                      </div>
                      <div class="title">{{ 'Return' }}</div>
                    </div>
                    <div class="conversion-block">
                      <div class="block-title">
                        <mat-form-field>
                          <input matInput type='number' value="0" formControlName="requestValue" 
                          pattern='^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$' required>
                        </mat-form-field>
                      </div>
                      <div class="currency"><i class="material-icons" style="font-size: 2em">arrow_forward</i></div>
                      <div class="block-title">{{ '1000' }}</div>
                    </div>
                  </div>
                </div>
              </div>

            <div class='margintop20'>
              <button mat-raised-button type="submit" 
              class='button button-primary' 
              matStepperNext>
              Next
            </button>

            <div class="title main-m3 margintop10">Form Status: {{ formGroup1.status }}</div>
            </div>
          </form>
        </mat-step>

        <!-- <mat-step [stepControl]="formGroup2" [optional]="isOptional$" [editable]='isEditable$'>
          <form [formGroup]="formGroup2">
            <ng-template matStepLabel>Complete your identity with Bloom</ng-template>
            <div class="stepper-title">
              <i class="fas fa-id-badge inline fa-lg"></i>
              <div class="title main-b1 inline">Bloom ID</div>
            </div>
            <div class="title main-m3 margintop10">Unlock the power of a global, secure identity</div>
            <div class="row margintop20 marginbottom20">
              <div class="col marginbottom10">
                <div class="title property marginbottom5">Phone</div>
                <mat-slide-toggle [checked]="checked$" [disabled]="disabled$"></mat-slide-toggle>
              </div>
              <div class="col-3 marginbottom15">
                <div class="title property marginbottom5">ID Document</div>
                <mat-slide-toggle [checked]="checked$" [disabled]="disabled$"></mat-slide-toggle>
              </div>
              <div class="col-3 marginbottom15">
                <div class="title property marginbottom5">saction screen</div>
                <mat-slide-toggle [checked]="checked$" [disabled]="disabled$"></mat-slide-toggle>
              </div>
              <div class="col-3 marginbottom15">
                <div class="title property marginbottom5">payroll</div>
                <mat-slide-toggle [checked]="checked$" [disabled]="disabled$"></mat-slide-toggle>
              </div>
              <div class="col-3 marginbottom15">
                <div class="title property marginbottom5">Facebook</div>
                <mat-slide-toggle [checked]="checked$" [disabled]="disabled$"></mat-slide-toggle>
              </div>
              <div class="col-3 marginbottom15">
                <div class="title property marginbottom5">Twitter</div>
                <mat-slide-toggle [checked]="checked$" [disabled]="disabled$"></mat-slide-toggle>
              </div>
            </div>
            <div>
              <button mat-raised-button class='button button-secondary marginright8' matStepperPrevious>Back</button>
              <button mat-raised-button class='button button-primary' matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="formGroup3" [optional]="isOptional$" [editable]='isEditable$'>
          <form [formGroup]="formGroup3">
            <ng-template matStepLabel>Scan your QR</ng-template>
            <div class="stepper-title">
              <i class="fas fa-id-badge inline fa-lg"></i>
              <div class="title main-b1 inline">Bloom QR</div>
            </div>
            <div class="title main-m3 margintop10">Unlock the power of a global, secure identity</div>
            
            <div class="row margintop20 marginbottom20">
              <div class="col marginbottom10">
                <div class="title property marginbottom5">QR Display</div>
              </div>
            </div>
            <div>
            <div class="title main-m3 margintop10">You are verifying this information with BLOOM</div>
            <div class="icon-block">
              <div class="icon" matTooltip="Identity messege" matTooltipPosition="below" target="_blank">
                <i class="fas fa-id-badge"></i>
              </div>
              <div class="icon" matTooltip="Identity messege" matTooltipPosition="below" target="_blank">
                <i class="fas fa-phone"></i>
              </div>
              <div class="icon" matTooltip="Identity messege" matTooltipPosition="below" target="_blank">
                <i class="fas fa-address-card"></i>
              </div>
              <div class="icon" matTooltip="Identity messege" matTooltipPosition="below" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </div>
              <div class="icon" matTooltip="Identity messege" matTooltipPosition="below" target="_blank">
                <i class="fab fa-twitter"></i>
              </div>
            </div>
            <button mat-raised-button class='button button-secondary marginright8' matStepperPrevious>Back</button>
            <button mat-raised-button class='button button-primary' matStepperNext>Next</button>
            </div>
          </form>
        </mat-step> -->

        <mat-step>
          <ng-template matStepLabel>Finnish</ng-template>
          You are now done.
          <div>
            <button mat-raised-button class='button button-secondary marginright8' matStepperPrevious>Back</button>
            <button mat-raised-button class='button button-primary' (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>

      </mat-vertical-stepper>


    </div>    
  </div>

</div>
