@import '../../../scss/_variables.scss'; //variables


.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label,
.mat-accent .mat-slider-track-fill {
  background-color: $primary !important;
}
.mat-slider-wrapper {
  color: white !important;
}
.mat-slider-track-background {
  background: white !important;
}
.mat-slider-horizontal {
  width: 300px;
  height: 40px !important;
}
.mat-slider {
  margin: 0 !important;
  padding: 0 !important;
}

// Slider
.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
  width: 38px !important;
  height: 38px !important;
}
.mat-slider-thumb {
  transform: scale(0) !important;
}
.mat-slider-thumb-label-text {
  opacity: 1 !important;
}
.mat-slider-thumb-label-text:after {
  content: "%";
}
.mat-slider-horizontal .mat-slider-thumb-label {
  top: -44px !important;
  right: -18px !important;
}

//Create Loan
.properties-block{
  @extend %flex-container;
  div{
    flex: 1;
    font-size: 12px;
    text-transform: uppercase;
    @extend %font-light;
    &:nth-child(1){
      text-align: left;
    }
    &:nth-child(2){
      text-align: center;
      @extend %propiety-subtitle;
    }
    &:nth-child(3){
      text-align: right;
    }
  }
}

.currency-block {
  display: flex;
  width: 50%;
}

.block-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #989898;
  font-size: 30px;
}

.block-title-white {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #989898;
  font-size: 30px;
  color: white;
}

.subtitle-style {
  font-family: 'Raleway', sans-serif;
  color: #989898;
  font-size: 14px;
}

.message-style {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: white;
}

.message-style--italic {
  font-style: italic;
}

.italic {
  font-style: italic;
}

.mat-slide-toggle {
  margin-left: 10px;
}

.hide {
  display: none;
}

.button-reset {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.button-secondary-style {
  color: $primary;
  text-decoration: underline;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.icon-block{
  display: flex;
  padding: 10px 0 40px;
  .icon{
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 50%;
    background: $gray7;
    @extend %flex-container-align;
    svg{
      font-size: 16px;
      margin: 0 auto;
    }
  }
}

.scroll {
  overflow-y: auto;
}

.no-scroll {
  overflow-y: hidden;
}

.required{
  height: 1px;
  opacity: .5;
  background-color: $secondary;
  &.required-invalid{
    opacity: 1;
    background-color: #f44336;
  }
}

.slider-percentage-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 250px;
  .slider-percentaje {
    width: fit-content;
    margin: 0;
  }
}

.title {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #EDEDED;
}

.title-blue {
  color: $primary;
}

.button-blue {
  background-color: $primary !important;
  width: 100%;
  border: none;
  /* background-color: #2F2F2F; */
  height: 45px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-title {
  font-size: 23px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #EDEDED;
}

.head-subtitle {
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #EDEDED;
}

.link {
  text-decoration: underline !important;
  color: #989898 !important;
}

mat-expansion-panel-header {
  height: 46px !important;
}

mat-expansion-panel {
  background-color: #141414;
  color: inherit;
}

/deep/ .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
  background: inherit;
}

/deep/ .mat-expansion-panel-header[aria-disabled=true] .mat-expansion-panel-header-title {
  color: #EDEDED;
}

.mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {
  background-color: $primary !important;
}

.mat-select-placeholder {
  color: gray !important;
  text-transform: lowercase !important;
}

.main-title {
  color: #EDEDED;
  font-size: 13.8px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  &--order {
    font-family: 'Roboto', sans-serif;
    margin-right: 10px;
  }
  &--divider {
    font-family: 'Raleway', sans-serif;
    margin-right: 10px;
  }
  .main-title-container {
    display: flex;
    align-items: center;
    .fa-check-circle {
      color: $primary;
      margin-right: 5px;
      font-size: 12px;
    }
  }
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0;
}

/deep/ .expansion-panel__header {
  background-color: #222222;
}

/deep/ .expansion-panel__header:hover {
  background-color: #222222 !important;
}

/deep/ .required-invalid {
  display: none !important;
}

/deep/ .required {
  display: none !important;
}

.currency-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .currency-img {
    width: 34px;
    margin-right: 10px;
    background-color: white;
    border-radius: 50px;
    padding: 3px;
    img {
      width: 100%;
    }
  }
}

//slider
/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgb(38, 46, 122);
}

/deep/ .mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
  font-family: 'Roboto', sans-serif;
}

/deep/ .mat-primary .mat-slider-thumb, .mat-primary .mat-slider-thumb-label, .mat-primary .mat-slider-track-fill{
  background-color: $primary;
}

/deep/ .mat-select-value-text {
  font-family: 'Roboto', sans-serif;;
}

/deep/ .mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label,
.mat-accent .mat-slider-track-fill {
  background-color: $primary !important;
}

/deep/ .mat-slider-wrapper {
  color: white !important;
}

/deep/ .mat-slider-track-background {
  background: white !important;
}

/deep/ .mat-slider {
  margin: 0 !important;
  padding: 0 !important;
}

/deep/ .mat-slider-thumb-label-text:after {
  content: '%';
}

/deep/ .mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
  width: 40px !important;
  height: 40px !important;
}

/deep/ .mat-slider-thumb {
  transform: scale(0) !important;
}

/deep/ .mat-slider-thumb-label-text {
  opacity: 1 !important;
}

/deep/ .mat-slider-horizontal .mat-slider-thumb-label {
  top: -46px !important;
}

.create-button {
  color: #989898;
  text-decoration: underline;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.create-button:hover {
  color: #4155ff;
}

.create-button:active {
  color: white;
}

//CARDS
.card-col{
  margin-top: 15px;
}
.card-container {
  position: relative;
  padding: 15px;
  font-family: 'Raleway', sans-serif;
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
  -webkit-transition: box-shadow 150ms cubic-bezier(0,0,.2,1);
  .card-label{
    height: 35px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: $primary;
    background:
    linear-gradient(
      to bottom,
      rgba(65, 85, 255, 1),
      rgba(29, 29, 29, 1)
    );
    padding: 10px;
    .title{
      color: $secondary;
      @extend %font-bold;
    }
  }
  .risk-indicator {
    position: absolute;
    top: 25px;
    right: 25px;
  }
  .card-img{
    background-repeat: no-repeat;
    background-position: center center;
    @include background-size(cover);
  }
  .card-row{
    margin-top: 15px;
    color: $secondary;
    .card-property{
      width: 100%;
    }
    .title{
      @extend %propiety-title;
      font-size: 15px;
    }
    .paragraph{
      min-height: 21px;
      @extend %propiety-subtitle;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
    }
    .btn{
      @include transition(all .3s ease-out);
      box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
      -webkit-transition: box-shadow 150ms cubic-bezier(0,0,.2,1);
    }
  }
}
.properties-block{
  @extend %flex-container;
  div{
    flex: 1;
    &:nth-child(1){
      text-align: left;
    }
    &:nth-child(2){
      text-align: center;
      @extend %propiety-subtitle;
    }
    &:nth-child(3){
      text-align: right;
    }
  }
}

.creator-container {
  box-shadow: 0 0 6px rgba(0,0,0,.15), 0 6px 12px rgba(0,0,0,.35);
}


.conversion-block{
  height: 50px;
  @extend %flex-container;
  padding: 0px 15px;
  margin: 5px -15px 15px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  div{
    flex: 1;
    @extend %font-bold;
    &:nth-child(1){
      text-align: left;
      font-size: 26px;
      .mat-hint{
        font-weight: 400;
        line-height: 1.125;
        font-size: 10px;
        font-family: Roboto, "Helvetica Neue", sans-serif;
      }
    }
    &:nth-child(2){
      display: flex;
      @extend %font-regular;
      i{ margin: 0 auto; }
    }
    &:nth-child(3){
      color: $primary;
      text-align: right;
      font-size: 26px;
    }
  }
}

/deep/ .expansion-panel {
  &__header {
    position: relative;
    .mat-expansion-indicator {
      display: none;
    }
    .mat-progress-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      .mat-progress-bar-buffer {
        background-color: #222222;
      }
      .mat-progress-bar-fill::after {
        background-color: $primary;
      }
    }
    .fa-spinner,
    .fa-check {
      color: white;
    }
  }
  &--card {
    .mat-expansion-panel-content {
      .mat-expansion-panel-body {
        padding: 0 !important;
      }
    }
  }
}

/deep/ .expansion-panel-header--mobile {
  border-radius: 20px 20px 0 0;
  background-color: #222222;
}

/deep/ .mat-slider-horizontal {
  width: 250px;
  height: 40px !important;
}

.card-wrapper {
  padding: 0;
}

.button {
  // margin: 0 -15px;
  width: 100%;
  border: none;
  background-color: #2F2F2F;
  height: 45px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-box {
  display: flex;
  justify-content: flex-end;
}

.card-mobile {
  display: block;
  border-radius: 20px 20px 0 0;
  background-color: #222222;
  position: fixed;
  z-index: 1001;
  bottom: 0;
  overflow-y: scroll;
}

.card-desktop {
  display: none;
}

.card-property-container {
  display: flex;
  margin-bottom: 15px;
}

.card-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  border-radius: 50px;
  background-color: #414141;
  height: 35px;
  width: 40px;
}

.card-icon {
  font-size: 18px;
  color: black;
}

.collateral-container {
  background-color: #333333;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -15px;
  margin-left: -15px;
  .collateral-title {
    font-family:'Raleway', sans-serif;
    font-weight: 900;
    font-size: 32px;
    color: black;
  }
}

.installments-detail-container {
  display: flex;
  .installments-detail {
    display: flex;
    flex-wrap: wrap;
    color: #989898;
  }
}

.installments-header {
  background-color: black;
  height: auto !important;
  padding: 0 !important;
}



/deep/ .card-container {
  background-color: #222222;
  .installments-expansion-panel--mobile {
    background-color: #222222;
    width: 100% !important;
      .installments-header--mobile {
        background-color: #222222;
        height: auto !important;
        padding: 0 !important;
      }
      .mat-expansion-panel-content{
        .mat-expansion-panel-body {
          padding: 0 !important;
          width: 100%;
        }
      }
  }
}

/deep/ .expansion-panel-see-more {
  display: flex !important;
  flex-direction: column;
  .mat-content {
  background-color: black;
  display: flex;
  justify-content: flex-end;
  }
  .mat-expansion-indicator {
    display: none;
  }
  .mat-expansion-panel-content {
    background-color: black;
    .mat-expansion-panel-body {
      padding: 0 !important;
      width: 100%;
      background-color: black;
    }
  }
}

/deep/ .installments-detail-container-mobile {
  display: flex;
  background-color: #222222 !important;
  .installments-detail-mobile {
    display: flex;
    flex-wrap: wrap;
    background-color: #222222 !important;
    color: white;
  }
}

.expansion-panel-header-see-more {
  order: 2;
  height: auto !important;
  padding: 0 !important;
}

/deep/ .expansion-panel-header--mobile {
  .mat-expansion-indicator {
    color: white !important;
  }
  .mat-expansion-indicator::after {
    color: white !important;
  }
  .mat-expansion-panel-content {
    .mat-expansion-panel-body {
      .card-wrapper {
        .card-container {
          border-radius: 20px 20px 0 0;
          background-color: none;
        }
      }
    }
  }
}

.divider {
  border-top: 1px solid #4A4A4A;
  margin: 20px 0;
}

@media (min-width: 768px){

  .card-mobile {
    display: none;
  }

  .card-desktop {
    display: block;
  }

  .card-col{
    margin-top: 30px;
  }

  .head-title {
    font-size: 34px;
  }

  .head-subtitle {
    font-size: 15px;
  }

  /deep/ .expansion-panel {
    &__header {
      .mat-expansion-indicator {
        display: block;
      }
    }
  }

  /deep/ .mat-slider-horizontal {
    width: 300px;
    height: 40px !important;
  }

  .slider-percentage-box {
    width: 300px;
  }

  /deep/ .card-container {
    background-color: black;
    .installments-expansion-panel {
      background-color: black;
      width: 100% !important;
        .mat-expansion-panel-content{
          .mat-expansion-panel-body {
            padding: 0 !important;
            width: 100%;
          }
        }
    }
  }
}
