@import './../../../scss/fonts';

.title {
  @include styled-font('Raleway', 400, 20px);
  text-transform: uppercase;
  margin-bottom: 15px;
}
.subtitle {
  @include typography-body(1);
  margin-bottom: 35px;
}

.expansion-panel {
  background: var(--app-color-gray-800);

  &--expanded {
    .expansion-panel__header {
      &,
      &.mat-expanded,
      &.mat-expanded:hover,
      &.mat-expanded:focus {
        background: var(--app-color-gray-600);
        color: var(--app-color-secondary);
      }
    }
  }

  &__header {
    position: relative;
    max-height: 46px;
    color: var(--app-color-gray-100);
    background: var(--app-color-gray-600);
    border-radius: 0;
    &-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
    }
    &-step {
      @include styled-font('Roboto', 700, 18px);
      &::after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 18px;
        background: var(--app-color-gray-100);
        margin: 0px 15px -3px 10px;
      }
    }
    &-label {
      @include typography-body(2);
    }
    &-progress {
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
    }
    &-spinner,
    &-check {
      position: absolute;
      bottom: 0;
      top: 0;
      right: 20px;
      margin: auto;
      width: 1.2em;
      height: 1.2em;
      font-size: 1.2em;
    }
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 0 16px 6px;
  }
}

@media (min-width: 992px) {
  .title {
    @include typography-headline(1);
  }
  .expansion-panel {
    ::ng-deep .mat-expansion-panel-body {
      padding: 0 26px 16px;
    }
  }
}
