<ngx-spinner bdColor="rgba(0,0,0,.3)" size="medium" color="#fff" type="ball-clip-rotate-multiple"></ngx-spinner>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-6 d-none d-lg-block">
      <div class="title main-h1">Create Loan</div>
      <div class="title main-p1 marginbottom30">Create a loan according to your needs and send it to the network</div>
    </div>
    <div class="col-sm-12 col-lg-6 d-none d-lg-block">
      <div class="title main-h1">Success Rate</div>
      <div class="title main-p1 marginbottom30">This is your success posibilities of been lent</div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">


      <mat-vertical-stepper linear #stepper>
        
        <mat-step [stepControl]="formGroup1" [optional]="isOptional" [editable]='!isEditable' errorMessage="This is required.">
          <form [formGroup]="formGroup1">
            <ng-template matStepLabel>Fill out your loans inputs</ng-template>

              <div class="container-fluid paddingleft0 paddingright0">
                <div class="row">
                  <div class="col col-lg-6"><div class="title property marginbottom10">Duration</div></div>
                  <div class="col-6 d-none d-lg-block"><div class="title property marginbottom10">Cancelable At</div></div>
                  <div class="col-xs-12 col-lg-2">
                    <mat-form-field>
                      <input matInput type='number' value="0">
                      <mat-hint>Set the Days</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-xs-12 col-lg-2">
                    <mat-form-field>
                      <input matInput type='number' value="0">
                      <mat-hint>Set the Mounths</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-xs-12 col-lg-2">
                    <mat-form-field>
                      <input matInput type='number' value="0">
                      <mat-hint>Set the Years</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-6 d-block d-lg-none"><div class="title property margintop20 marginbottom10">Cancelable At</div></div>
                  <div class="col-xs-12 col-lg-6">
                    <mat-form-field>
                      <input matInput type='number' value="0">
                      <span matSuffix>Days</span>
                      <mat-hint>Set the minimum time the loan</mat-hint>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-lg-12"><div class="title property margintop30 marginbottom10">ANNUAL INTEREST / PUNITORY</div></div>
                  <div class="col-xs-12 col-lg-3">
                    <mat-form-field>
                      <input matInput type='number' value="40" max='200'>
                      <mat-hint>Annual Interest rate</mat-hint>
                      <span matSuffix>%</span>
                    </mat-form-field>
                  </div>
                  <div class="col-xs-12 col-lg-3">
                    <mat-form-field>
                      <input matInput type='number' value="60" max='200'>
                      <mat-hint>Annual Interest rate</mat-hint>
                      <span matSuffix>%</span>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-lg-6 margintop30">
                    <div class="properties-block">
                      <div class="title">{{ 'Request' }}</div>
                      <div class="currency">
                        <!-- {{ 'RCN' }} -->
                        <mat-select placeholder="Currency" required>
                          <mat-option>--</mat-option>
                          <mat-option *ngFor="let currency of currencies" [value]="currency">
                            {{ currency }}
                          </mat-option>
                        </mat-select>
                      </div>
                      <div class="title">{{ 'Return' }}</div>
                    </div>
                    <div class="conversion-block">
                      <div class="block-title">
                        <mat-form-field>
                          <input matInput type='number' value="0">
                        </mat-form-field>
                      </div>
                      <div class="currency"><i class="material-icons" style="font-size: 2em">arrow_forward</i></div>
                      <div class="block-title">{{ '1000' }}</div>
                    </div>
                  </div>
                </div>
              </div>

            <div class='margintop20'>
              <button mat-raised-button class='button button-primary' matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="formGroup2" [optional]="isOptional" [editable]='isEditable'>
          <form [formGroup]="formGroup2">
            <ng-template matStepLabel>Complete your identity with Bloom</ng-template>
            <mat-form-field>
              <input matInput placeholder="Address" formControlName="secondCtrl" required>
            </mat-form-field>
            <div class="margintop30">
              <mat-slide-toggle>Slide me!</mat-slide-toggle>
              <mat-slide-toggle>Slide me!</mat-slide-toggle>
              <mat-slide-toggle>Slide me!</mat-slide-toggle>
            </div>
            <div>
              <button mat-raised-button class='button button-secondary marginright8' (click)="stepper.reset()">Reset</button>
              <button mat-raised-button class='button button-primary' matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="formGroup3" [optional]="isOptional" [editable]='isEditable'>
          <form [formGroup]="formGroup3">
            <ng-template matStepLabel>Scan your QR</ng-template>
            <mat-form-field>
              <input matInput placeholder="Address" formControlName="thirdCtrl" required>
            </mat-form-field>
            <div>
              <button mat-raised-button class='button button-secondary marginright8' matStepperPrevious>Back</button>
              <button mat-raised-button class='button button-primary' matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Finnish</ng-template>
          You are now done.
          <div>
            <button mat-raised-button class='button button-secondary marginright8' matStepperPrevious>Back</button>
            <button mat-raised-button class='button button-primary' (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>

      </mat-vertical-stepper>


    </div>    
  </div>

</div>
