<div class="row">
  <div class="col-xs-12">
    <div class="margintop10"></div>
    <mat-form-field>
      <input matInput type="number" placeholder="Amount" min="10">
      <mat-hint>You're paying with RCN</mat-hint>
    </mat-form-field>
  </div>
  <div class="col-xs-12">
    <div class="margintop10"></div>
    <mat-form-field>
      <input matInput placeholder="Recipient address">
      <mat-hint>Remember that transferring LAON is an irreversible operation. Please check the address carefully</mat-hint>
    </mat-form-field>
  </div>
  <div class="col-xs-12 margintop20">
    <button mat-raised-button class="button button-primary" [mat-dialog-close]='true'>{{ 'Submit' }}</button>
    <button mat-raised-button class="button button-secondary" [mat-dialog-close]='true'>{{ 'Cancel' }}</button>
  </div>
</div>
