<!-- <div class="row">
  <div class="col-xs-12">
    <form class="example-container" [formGroup]="options" [style.fontSize.px]="getFontSize()">
      <mat-form-field [color]="options.value.color">
        <mat-select placeholder="Color" formControlName="color">
          <mat-option value="primary">RCN</mat-option>
          <mat-option value="accent">MANA</mat-option>
          <mat-option value="warn">ETH</mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field [color]="options.value.color">
        <input matInput type="number" placeholder="Font size (px)" formControlName="fontSize" min="10">
        <mat-error *ngIf="options.get('fontSize')?.invalid">Min size: 10px</mat-error>
      </mat-form-field>
    </form>
  </div>
  <div class="col-xs-12">
    <mat-form-field>
      <input matInput type="number" placeholder="Amount" min="10">
      <mat-hint>You're paying with RCN</mat-hint>
    </mat-form-field>
  </div>
  <div class="col-xs-12">
    <mat-form-field>
      <input matInput placeholder="Recipient address">
    </mat-form-field>
  </div>
  <div class="col-xs-12">
    <a mat-raised-button class="button button-primary">{{ 'Submit' }}</a>
    <a mat-raised-button class="button button-secondary">{{ 'Cancel' }}</a>
  </div>
</div> -->
