<div class="skeleton">
    <div class="mx-2 px-1">
        <app-skeleton width="25px" height="25px" borderRadius="6px"></app-skeleton>
    </div>
    <div class="mx-2 px-1">
        <app-skeleton width="25px" height="25px" borderRadius="6px"></app-skeleton>
    </div>
    <div class="mx-2 px-1">
        <app-skeleton width="25px" height="25px" borderRadius="6px"></app-skeleton>
    </div>
    <div class="mx-2 px-1">
        <app-skeleton width="140px" height="49px" borderRadius="10px"></app-skeleton>
    </div>
    <div class="mx-2 px-1">
        <app-skeleton width="38px" height="38px" borderRadius="38px"></app-skeleton>
    </div>
    <div class="mx-2 px-1">
        <app-skeleton width="105px" height="12px" borderRadius="2px"></app-skeleton> 
    </div>
</div>