@import './../../../../../scss/_mixins.scss'; //variables

.notification-container{
  height: 64px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--app-color-gray-600);
  background-color: var(--app-color-gray-400);
  &.progressOn{
    padding-bottom: 10px;
    background-color: var(--app-color-gray-600);
    border-bottom: 1px solid var(--app-color-gray-600);
  }
}
.status-container{
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.action-container{
  width: 100%;
  display: flex;
  margin-top: 5px;
  font-size: 14px;
}
.icon-event{
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  i{font-size: 14px;}
  svg{font-size: 12px;}
}
.time-event{
  // ellipsis
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.leading-txt,
.starring-event{
  cursor: pointer;
  color: var(--app-color-secondary);
  outline: none; outline-offset: 0px;
  @include transition();
  &:hover{
    color: var(--app-color-primary);
  }
  a {
    color: white;
  }
}
.action-event{
  cursor: pointer;
  color: var(--app-color-secondary);
  outline: none; outline-offset: 0px;
  @include transition();
  &:hover{
    color: var(--app-color-primary);
  }
}
.leading-txt{
  cursor: pointer;
}
.action-event{margin-left: 10px;}
.separator{margin: 0 5px;}
.supporter-txt{
  margin-left: 5px;
  &::ng-deep a {
    cursor: pointer;
    outline: none;
    outline-offset: 0px;
    color: var(--app-color-secondary);
    @include transition();
  }
}
.cancel-tx {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 6px;
  cursor: pointer;
  &__icon {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--app-color-gray-50);
  }
}
mat-progress-bar.mat-progress-bar{
  height: 4px;
  position: absolute;
  bottom: 0;
  ::ng-deep{
    .mat-progress-bar-fill::after {
      background-color: var(--app-color-primary);
    }
    .mat-progress-bar-buffer {
      background: var(--app-color-gray-600);
    }
  }
}
