<div class="notification-container"
[ngClass]="{'progressOn': !notification.confirmedTx }" *ngIf="notification">
  <div class="status-container">
    <div class="icon-event bg-{{ notification.txObject.color }}">
      <i class="{{ notification.txObject.materialClass }} {{ notification.txObject.awesomeClass }}">{{ notification.txObject.icon }}</i>
    </div>
    <div (click)='openAddres()' class="action-event">
      {{ notification.txObject.title }}
    </div>
    <div class="separator"> · </div>
    <div routerLink='address/{{ notification.starringEvent }}' class="starring-event">{{ notification.starringEventShort }}</div>
    <div class="separator"> · </div>
    <div class="time-event">{{ deltaFormatted }}</div>
  </div>
  <div class="action-container">
    <div (click)='openAddres()' class="leading-txt">
      {{ notification.txObject.title }}
    </div>
    <div class="supporter-txt">
      {{ notification.txObject.message }}
      <span routerLink='loan/{{ notification.txObject.id }}' class="supporter-txt" *ngIf='notification.txObject.id'>{{ shortAddress }}</span>
    </div>
  </div>
  <mat-progress-bar *ngIf='!notification.confirmedTx' [mode]="progressbarMode">
  </mat-progress-bar>
</div>
