@import './../../../../../scss/_variables.scss'; //variables

.notification-container{
  height: 64px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid $quaternary;
  background-color: $gray7;
  &.progressOn{
    padding-bottom: 10px;
    background-color: $quaternary;
    border-bottom: 1px solid $quaternary;
  }
}
.status-container{
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.action-container{
  width: 100%;
  display: flex;
  margin-top: 5px;
  font-size: 14px;
}
.icon-event{
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  i{font-size: 14px;}
  svg{font-size: 12px;}
  &.bg-white{
    color: #000;
  }
}
.time-event{
  // ellipsis
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.leading-txt,
.starring-event{
  cursor: pointer;
  color: $secondary;
  outline: none; outline-offset: 0px;
  @include transition();
  @extend %roboto-bold;
  &:hover{
    color: $primary;
  }
}
.action-event{
  cursor: pointer;
  color: $secondary;
  outline: none; outline-offset: 0px;
  @include transition();
  @extend %roboto-light;
  &:hover{
    color: $primary;
  }
}
.time-event
.supporter-txt{
  @extend %roboto-light;
}
.leading-txt{
  cursor: pointer;
}
.starring-event{
  @extend %roboto-bold;
}
.action-event{margin-left: 10px;}
.separator{margin: 0 5px;}
.supporter-txt{
  margin-left: 5px;
  span{
    cursor: pointer;
    margin-left: 2px;
    outline: none; outline-offset: 0px;
    color: $secondary;
    @include transition();
    @extend %roboto-bold;
    &:hover{
      color: $primary;
    }
  }
}
mat-progress-bar.mat-progress-bar{
  height: 4px;
  position: absolute;
  bottom: 0;
  ::ng-deep{
    .mat-progress-bar-fill::after {
      background-color: $primary;
    }
    .mat-progress-bar-buffer {
      background: $quaternary;
    }
  }
}
