@import '../../../scss/_variables.scss'; //variables

.selector{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 5px -15px 15px;
    padding: 0px 15px;
    border: 0px
}