@import '../../../scss/variables';
@import '../../../scss/fonts';

// Background border
/deep/ .mat-checkbox .mat-checkbox-frame {
  border-color: gray;
}
.checkbox {
  margin-bottom: 12px;
}
.dialog-padding{
  padding: 30px;
}
.navbar-container {
  height: 70px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333333;
  .creator-container {
    .creator-title{
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      color: $fifth;
      font-size: 22px;
      text-align: center;
      padding: 0 15px;
      @extend %font-black;
      @include transform(translate(-50%, -50%));
    }
  }
}
.list-avatar {
  height: 55px;
  position: relative;
  padding-left: 45px;
  .avatar-container {
    width: 30px;
    height: 30px;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background-color: var(--app-color-primary);
    box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
    .title{
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 18px;
      color: var(--app-color-secondary);
      @extend %roboto-black;
      @include transform(translate(-50%, -50%));
    }
    img,
    canvas{
      width: 50px;
      border-radius: 50%;
      box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
    }
  }
  .txt-container{
    .title {
      line-height: 1.4em;
      @extend %roboto-medium;
      @extend .font18;
    }
    .subtitle {
      line-height: 1em;
      @extend %font-medium;
      @extend .font14;
    }
  }
}

@media (min-width: 768px){
  .navbar-container {
    height: 100px;
    .creator-container {
      .creator-title{
        font-size: 36px;
      }
    }
  }
}
