@import '../../../scss/mixins';
@import '../../../scss/fonts';
@import './../dialog-generic';

.mat-dialog-content,
.dialog-footer {
  background: var(--app-color-gray-700); // TODO: inconsistency with the other dialogs
}
.mat-dialog-content {
  border-radius: 3px;
}
.dialog-footer {
  visibility: hidden;
}

.dialog-content {
  &__header {
    .title {
      @include typography-headline(5);
      margin: 0 0 13px;
      text-transform: uppercase;
    }
    .description {
      @include typography-body(1);
      margin: 0;
    }
  }
}


@media (min-width: 768px){
  .dialog-padding {
    padding: 30px 42px;
  }
  .dialog-footer {
    visibility: visible;
  }
}
