<ngx-spinner
  bdColor="transparent"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-multiple"
></ngx-spinner>

<app-dialog-header title="General Settings">
</app-dialog-header>

<mat-dialog-content>
  <app-infinite-progress-bar
    *ngIf="startProgress"
    [start]="true"
    [end]="finishProgress"
    (finish)="finishApprove()"
  >
  </app-infinite-progress-bar>

  <div class="container">
    <div class="dialog-content dialog-padding">


      <div class="dialog-content__header row pb-3 mb-3 mt-4 mb-md-4 mt-md-0">
        <div class="col-12 px-md-0">
          <h1 class="title">
            Approvals
          </h1>
          <p class="description">
            {{ dialogDescription }}
          </p>
        </div>
      </div>

      <app-approvals
        [engine]="engine"
        [onlyAddress]="onlyAddress"
        [onlyToken]="onlyToken"
        [onlyAsset]="onlyAsset"
        (startProgress)="detectStartProgress()"
        (endProgress)="detectEndProgress()"
        (closeDialog)="detectCloseDialog()"
        (setDialogDescription)="detectDialogDescription($event)"
      >
      </app-approvals>
    </div>

  </div>
</mat-dialog-content>

<mat-dialog-actions class="dialog-footer d-flex justify-content-end">
  <app-close-button class="d-none d-md-inline"></app-close-button>
</mat-dialog-actions>
