@import '../../../scss/variables';
@import '../../../scss/fonts';
@import './../dialog';

.mat-dialog-content,
.dialog-footer {
  background: var(--app-color-gray-700); // TODO: inconsistency with the other dialogs
}
.mat-dialog-content {
  border-radius: 3px;
}
.dialog-footer {
  visibility: hidden;
}

.dialog-content {
  &__header {
    .title {
      @include typography-headline(5);
      margin: 0 0 13px;
      text-transform: uppercase;
    }
    .description {
      @include typography-body(1);
      margin: 0;
    }
  }

  &__tabs {
    .tab {
      @include typography-body(2);
      text-transform: uppercase;
      cursor: pointer;
      padding: 16px 20px;
      letter-spacing: 1.4px;
      &:not(.tab--active) {
        color: #959595;
        border-bottom: 1px solid transparent;
      }
      &--active {
        border-bottom: 1px solid white;
        cursor: default;
      }
    }
  }

  &__content {
    .expansion-panel {
      @include typography-headline(7);
      background: black;
      margin-bottom: 15px;
      border-radius: 3px;
      transition: .3s;
      .mat-expansion-panel-header-title {
        @include typography-body(2);
        color: #747474;
      }
      &::ng-deep {
        .mat-content {
          align-items: center;
        }
        .mat-slide-toggle {
          .mat-slide-toggle-bar {
            height: 18px;
            background: #4F526E;
          }
          .mat-slide-toggle-thumb-container {
            top: -1px;
            .mat-slide-toggle-thumb {
              background: #9DA2CC;
              box-shadow: 0px 3px 6px #00000084;
            }
          }
          &.mat-checked {
            .mat-slide-toggle-bar {
              background: #242F8B;
            }
            .mat-slide-toggle-thumb-container {
              .mat-slide-toggle-thumb {
                background: #4155FF;
              }
            }
          }
        }
      }
      &.mat-expanded {
        background: var(--app-color-gray-400);
        .mat-expansion-panel-header-title {
          color: white;
        }
      }
    }

    .checkbox {
      margin-bottom: 12px;
    }
    &::ng-deep {
      .mat-checkbox-label {
        white-space: pre-wrap;
      }
      .mat-checkbox-inner-container {
        width: 12px;
        height: 12px;
      }
    }
  }


}


@media (min-width: 768px){
  .dialog-padding {
    padding: 30px 42px;
  }
  .dialog-footer {
    visibility: visible;
  }
}

@media (min-width: 992px) {
  .dialog-content {
    &__tabs {
      .tab {
        padding-top: 14px;
        padding-bottom: 14px;
        flex-shrink: 0;
      }
    }
  }
}
