@import '../../../scss/variables';
@import '../../../scss/fonts';

::ng-deep .mat-checkbox-label {
  white-space: pre-wrap;
}
.checkbox {
  margin-bottom: 12px;
}
.dialog-padding{
  padding: 30px;
}
.list-avatar {
  height: 55px;
  position: relative;
  padding-left: 45px;
  .avatar-container {
    width: 30px;
    height: 30px;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background-color: var(--app-color-primary);
    box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
    .title{
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 18px;
      color: var(--app-color-secondary);
      @extend %roboto-black;
      @include transform(translate(-50%, -50%));
    }
    img,
    canvas{
      width: 50px;
      border-radius: 50%;
      box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
    }
  }
  .txt-container{
    .title {
      line-height: 1.4em;
      @extend %roboto-medium;
      @extend .font18;
    }
    .subtitle {
      line-height: 1em;
      @extend %font-medium;
      @extend .font14;
    }
  }
}
