<div  *ngFor="let dummy of ' '.repeat(items).split(''), let x = index" class="list__item">
    <div class="list__item__title d-sm-none">
        <app-skeleton borderRadius="15px" width="200px"></app-skeleton>
    </div>
    <div class="list__item__column">
        <div class="row">
            <div class="list__item__column__title col-md-12 col-6 d-sm-none">
                <app-skeleton borderRadius="15px"></app-skeleton>
            </div>
            <div class="col-md-12 col-6">
                <app-skeleton borderRadius="15px"></app-skeleton>
            </div>
        </div>
    </div>
    <div class="list__item__column">
        <div class="row">
            <div class="list__item__column__title col-md-12 col-6 d-sm-none">
                <app-skeleton borderRadius="15px"></app-skeleton>
            </div>
            <div class="col-md-12 col-6">
                <app-skeleton borderRadius="15px"></app-skeleton>
            </div>
        </div>
    </div>
    <div class="list__item__column">
        <div class="row">
            <div class="list__item__column__title col-md-12 col-6 d-sm-none">
                <app-skeleton borderRadius="15px"></app-skeleton>
            </div>
            <div class="col-md-12 col-6">
                <app-skeleton borderRadius="15px"></app-skeleton>
            </div>
        </div>
    </div>
    <div class="list__item__column">
        <div class="row d-none d-sm-block">
            <div class="list__item__column__title col-md-12 col-6 d-sm-none">SCHEDULE PROGRESS</div>
            <div class="col-md-12 col-6">
                <app-skeleton borderRadius="15px"></app-skeleton>
            </div>
        </div>
    </div>
    <div class="list__item__column">
        <div class="row d-none d-sm-block">
            <div class="list__item__column__title col-md-12 col-6 d-sm-none">REPAYMENT PROGRESS</div>
            <div class="col-md-12 col-6">
                <app-skeleton borderRadius="15px"></app-skeleton>
            </div>
        </div>
    </div>
</div>