@import 'src/scss/fonts';

.list {
  &__item {
    margin-top: 15px;
    border-radius: 5px;
    background-color: #313134;
    box-shadow: 0px 3px 6px #00000029;
    padding: 10px 15px;
    position: relative;
    &__title {
      @include styled-font('proxima-nova', 700, 14px);
      margin-bottom: 16px;
    }
    &__title svg {
      margin-right: 8px;
    }
    &__column {
      margin-bottom: 10px;
      @include styled-font('proxima-nova', 400, 13px);
      &__title {
        @include styled-font('proxima-nova', 650, 13px);
      }
    }
  }
}

@media (min-width: 992px) {
  .list {
    &__item {
      margin-top: 10px;
      height: 65px;
      padding: 0;
      &__column {
        @include styled-font('Roboto', 400, 15px);
        display: inline-block;
        width: 20%;
        margin-top: 22px;
        margin-bottom: 0;
        padding: 0 10px;
      }
    }
  }
}
