<div  *ngFor="let dummy of ' '.repeat(items).split(''), let x = index" class="list__item">
    <div class="list__item__title d-sm-none">
        <p>skeleton</p>
    </div>
    <div class="list__item__column">
        <div class="row">
            <div class="list__item__column__title col-md-12 col-6 d-sm-none">BORROWED</div>
            <div class="col-md-12 col-6">
                <app-skeleton borderRadius="15px"></app-skeleton>
            </div>
        </div>
    </div>
    <div class="list__item__column">
        <div class="row">
            <div class="list__item__column__title col-md-12 col-6 d-sm-none">REPAID</div>
            <div class="col-md-12 col-6">
                <app-skeleton borderRadius="15px"></app-skeleton>
            </div>
        </div>
    </div>
    <div class="list__item__column">
        <div class="row">
            <div class="list__item__column__title col-md-12 col-6 d-sm-none">ANNUAL RATE</div>
            <div class="col-md-12 col-6">
                <app-skeleton borderRadius="15px"></app-skeleton>
            </div>
        </div>
    </div>
    <div class="list__item__column">
        <div class="row">
            <div class="list__item__column__title col-md-12 col-6 d-sm-none">SCHEDULE PROGRESS</div>
            <div class="col-md-12 col-6">
                <app-skeleton borderRadius="15px"></app-skeleton>
            </div>
        </div>
    </div>
    <div class="list__item__column list__item__column__payment">
        <div class="row">
            <div class="list__item__column__title col-md-12 col-6 d-sm-none">REPAYMENT PROGRESS</div>
            <div class="col-md-12 col-6">
                <app-skeleton borderRadius="15px"></app-skeleton>
            </div>
        </div>
    </div>
</div>