
.icon-timeline-24px:before { content: '\e800'; } /* '' */
.icon-verified-24px:before { content: '\e801'; } /* '' */
.icon-trending_down-24px:before { content: '\e802'; } /* '' */
.icon-swap_horiz-24px:before { content: '\e803'; } /* '' */
.icon-swap_calls-24px:before { content: '\e804'; } /* '' */
.icon-monetization_on-24px:before { content: '\e805'; } /* '' */
.icon-import_export-24px:before { content: '\e806'; } /* '' */
.icon-linear_scale-24px:before { content: '\e807'; } /* '' */
.icon-event_busy-24px:before { content: '\e808'; } /* '' */
.icon-copia-de-verified_user-24px:before { content: '\e809'; } /* '' */
.icon-withdraw:before { content: '\e80a'; } /* '' */
.icon-liquidation:before { content: '\e80b'; } /* '' */