@import '../../../scss/fonts';

.balance {
  @include styled-font('Roboto', 700, 16px);
  display: flex;
  align-items: center;

  &__amount {
    margin-right: 16px;
  }
  &__withdraw {
    display: flex;
    align-items: center;
    background: #8B8B8B36;
    padding: 7px 15px 5px 10px;
    border: 1px solid var(--app-color-primary);
    border-radius: 8px;
    cursor: pointer;

    &-icon,
    &-amount {
      color: var(--app-color-primary);
    }
    &-icon {
      font-size: .95em;
      margin-right: 6px;
    }
    &-amount {
      margin-right: 5px;
    }
  }
}
