<div class="balance">
  <span class="balance__amount" matTooltip="RCN Wallet Balance">
    {{ displayBalance }} RCN
  </span>
  <div
    class="balance__withdraw"
    (click)="clickWithdraw()"
  >
    <div class="balance__withdraw-icon">
      <i class="fas fa-arrow-down"></i>
    </div>
    <div class="balance__withdraw-amount" matTooltip="Available Balance">
      {{ displayAvailable || 0 }}
    </div>
    <div class="balance__withdraw-currency">
      RCN
    </div>
    <div class="balance__withdraw-label d-md-none">
      click to withdraw
    </div>
  </div>
</div>
