<div
  class="balance-withdraw"
  [class.balance-withdraw--active]="canWithdraw"
  (click)="clickWithdraw()"
>
  <div class="balance-withdraw__label">
    Withdrawable Balance
  </div>
  <div class="d-flex align-items-center">
    <div class="balance-withdraw__icon">
      <i class="fas fa-arrow-down"></i>
    </div>
    <div
      class="balance-withdraw__amount"
      [matTooltip]='
        canWithdraw ?
        "Click here to withdraw your RCN Balance" :
        "You dont have any funds to withdraw yet"
      '
    >
      {{ displayAvailable || 0 }}
    </div>
    <div class="balance-withdraw__currency">
      RCN
    </div>
  </div>
</div>
