@import '../../../scss/_variables.scss'; //variables

div {
  cursor: auto;
  display: flex;
  align-items: center;
  @extend %roboto-black;
  > * {
    padding-left: 3px;
    padding-right: 3px;
    &.plus {
      font-size: 14px;
      color: var(--app-color-primary);
    }
    &.pending {
      cursor: pointer;        
      color: var(--app-color-primary);
      padding-left: 0;
    }
  }
}