<div class="balance" [class.balance--active]="canWithdraw">
  <div
    class="balance__withdraw"
    (click)="clickWithdraw()"
  >
    <div class="balance__withdraw-label">
      Withdrawable Balance
    </div>
    <div class="d-flex align-items-center">
      <div class="balance__withdraw-icon">
        <i class="fas fa-arrow-down"></i>
      </div>
      <div
        class="balance__withdraw-amount"
        [matTooltip]='
          canWithdraw ?
          "Click here to withdraw your RCN Balance" :
          "You dont have any funds to withdraw yet"
        '
      >
        {{ displayAvailable || 0 }}
      </div>
      <div class="balance__withdraw-currency">
        RCN
      </div>
    </div>
  </div>
</div>
