<div>
  <nav id="navbar" class="navbar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="navbar-header">

            <button type="button"
              class="nav-toggle d-none"
              (click)="sidebarToggle()">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="button-img" routerLink='/requests'>
              <img src="assets/isologo.svg" alt="rcn-image">
              <img src="assets/isologotypo.svg" alt="rcn-image">
            </a>
            <div class="header-title">{{ title }}</div>
            <h1 class="hide">RCN / Ripio credit network</h1>

            <div class="nav" [ngClass]="{'hasAccount': hasAccount }">
              <!-- Menu section -->
              <a
                class="nav__item mr-4"
                routerLinkActive="nav__item--active"
                routerLink='/requests'
              >
                Lend
              </a>
              <a
                class="nav__item mr-4"
                routerLinkActive="nav__item--active"
                routerLink='/activity'
              >
                Activity
              </a>
              <a
                class="nav__item mr-4"
                routerLinkActive="nav__item--active"
                routerLink='/address/{{ account }}/'
                *ngIf='hasAccount'
              >
                My loans
              </a>
              <div class="nav__item mr-4" (click)="login()" *ngIf="!hasAccount">
                Connect
              </div>
              <div
                class="align-items-center pl-0"
                [ngClass]="hasAccount ? 'd-flex' : 'd-none'"
              >
                <div class="separator pr-3">|</div>
                <app-icon-group-header></app-icon-group-header>
                <div class="separator px-3">|</div>
                <app-component-balance [account]="account">
                </app-component-balance>
              </div>
              <!-- Balance section -->
              <div class="nav__item" (click)="openDialogApprove();">
                <div class="flex-container" *ngIf="hasAccount">
                  <div class="flex-item">
                    <div class="list-avatar">
                      <div class="avatar-container">
                        <app-avatar [seed]=account></app-avatar>
                      </div>
                    </div>
                  </div>
                  <div class="flex-item ml-3 mr-2">{{ shortAccount }}</div>
                  <div class="flex-item">
                    <i
                      class="material-icons transition"
                      [ngClass]="{'rotate180': makeRotate }"
                    >
                      expand_more
                    </i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
