@import '../../../scss/_variables.scss'; //variables

.navbar{
  height: 60px;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1000;
  display: block;
  border-width: 0 0 1px;
  border: none;
  border-radius: 0;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 10px 0px;
  background-color: var(--app-color-gray-900);
  // -webkit-box-shadow: 0 13px 18px 0 rgba(0,0,0,.5);
  // -moz-box-shadow: 0 13px 18px 0 rgba(0,0,0,.5);
  // box-shadow: 0 13px 18px 0 rgba(0,0,0,.5);
  .navbar-header{
    height: 40px;
    .button-img{
      display: inline-block;
      img{
        height: 40px;
      }
      img:nth-child(1){display: inline-block;}
      img:nth-child(2){display: none;}
    }
    .header-title {
      display: inline-block;
      font-size: 18px;
      padding: 5px 15px;
      text-transform: uppercase;
      @extend %font-bold;
      @extend %absolute-center-top;
    }
    .nav {
      display: none;
      &__item {
        outline: -webkit-focus-ring-color auto 0px;
        @extend %font-bold;
        color: white;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          bottom: -5px;
          left: 10px;
          width: 0;
          height: 2px;
          background: rgba(white, 0);
          border-radius: 2px;
        }
        &--active::after {
          width: 12px;
          background: rgba(white, 1);
        }
      }
    }
    .icon-hamburguer{
      cursor: pointer;
      font-size: 32px;
      @include transition;
    }
  }
}
.flex-container {
  display: flex;
  // flex-direction: row; // Defines the direction items are placed in the container
  // flex-wrap: wrap; // Items wrap around to additional lines.
  flex-flow: row; // The two properties flex-direction and flex-wrap are used so often together that the shorthand property flex-flow was created to combine them. This shorthand property accepts the value of one of the two properties separated by a space.
  justify-content: space-between; // Aligns items horizontally and accepts the following values:
  align-items: center; // Aligns items vertically and Determines how the items as a whole are aligned within the container
  align-content: flex-end; // Determines the spacing between lines. When there is only one line, align-content has no effect.
  width: 130px;
  height: 42px;
  > .flex-item {
    &:nth-child(1){
      order: 1; // By default, items have a value of 0, but we can use this property to set it to a positive or negative integer value.
    }
    &:nth-child(2){
      order: 2;
    }
    &:nth-child(3){
      display: flex;
      order: 3;
    }
  }
}

.navbar-extension {
  height: 0px;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 9;
  overflow: hidden;
  padding: 0;
  background-color: $gray7;
  @include transition(all 0.2s ease);
  ul{
    li{
      position: relative;
      display: inline-block;
      opacity: 0;
      top: -15px;
      margin-right: 15px;
      &:last-child{
        margin-right: 0px;
      }
      span{
        display: none;
        font-size: 12px;
        @extend %font-light;
      }
    }
  }
  .title.main-h1{font-size: 16px; padding: 10px 0;}
  .title.main-h2{font-size: 16px; padding: 10px 0; @extend %font-bold;}
  .title.main-h2 {
    font-family: 'Roboto', sans-serif;
  }
}

.extension-closebox{
  position: absolute;
  top: 215px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  opacity: 0;
  cursor: pointer;
  background-color: transparent;
  background-color: rgba(0,0,0,0.8);
  display: none;
  z-index: 170;
}

.extension-toggled{
  .navbar-extension{
    height: 130px;
    @include transition(all 0.5s ease);
    ul{
      li{
        @include transition();
        @for $i from 1 through 12 {
          &:nth-child(#{$i}) {
            @include transition-delay(0.06s * $i);
          }
        }
        opacity: 1;
        top: 0px;
        &:last-child{
          top: -2px;
        }
      }
    }
  }
  .extension-closebox{
    display: block;
    opacity: 1;
    z-index: 999;
  }
}

.hide {
  display: none;
}

@media (min-width: 768px){
  .navbar-header {
    float: none;
  }
}

@media (min-width: 1280px){
  .navbar{
    height: 60px;
    padding: 7px 15px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    .navbar-header{
      width: 100%;
      height: 45px;
      .button-img{
        img{
          height: 45px;
        }
        img:nth-child(1){display: none;}
        img:nth-child(2){display: inline-block;}
      }
      .header-title {
        display: none;
      }
      .nav {
        > * {
          padding-left: 10px;
          padding-right: 10px;
        }
        height: 45px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        float: right;
        @include transition;
        &__item {
          // max-width: 40px;
          display: block;
          font-size: 16px;
          cursor: pointer;
          i{
            color: #fff;
          }
          &,
          &::after {
            @include transition(all 0.2s ease);
          }
          &:hover {
            color: var(--app-color-primary);
            &.nav__item--active::after {
              background: var(--app-color-primary);
            }
          }
          &:last-child{
            margin-right: 0;
          }
        }
        .separator{
          font-size: 1.4em;
          font-weight: 300;
          color: var(--app-color-gray-50);
          cursor: default;
        }
      }
      .icon-hamburguer{
        display: none;
      }
    }
  }
  .navbar-extension {
    display: block;
    .title.main-h1{padding: 15px 0;}
    .title.main-h2{padding: 15px 0;}
  }
  .navbar-extension{ul{span.marginleft30{display:inline-block;}}}
  .navbar-extension{ul{span.marginleft60{display:none;}}}

  .extension-toggled{
    .navbar-extension {
      height: 50px;
      top: 60px;
    }
    .extension-closebox{
      top: 110px;
    }
  }
  .navbar-extension{ul{span.marginleft30{display:none;}}}
  .navbar-extension{ul{span.marginleft60{display:inline-block;}}}
}
