<div>
  <nav id="navbar" class="navbar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="navbar-header">

            <button type="button"
              class="nav-toggle d-none d-lg-block" 
              (click)="sidebarToggle()">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="button-img" routerLink='/requests' (click)="this.titleService.changeTitle('Requests')">
              <img src="assets/isologo.svg" alt="rcn-image">
              <img src="assets/isologotypo.svg" alt="rcn-image">
            </a>
            <div class="header-title">{{ title }}</div>

            <div class="nav" [ngClass]="{'hasAccount': hasAccount }">
              <!-- Menu section -->
              <div class="marginright20" routerLink='/requests'>Requests</div>
              <div class="marginright20" routerLink='/activity'>Activity</div>
              <div class="marginright20" routerLink='/address/{{ account }}/' *ngIf='hasAccount'>Loans</div>
              <div class="marginright20" (click)="openDialog()" *ngIf="!hasAccount">Login</div>
              <div class="separator" *ngIf='hasAccount'>|</div>
              <app-icon-group-header *ngIf='hasAccount'></app-icon-group-header>
              <div class="separator" *ngIf='hasAccount'>|</div>
              <app-component-balance *ngIf='hasAccount'></app-component-balance>
              <div class="separator" *ngIf="hasAccount">|</div>
              <!-- Balance section -->
              <div (click)="openDialog();">
                <div class="flex-container" *ngIf="hasAccount">
                  <div class="flex-item">
                    <div class="list-avatar">
                      <div class="avatar-container">
                        <app-avatar [seed]=account></app-avatar>
                      </div>
                    </div>
                  </div>
                  <div class="flex-item">Profile</div>
                  <div class="flex-item"><i class="material-icons transition" [ngClass]="{'rotate180': makeRotate }">expand_more</i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>