<div>
  <nav
    id="navbar"
    class="navbar"
    [class.navbar--hide-mobile]="hideMobileHeader"
  >
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="navbar-header">

            <button type="button"
              class="nav-toggle d-none"
              (click)="sidebarToggle()">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="button-img" routerLink='/lend'>
              <img src="assets/isologo.svg" alt="rcn-image">
              <img src="assets/isologotypo.svg" alt="rcn-image">
            </a>
            <div class="header-title">{{ title }}</div>
            <h1 class="hide">RCN / Ripio credit network</h1>

            <div class="nav" [ngClass]="{'hasAccount': hasAccount }">
              <a class="nav__item nav__item--borrow mr-4" routerLink="/borrow">
                <span class="d-flex align-items-center">
                  <i class="material-icons mr-2 mt-0">add</i>
                  <span>Borrow</span>
                </span>
              </a>
              <!-- Menu section -->
              <a
                class="nav__item mr-4"
                routerLinkActive="nav__item--active"
                routerLink='/lend'
              >
                Lend
              </a>
              <a
                class="nav__item mr-4"
                routerLinkActive="nav__item--active"
                routerLink='/activity'
              >
                Activity
              </a>
              <a
                class="nav__item mr-4"
                routerLinkActive="nav__item--active"
                routerLink='/address/{{ account }}/'
                *ngIf='hasAccount'
              >
                My Loans
              </a>
              <div class="separator mr-3 p-0"></div>
              <div class="nav__item ml-2 mr-4" (click)="login()" *ngIf="!hasAccount">
                Connect
              </div>
              <div
                class="align-items-center px-0"
                [ngClass]="hasAccount ? 'd-flex' : 'd-none'"
              >
                <app-icon-group-header [account]="account"></app-icon-group-header>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
