@import '../../../scss/_variables.scss'; //variables

.list-avatar {
  height: 40px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  .txt-container{
    padding-left: 15px;
    .title{
      line-height: 1.2;
      font-size: 16px;
      @extend %font-medium;
    }
    .subtitle{
      line-height: 1.2;
      font-size: 12px;
      @extend %font-medium;
    }
  }
}