@import '../../../scss/variables';
@import '../../../scss/fonts';

.list-avatar {
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  .txt-container {
    padding-left: 15px;
    .title {
      line-height: 1.4em;
      @extend %font-semi-bold;
      @extend .font18;
    }
    .subtitle {
      line-height: 1em;
      @extend %font-medium;
      @extend .font14;
    }
  }
}
