@import '../../../scss/_variables.scss'; //variables

.list-avatar {
  height: 55px;
  position: relative;
  padding-top: 6px;
  padding-left: 55px;
  .txt-container{
    .title{
      line-height: 1.2;
      font-size: 16px;
      @extend %font-medium;
    }
    .subtitle{
      line-height: 1.2;
      font-size: 12px;
      @extend %font-medium;
    }
  }
}