<div
  class="body-scrollable requested-wrapper"
  [ngClass]="{ active: filtersOpen, disabled: filtersOpen === false }"
>
  <div class="container">
    <div class="page-header">
      <app-page-header
        title="MY DASHBOARD"
        description="Check all your loans status and operations."
      >
      </app-page-header>
    </div>
    <div class="dashboard">
      <div class="row">
        <div class="col-md-9">
          <p class="dashboard__title">MY LOANS</p>
        </div>
        <div class="col-md-3">
          <p *ngIf="isCurrentLoans" (click)="setCurrentLoans(false)" class="dashboard__link">SEE OLD LOANS <i class="fas fa-plus-circle"></i></p>
          <p *ngIf="!isCurrentLoans" (click)="setCurrentLoans(true)" class="dashboard__link">SEE CURRENT LOANS <i class="fas fa-plus-circle"></i></p>
        </div>
      </div>
      <div class="dashboard__content">
        <div class="row">
          <div *ngIf="!isLoading" class="col-md-6">
            <app-dashboard-list [isCurrentLoans]="isCurrentLoans" [loans]="loans" [showOptions]="true" title="CURRENT BORROWED"></app-dashboard-list>
          </div>
          <div *ngIf="!isLoading" class="col-md-6">
            <app-dashboard-list [isCurrentLoans]="isCurrentLoans" [loans]="[]" [showOptions]="false" title="CURRENT LENT"></app-dashboard-list>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>