@import 'src/scss/fonts';

.dashboard {
  margin-top: 20px;
  &__title {
    @include styled-font('proxima-nova', 600, 18px);
    margin-bottom: 16px;
  }
  &__link {
    @include styled-font('proxima-nova', 700, 11px);
    color: #a09f9f;
    text-align: right;
    &--active {
      color: #7684FF;
    }
    span {
      display: block;
    }
  }
  ::ng-deep {
    .mat-button-toggle-group {
      height: 35px;
      @include styled-font('proxima-nova', 600, 13px);
    }
    .mat-button-toggle-label-content {
      line-height: 36px;
    }
  }
}

@media (min-width: 992px) {
  .page-header {
    margin-bottom: 30px;
  }
  .dashboard {
    background-color: #212124;
    padding: 21px 25px;
    margin-top: 0;
    margin-bottom: 56px;
    height: 550px;
    overflow: hidden;
    &__title {
      margin-bottom: 0px;
    }
    &__link {
      cursor: pointer;
      text-align: right;
      svg {
        margin-left: 4px;
      }
      span {
        display: inline-block;
        margin-right: 15px;
      }
      span:first-child {
        margin-right: 24px;
      }
    }
    &__content {
      margin-top: 30px;
      text-align: center;
    }
  }
}
