<div
  class="chain"
  [matTooltip]="'Connected to ' + chainName"
  [matTooltipDisabled]="isBridge"
  (click)="clickChainSelector()"
  [ngClass]="{'chain--bridge': isBridge}"
>
  <div *ngIf="!isBridge" class="chain__icon">
    <img
      class="icon"
      [src]="config?.network.ui.image"
    >
  </div>
  <div *ngIf="!isBridge" class="chain__name">
    {{ config?.network.ui.name }}
  </div>
  <div *ngIf="isBridge" class="chain__bridge">
    <a target="_blank" [href]="config?.network.ui.bridge"> Bridge Assets </a>
  </div>
</div>
