@import '../../../scss/_variables.scss'; //variables

.go-back {
  width: 70px;
  display: flex;
  color: $secondary;
  padding-left: 10px;
  cursor: pointer;
  @include transition;
  &:hover{
    background-color: $fifth;
  }
}