<div class="card-container">
  <app-loan-avatar [loan]=loan [short]=true></app-loan-avatar>
  <app-risk-indicator class="risk-indicator" [loan]=loan></app-risk-indicator>
  <app-creator-container [loan]=loan></app-creator-container>
  <div class="card-row">
    <div class="card-property">
      <div class="title">{{ 'Borrower' }}</div>
      <div class="paragraph">{{ loan.borrowerShort }}</div>
    </div>
    <div class="card-property">
      <div class="title">{{ durationLabel }}</div>
      <div class="paragraph">{{ durationValue }}</div>
    </div>
    <div class="card-property">
      <div class="title">{{ 'Annual Interest / Punitory' }}</div>
      <div class="paragraph"> ~ {{ formatInterest(loan.annualInterest) }} % /  ~ {{ formatInterest(loan.annualPunitoryInterest) }} %</div>
    </div>
    <div class="properties-block">
      <div class="title">{{ leftLabel }}</div>
      <div class="currency">{{ loan.currency }}</div>
      <div class="title">{{ rightLabel }}</div>
    </div>
    <div class="conversion-block">
      <div class="block-title">{{ leftValue }}</div>
      <div class="currency"><i class="material-icons" style="font-size: 2em">arrow_forward</i></div>
      <div class="block-title">{{ rightValue }}</div>
    </div>
    <app-lend-button (actionEvent)="receiveClickEvent($event)" 
    [loan]=loan
    *ngIf="canLend"></app-lend-button>
    <!-- <app-detail-button [loan]=loan></app-detail-button> -->
  </div>
</div>