@import '../../../scss/variables';
@import '../../../scss/fonts';
@import '../../../scss/helpers';

.loan-card {
  position: relative;
  padding: 15px 20px;
  border-radius: 2px;
  background-color: var(--app-color-gray-700);
  -webkit-transition: box-shadow 150ms cubic-bezier(0,0,.2,1);

  &,
  &::ng-deep .creator-container {
    transition: .3s;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--app-color-gray-500);
    .loan-card__creator {
      &::ng-deep .creator-container {
        background-color: var(--app-color-gray-300);
      }
    }
  }

  &__href {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__risk-indicator,
  &__complete {
    position: absolute;
    top: 25px;
  }

  &__risk-indicator {
    right: 25px;
  }

  &__complete {
    right: 15px;
    color: var(--app-color-orange);
    font-size: 1.45em;
  }

  &__content {
    margin-top: 20px;
    color: var(--app-color-secondary);
  }

  &__property {
    margin-bottom: 20px;
    &-title {
      position: relative;
      z-index: 2;
      @extend %propiety-title;
      margin: 0;
      font-weight: inherit;
      letter-spacing: 0.46px;
      color: #D9D9D9;
    }
    &-paragraph {
      @extend %propiety-subtitle;
      @extend .ellipsis;
      line-height: 1.7em;
    }

    &--properties {
      @extend %flex-container;
      margin-top: 30px;
      margin-bottom: 10px;

      > div {
        width: 33.3%;

        &:nth-child(1) {
          text-align: left;
        }
        &:nth-child(2) {
          @extend %propiety-subtitle;
          font-size: 24px;
          font-weight: 700;
          text-align: center;
        }
        &:nth-child(3) {
          text-align: right;
        }
      }
    }

    &--conversion {
      @extend %flex-container;
      height: 30px;
      padding: 0px 15px;
      margin: 5px -15px 25px;

      > div {
        @extend %roboto-black;
        width: 33.3%;
        color: white;

        &:nth-child(1),
        &:nth-child(3) {
          @extend .ellipsis;
          width: 40%;
        }
        &:nth-child(1) {
          text-align: left;
          font-size: 24px;
        }
        &:nth-child(2) {
          width: 20%;
          display: flex;
          @extend %font-regular;
          i {
            margin: 0 auto;
          }
        }
        &:nth-child(3) {
          color: var(--app-color-primary);
          text-align: right;
          font-size: 24px;
        }
      }
    }

    &--actions {
      margin-bottom: 0;

      app-lend-button,
      app-redeem-button,
      app-detail-button {
        position: relative;
        z-index: 2;
      }
    }
  }
}

@media (min-width: 768px) {
  .loan-card {
    margin-top: 0px;
  }
}

@media (min-width: 992px) {
  .loan-card {
    margin: 0px 5px;
  }
}
