@import '../../../scss/variables';
@import '../../../scss/fonts';
@import '../../../scss/helpers';

//CARDS
.card-col{
  margin-top: 15px;
}
.card-container{
  position: relative;
  padding: 15px 20px;
  font-family: 'Raleway', sans-serif;
  border-radius: 2px;
  background-color: $fifth;
  box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
  -webkit-transition: box-shadow 150ms cubic-bezier(0,0,.2,1);
  .card-label{
    height: 35px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: var(--app-color-primary);
    background:
    linear-gradient(
      to bottom,
      rgba(65, 85, 255, 1),
      rgba(29, 29, 29, 1)
    );
    padding: 10px;
    .title{
      color: var(--app-color-secondary);
      @extend %font-bold;
    }
  }
  .risk-indicator {
    position: absolute;
    top: 25px;
    right: 25px;
  }
  .card-img{
    background-repeat: no-repeat;
    background-position: center center;
    @include background-size(cover);
  }
  .card-row{
    margin-top: 20px;
    color: var(--app-color-secondary);
    .card-property{
      margin-bottom: 20px;
    }
    .title{
      @extend %propiety-title;
      margin: 0;
      font-weight: inherit;
    }
    .paragraph{
      min-height: 21px;
      @extend %propiety-subtitle;
      @extend .ellipsis;
    }
    .btn{
      @include transition(all .3s ease-out);
      box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
      -webkit-transition: box-shadow 150ms cubic-bezier(0,0,.2,1);
    }
  }
}
.properties-block{
  @extend %flex-container;
  margin-top: 40px;
  div{
    flex: 1;
    &:nth-child(1){
      text-align: left;
    }
    &:nth-child(2){
      text-align: center;
      @extend %propiety-subtitle;
      font-size: 24px;
      font-weight: 700;
    }
    &:nth-child(3){
      text-align: right;
    }
  }
}

.creator-container {
  box-shadow: 0 0 6px rgba(0,0,0,.15), 0 6px 12px rgba(0,0,0,.35);
}


.conversion-block{
  height: 30px;
  @extend %flex-container;
  padding: 0px 15px;
  margin: 5px -15px 25px;
  div{
    max-width: 33.3%;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    @extend %roboto-black;
    &:nth-child(1){
      text-align: left;
      font-size: 24px;
    }
    &:nth-child(2){
      display: flex;
      @extend %font-regular;
      i{ margin: 0 auto; }
    }
    &:nth-child(3){
      color: var(--app-color-primary);
      text-align: right;
      font-size: 24px;
    }
  }
}

@media (min-width: 768px) {
  .card-col {
    margin-top: 30px;
  }
  .card-container {
    margin-top: 0px;
  }
}

@media (min-width: 992px) {
  .card-container {
    margin: 0px 5px;
  }
}
