<div class="loan-card mat-elevation-z5">
  <app-loan-avatar [loan]=loan [short]=true></app-loan-avatar>
  <ng-container *ngIf="isIncomplete; else completeTemplate">
    <div
      class="loan-card__complete"
      matTooltip="IMPORTANT: your loan will not be available for lending until you supply your collateral."
    >
      <i class="fas fa-exclamation-circle"></i>
    </div>
  </ng-container>
  <ng-template #completeTemplate>
    <app-risk-indicator
      class="loan-card__risk-indicator"
      [loan]="loan"
    ></app-risk-indicator>
  </ng-template>
  <app-creator-container
    class="loan-card__creator"
    [loan]="loan"
  ></app-creator-container>
  <div class="loan-card__content">
    <div class="loan-card__property">
      <div class="loan-card__property-title">
        Installments
      </div>
      <div class="loan-card__property-paragraph">
        {{ installments }}
      </div>
    </div>
    <div class="loan-card__property">
      <div class="loan-card__property-title">
        {{ durationLabel }}
      </div>
      <div class="loan-card__property-paragraph">
        {{ durationValue }}
      </div>
    </div>
    <div class="loan-card__property">
      <div class="loan-card__property-title">
        Annual rate / Penalty rate
      </div>
      <div class="loan-card__property-paragraph">
        {{ interestRate }} % / {{ punitiveInterestRateRate }} %
      </div>
    </div>
    <div class="loan-card__property loan-card__property--properties">
      <div class="loan-card__property-title">
        {{ leftLabel }}
      </div>
      <div class="loan-card__property-currency">
        {{ loan.currency }}
      </div>
      <div class="loan-card__property-title">
        {{ rightLabel }}
      </div>
    </div>
    <div class="loan-card__property loan-card__property--conversion">
      <div
        class="loan-card__property-title"
        [matTooltip]="
          leftValue?.length > 6 ?
            (leftValue + ' ' + loan.currency) :
            ''
        "
        matTooltipPosition="below"
      >
        {{ leftValue }}
      </div>
      <div class="loan-card__property-currency">
        <i class="material-icons" style="font-size: 2em">arrow_forward</i>
      </div>
      <div
        class="loan-card__property-title"
        [matTooltip]="
          rightValue?.length > 6 ?
            (rightValue + ' ' + loan.currency) :
            ''
        "
        matTooltipPosition="below"
      >
        {{ rightValue }}
      </div>
    </div>
    <div class="loan-card__property loan-card__property--actions">
      <ng-container *ngIf="isIncomplete; else activeLoanActions">
        <button mat-raised-button class="button button-clear">
          Add Collateral
        </button>
      </ng-container>
      <ng-template #activeLoanActions>
        <app-redeem-button
          [loan]="loan"
          (endRedeem)="onUserAction('redeem')"
          *ngIf="canRedeem"
        >
        </app-redeem-button>
        <app-lend-button
          [loan]="loan"
          [showLendDialog]="true"
          (endLend)="onUserAction('lend')"
          *ngIf="canLend"
        >
        </app-lend-button>
        <app-detail-button
          [loan]="loan"
          *ngIf="!canLend"
        >
        </app-detail-button>
      </ng-template>
    </div>
  </div>
  <a
    class="loan-card__href"
    [routerLink]="isIncomplete ? ['/borrow', loan?.id] : ['/loan', loan?.id]"
  >
  </a>
</div>
