<ngx-spinner bdColor="rgba(0,0,0,.3)" size="medium" color="#fff" type="ball-clip-rotate-multiple"></ngx-spinner>

<div class="loan-detail" *ngIf="loan !== undefined">
  <div class="header-container flex-container">
    <div class="flex-item">
      <app-goback-button></app-goback-button>
    </div>
    <div class="flex-item">
      <div class="creator-container">
        <div class="creator-title">{{ brand.header }}</div>
      </div>
    </div>
    <div class="flex-item">
      <app-button-group (view)="openDetail($event)" [viewDetail]=viewDetail></app-button-group>
    </div>
  </div>

  <div class="loan-description flex-container">
    <div class="left">
      <div class="avatar-information">
        <div class="flex-item">
          <app-loan-avatar [loan]=loan [short]=true></app-loan-avatar>
        </div>
        <div class="flex-item">
          <app-avatar-title [loan]=loan></app-avatar-title>
        </div>
      </div>
      <div class="paddingleft15 paddingright15">
        <app-conversion-graphic [headers]="['Lend', loan.currency, isRequest ? 'Estimated return' : 'Return']" [amountLeft]="loan.currency.fromUnit(loan.amount)" [amountRight]="isRequest ? expectedReturn : totalDebt"></app-conversion-graphic>
      </div>
      <div class="paddingleft15 paddingright15">
        <app-conversion-graphic [headers]="['Paid', 'Interest', 'Debt']" [amountRight]="pendingAmount" [textMiddle]="interestMiddleText" [amountLeft]="paid" *ngIf="!isRequest"></app-conversion-graphic>
      </div>

      <div class="margintop20"></div>
      <app-detail-table [data]="diasporeData" *ngIf="isDiaspore"></app-detail-table>
      <app-detail-table [data]="loanConfigData" *ngIf="isRequest"></app-detail-table>
      <app-detail-table [data]="loanStatusData" *ngIf="!isRequest"></app-detail-table>

      <div class="table-responsive" *ngIf='availableOracle'>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Oracle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ loan.oracle }} - <b>{{ currency }}</b></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive" (click)="openDetail('identity');">
        <table class="table table-clickable">
          <thead>
            <tr>
              <th style='cursor: pointer' [ngClass]="{'background-active': isDetail('identity') }" scope="col">
                Identity<i class="material-icons white more-indicator">{{ isDetail('identity') ? '' : 'unfold_more' }}</i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style='cursor: pointer'>{{ loan.borrower }} - <b>{{ identityName }}</b></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive">
        <table class="table" (click)="openLender(loan.owner)" *ngIf="!isRequest && !isExpired">
          <thead>
            <tr>
              <th style='cursor: pointer' scope="col">{{ 'Lender' }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style='cursor: pointer'>{{ loan.debt.owner }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive" (click)="openDetail('cosigner');">
        <table class="table table-clickable">
          <thead>
            <tr>
              <th style='cursor: pointer' [ngClass]="{'background-active': isDetail('cosigner') }" scope="col">
                  Insurance / Cosigner<i class="material-icons white more-indicator">{{ isDetail('cosigner') ? '' : 'unfold_more' }}</i>
              </th>
            </tr>
          </thead>
          <tbody>
            <app-cosigner-selector [loan]=loan></app-cosigner-selector>
          </tbody>
        </table>
      </div>
      <div class="paddingleft15 paddingright15 paddingbottom15" *ngIf="canLend || canTransfer || canPay">
        <app-pay-button [loan]=loan *ngIf="canPay"></app-pay-button>
        <app-lend-button [loan]=loan *ngIf="canLend"></app-lend-button>
        <app-risk-indicator class='risk-indicator' [loan]=loan *ngIf="canLend"></app-risk-indicator>
        <app-transfer-button [loan]="loan" *ngIf="canTransfer"></app-transfer-button>
      </div>
    </div>

    <div class="right">
      <app-detail-identity *ngIf="isDetail('identity')" [loan]="loan"></app-detail-identity>
      <app-detail-cosigner *ngIf="isDetail('cosigner')" [loan]="loan"></app-detail-cosigner>
    </div>

  </div>

  <div *ngIf="hasHistory">
    <div class="margintop40"></div>
    <div class="title main-h1 feature-padding">History</div>
    <div class="paddingleft15 paddingright15">
      <app-transaction-history [loan]=loan></app-transaction-history>
    </div>
  </div>
</div>
