<div class="container margintop95">
  <div class="row">
    <div class="col-xs-12 loan-detail" *ngIf="loan !== undefined">
      <div class="row">
        <div class="navbar-container">
          <ul class="col-group x3">
            <li class="col-item">
              <div class="go-back" (click)='goHome()'><i class="material-icons">arrow_back</i></div>
            </li>
            <li class="col-item">
              <app-creator-container [loan]=loan></app-creator-container>
            </li>
            <li class="col-item">
              <div class="button-group">
                <div class="button-options"><i class="material-icons">more_vert</i></div>
                <div class="button-options"><i class="material-icons">favorite</i></div>
                <div class="button-options"><i class="material-icons">swap_horiz</i></div>
                <div class="button-options"><i class="material-icons">delete</i></div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-6 loan-description left">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <app-loan-avatar [loan]=loan [short]=false></app-loan-avatar>
            </div>
            <div class="col-xs-12 col-sm-6">
              <app-avatar-title></app-avatar-title>
            </div>
          </div>
          <app-conversion-graphic></app-conversion-graphic>
          <app-conversion-graphic></app-conversion-graphic>
          <div class="margintop20"></div>
          <app-detail-table></app-detail-table>
          <div class="table-responsive" (click)="openDetail('identity')">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">{{ 'Identity' }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style='cursor: pointer'>{{ loan.borrower }} - Unknown</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive" (click)="openDetail('cosigner')">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">{{ 'Insurance / Cosigner' }}</th>
                </tr>
              </thead>
              <tbody>
                <td style='cursor: pointer'>
                  <app-cosigner-selector [options]=cosignerOptions (onSelected)=onCosignerSelected></app-cosigner-selector>
                </td>
              </tbody>
            </table>
          </div>
          <app-pay-button></app-pay-button>
          <app-forgive-button></app-forgive-button>
        </div>
        <div class="col-xs-12 col-md-6 loan-description right">
          <app-detail-cosigner *ngIf="isDetail('cosigner')" [cosigner]="cosigner"></app-detail-cosigner>
          <app-detail-identity *ngIf="isDetail('identity')"></app-detail-identity>
        </div>
      </div>
    </div>
  </div>
</div>