@import '../../../scss/_variables.scss'; //variables
@import '../../../scss/_tables.scss'; //tables

//LOAN DETAIL
.loan-detail{
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.header-container{
  position: relative;
  .creator-container {
    .creator-title{
      color: $fifth;
      font-size: 36px;
      @extend %font-black;
    }
  }
  &.flex-container{
    height: 70px;
    @extend %flex-container;
    background-color: $gray7;
    > .flex-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 100%;
      min-width: 60px;
      @include transition;
      &:nth-child(1){
        order: 1;
        &:hover{
          background-color: $fifth;
        }
      }
      &:nth-child(2){ order: 2; cursor: default; @extend %position-center; }
      &:nth-child(3){ order: 3; }
    }
  }
}

.loan-description{
  &.flex-container{
    @extend %flex-display;
    flex-direction: column;

    .left{
      width: 100%;
      flex: 1;
      background-color: #0c0c0c;
      .avatar-information{
        @extend %flex-display;
        justify-content: space-around;
        .flex-item{
          &:nth-child(1){ width: 50%; padding: 15px 8px 0 15px; }
          &:nth-child(2){ width: 50%; padding: 15px 15px 0 8px; display: flex; align-items: flex-end; flex-direction: column; }
        }
      }
    }

    .right{
      width: 100%;
      min-height: 400px;
      position: relative; // TODO Remove relative position after refactor & redesign decentraland
      flex: 1;
      display: flex;
      text-align: center;
      justify-content: center;
      padding: 15px;
      background-color: #101010;
    }

  }
}

.more-indicator {
  font-size: 15px;
  float: right;
}

.table-clickable {
  cursor: pointer;
  >thead{
    >tr{
      >th {
        @include transition;
        &:active{
          background-color: $primary;
        }
        &.background-active{
          background-color: $primary;
        }
      }
    }
  }
}

.risk-indicator {
  padding-top: 4px;
  padding-left: 16px;
  position: absolute;
}
.feature-padding{
  padding: 0 15px;
}

@media (min-width: 992px) { 
  .loan-detail{
    width: 970px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-container{
    &.flex-container{
      height: 100px;
      > .flex-item { min-width: 70px; }
    }
  }

  .loan-description{
    &.flex-container{
      flex-direction: row;
      .left{
        width: 50%;
        flex: 1;
      } 
      .right{
        width: 50%;
        display: initial;
      }
    }
  }
  .feature-padding{
    padding: 0;
  }
}

@media (min-width: 1200px) { 
  .loan-detail{
    width: 1170px;
  }
  .loan-description{
    &.flex-container{
      .left{
        .avatar-information{
          .flex-item{
            &:nth-child(1){ width: 75%; }
            &:nth-child(2){ width: 25%; }
          }
        }
      }
    }
  }
}

