@import '../../../scss/variables'; //variables
@import '../../../scss/tables'; //tables
@import '../../../scss/fonts';

//LOAN DETAIL
.loan-detail{
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.header-container{
  position: relative;
  z-index: 2;
  .creator-container {
    .creator-title{
      color: var(--app-color-gray-100);
      font-size: 1.75em;
      @extend %font-extra-bold;
    }
    .creator-image {
      width: 250px;
      max-width: 100%;
      height: 45px;
      img {
        width: 100%;
        max-height: 100%;
      }
    }
  }
  &.flex-container{
    height: 70px;
    @extend %flex-container;
    background-color: var(--app-color-gray-400);
    > .flex-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 100%;
      min-width: 60px;
      @include transition;
      &:nth-child(1){
        order: 1;
        &:hover{
          background-color: var(--app-color-gray-500);
        }
      }
      &:nth-child(2){ order: 2; cursor: default; @extend %position-center; }
      &:nth-child(3){ order: 3; }
    }
  }
}

.loan-description {
  &.flex-container {
    @extend %flex-display;
    flex-direction: column;

    .left {
      width: 100%;
      flex: 1;
      background-color: var(--app-color-gray-700);
      .avatar-information {
        @extend %flex-display;
        justify-content: space-around;
        position: relative;
        .flex-item{
          &:nth-child(1){ width: 50%; padding: 15px 8px 0 15px; }
          &:nth-child(2){ width: 50%; padding: 15px 15px 0 8px; display: flex; align-items: flex-end; flex-direction: column; }
        }
        &::after {
          content: '';
          display: block;
          width: calc(100% - 30px);
          height: 1px;
          background: #383838;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0 auto 15px;
          padding: 0 15px;
        }
      }
    }

    .right{
      width: 100%;
      position: relative; // TODO Remove relative position after refactor & redesign decentraland
      flex: 1;
      display: flex;
      text-align: center;
      justify-content: center;
      padding: 15px;
      background-color: var(--app-color-gray-500);
      app-detail-identity,
      app-detail-cosigner,
      app-detail-collateral,
      app-detail-installments {
        width: 100%;
      }
    }

  }
}

.more-indicator {
  font-size: 15px;
  float: right;
}

.table-clickable {
  cursor: pointer;
  >thead{
    >tr{
      >th {
        @include transition;
        &:active{
          background-color: var(--app-color-primary-dark);
        }
        &.background-active{
          background-color: var(--app-color-primary-dark);
        }
      }
    }
  }
}

.table {
  &--installments {
    .table__body {
      &-header {
        @include typography-body(3);
        color: #D9D9D9;

        .due-status {
          &--success {
            color: var(--app-color-green);
          }
          &--warning {
            color: var(--app-color-orange);
          }
          &--error {
            color: var(--app-color-red);
          }
        }

        .subtitle {
          display: inline-block;
          margin-bottom: 10px;
        }
      }
      &-content {
      }
    }
  }
}

.risk-indicator {
  padding-top: 4px;
  padding-left: 16px;
  position: absolute;
}
.feature-padding{
  padding: 0 15px;
}

@media (min-width: 992px) {
  .loan-detail{
    width: 970px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-container{
    &.flex-container{
      height: 100px;
      > .flex-item { min-width: 70px; }
      .creator-container {
        .creator-title {
          font-size: 36px;
        }
      }
    }
  }

  .loan-description{
    &.flex-container{
      flex-direction: row;
      .left{
        flex: 1;
        .avatar-information::after {
          content: none;
        }
      }
      .right{
        display: initial;
        min-height: 400px;
      }
    }
  }
  .feature-padding{
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .loan-detail{
    width: 1170px;
  }
  .loan-description{
    &.flex-container{
      .left{
        .avatar-information{
          .flex-item{
            &:nth-child(1){ width: 75%; }
            &:nth-child(2){ width: 25%; }
          }
        }
      }
    }
  }
}

@media (min-width: 1366px) {
  .loan-detail{
    width: 1270px;
  }
}
