@import '../../../scss/_variables.scss'; //variables

//LOAN DETAIL
.loan-detail{
  margin-top: 40px;
}
.navbar-container {
  height: 100px;
  position: relative;
  overflow: hidden;
  background-color: #333333;
  .button-group{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .button-options{
    position: relative;
    width: 70px;
    height: 100%;
    padding: 15px;
    float: right;
    color: $secondary;
    cursor: pointer;
    @include transition;
    &:hover{
      background-color: $fifth;
    }
    i{
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
    }
  }
  .go-back {
    width: 70px;
    height: 100%;
    position: absolute;
    color: $secondary;
    cursor: pointer;
    @include transition;
    &:hover{
      background-color: $fifth;
    }
    i{
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
    }
  }
}
.loan-description {
  position: relative;
  width: 100%;
  float: left;
  padding: 15px;
  &.left{
    height: 485px;
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $fifth;
  }
  &.right{
    min-height: 485px;
    margin-top: 485px;
    position: relative;
    background-color: $quaternary;

  }
}
.col-group{
  &.x3{
    .col-item{
      position: relative;
      width: 33.3%;
      height: 100px;
      float: left;
    }
  }
}
.table{
  >thead{
    >tr{
      >th {
        border: 0px;
        background-color: #333333;
        @extend %propiety-title;
      }
    }
  }
  >tbody{
    >tr{
      >td {
        border: 0px;
        @extend %propiety-subtitle;
      }
    }
  }
}

.lend-return--row{
  li{
    width: 32%;
    display: inline-block;
    &:nth-child(1){
      text-align: left;
    }
    &:nth-child(2){
      text-align: center;
      @extend %propiety-subtitle;
    }
    &:nth-child(3){
      text-align: right;
    }
  }
}
.lending-returns--block{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 5px -15px 15px;
  padding: 0px 15px;
  ol{height: 52px;}
  li{
    width: 42%;
    height: 100%;
    display: inline-block;
    line-height: 1.8;
    @extend %font-bold;
    &:nth-child(1){
      text-align: left;
      font-size: 26px;
    }
    &:nth-child(2){
      width: 12%;
      line-height: 4.2;
      text-align: center;
      vertical-align: middle;
      vertical-align: -webkit-baseline-middle;
      @extend %font-regular;
    }
    &:nth-child(3){
      color: $primary;
      text-align: right;
      font-size: 26px;
    }
  }
}

@media (min-width: 768px){}
@media (min-width: 992px){
  .loan-description {
    width: 50%;
    &.left{
      height: auto;
    }
    &.right{
      margin-top: 0px;
      position: relative;
      width: 50%;
      margin-left: 50%;
      background-color: $quaternary;
    }
  }
}

@media screen and (max-width: 767px){
  .table-responsive {
    border: 0px;
  }
}
