@import '../../../scss/_variables.scss'; //variables

//LOAN DETAIL
.loan-detail{
  margin-bottom: 20px;
}
.navbar-container {
  height: 100px;
  position: relative;
  overflow: hidden;
  background-color: #333333;
  .button-group{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .button-options{
    position: relative;
    width: 70px;
    height: 100%;
    padding: 15px;
    float: right;
    color: $secondary;
    cursor: pointer;
    @include transition;
    &:hover{
      background-color: $fifth;
    }
    i{
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
    }
  }
}
.loan-description {
  position: relative;
  width: 100%;
  float: left;
  padding: 15px;
  &.left{
    position: relative;
    height: auto;
    background-color: $fifth;
  }
  &.right{
    min-height: 670px;
    background-color: $quaternary;
  }
}
.col-group{
  &.x3{
    .col-item{
      position: relative;
      width: 33.3%;
      height: 100px;
      float: left;
    }
  }
}

.more-indicator {
  font-size: 15px;
  float: right;
}

.table-clickable {
  cursor: pointer;
  >thead{
    >tr{
      >th {
        @include transition;
        &:active{
          background-color: $primary;
        }
        &.background-active{
          background-color: $primary;
        }
      }
    }
  }
}

@media (min-width: 768px){}
@media (min-width: 992px){
  .loan-description {
    width: 50%;
    &.left{
      width: 50%;
    }
    &.right{
      // height: auto;
      // min-height: 468px;
      // position: absolute;
      // top: 100px;
      // bottom: 0;
      left: 0;
      right: 0;
      // margin-left: 50%;
    }
  }
}

.risk-indicator {
  padding-top: 4px;
  padding-left: 16px;
  position: absolute;
}