@import './../../../scss/variables';
@import './../../../scss/fonts';
@import './../dialog';

.dialog-content {
  .item {
    &__rate {
      @include typography-subtitle(2);
      color: var(--app-color-gray-50);
    }
    &__actions {
      button {
        min-width: 0;
        line-height: 2.2em;
        margin-bottom: 15px;
      }
    }
  }
}

@media (min-width: 992px) {
  .dialog-content {
    .item {
      &__actions {
        button {
          margin-top: 0;
          margin-bottom: 27px;
        }
      }
    }
  }
}
