<app-dialog-header title="Loan Repaying">
</app-dialog-header>

<mat-dialog-content class="dialog">

  <ng-container *ngIf="startProgress">
    <app-infinite-progress-bar
      [start]="true"
      [end]="finishProgress"
      (finish)="hideProgressbar()"
    >
    </app-infinite-progress-bar>
  </ng-container>

  <form [formGroup]="form">
    <div class="container">
      <div class="dialog-content">
        <div class="row">
          <div class="col col-12 col-md-4 mb-3 mb-md-0 item item--entry">
            <p class="item__subtitle">
              Repayment amount
            </p>
            <mat-form-field
              class="mt-2"
              [class.mat-form-field--empty]="!form?.value.amount"
            >
              <input
                matInput
                type="number"
                min="0"
                max="1000000"
                formControlName="amount"
                placeholder="0"
                pattern="^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$"
                [readonly]="loading"
                required
                (keyup)="onAmountChange()"
              />
              <span class="currency">
                {{ currency?.symbol }}
              </span>
            </mat-form-field>
            <div class="d-flex justify-content-between d-md-block">
              <p class="item__rate" *ngIf="loan?.currency.symbol !== 'RCN'">
                <span class="item__rate-amount">
                  {{ payAmountRcn || '0' }}
                </span>
                <span class="item__rate-currency">
                  RCN
                </span>
              </p>
              <div class="item__actions">
                <button
                  type="button"
                  mat-flat-button
                  class="button button-clear button-rounded"
                  [class.button-disabled]="loading"
                  (click)="clickSetMaxAmount()"
                >
                  Repay Total
                </button>
              </div>
            </div>
          </div>
          <div class="col col-12 col-md-6 offset-md-2 mb-3 mb-md-0 pl-md-5 item item--amount">
            <p class="item__subtitle">
              Outstanding amount
            </p>
            <p class="item__value">
              <strong class="item__value-amount">
                {{ pendingAmount }}
              </strong>
              <span class="item__value-currency">
                {{ currency?.symbol }}
              </span>
            </p>
            <p class="item__rate" *ngIf="loan?.currency.symbol !== 'RCN'">
              <span class="item__rate-amount">
                {{ pendingAmountRcn || '0' }}
              </span>
              <span class="item__rate-currency">
                RCN
              </span>
            </p>
            <div
              *ngIf="payAmountRcn && pendingAmountRcn"
              class="item__message"
              [ngClass]="
                sufficientPaymentAmount ?
                'item__message--success' :
                'item__message--warning'
              "
            >
              <ng-container *ngIf="sufficientPaymentAmount; else insufficientAmountTemplate">
                <p>
                  <span>
                    <i class="fas fa-check check mr-1"></i>
                  </span>
                  <span>
                    You're about to repay the total Outstanding Amount.
                  </span>
                </p>
              </ng-container>
              <ng-template #insufficientAmountTemplate>
                <p *ngIf="form?.value.amount">
                  <span>
                    <i class="fas fa-exclamation-triangle mr-1"></i>
                  </span>
                  <span>
                    You're about to repay less than the total Outstanding Amount.
                    If it is not fully repaid by the Due Date, your collateral will
                    get partially or fully liquidated.
                  </span>
                </p>
              </ng-template>
            </div>
          </div>
        </div>
        <mat-accordion class="accordion-details">
          <mat-expansion-panel class="mat-elevation-z">
            <mat-expansion-panel-header>
              <mat-panel-title>
                More details
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="accordion-details__item" *ngIf="exchangeTooltip">
              <i
                class="fas fa-exchange-alt"
                [matTooltip]="exchangeTooltip"
              ></i>
              <span>
                Current Exchange Rate: 1 {{ loan.currency }}
              </span>
              <span *ngIf="loan.currency.toString() !== 'RCN'">
                = {{ exchangeRcn }} RCN
              </span>
            </div>
            <!--
            TODO: add TX cost
            <div class="accordion-details__item">
              <i class="fas fa-arrows-alt-h"></i>
              <span>
                Tx Cost: - USD
              </span>
            </div>
            -->
            <div class="accordion-details__item" *ngIf="exchangeTooltip">
              <i class="fas fa-info-circle"></i>
              <span [innerHTML]="exchangeTooltip"></span>
            </div>
            <div class="accordion-details__item">
              <i class="fas fa-wallet"></i>
              <span>
                Repaying from the
                <a
                  [href]="explorerAddress.replace('${address}', account)"
                  target="_blank"
                >
                  {{ account | formatAddress }}
                </a>
                address.
              </span>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions class="dialog-footer d-flex justify-content-end">
  <app-pay-button
    [loan]="loan"
    [amount]="form.value.amount"
    [disabled]="loading || !form?.valid"
    (startPay)="showProgressbar()"
    (endPay)="endPay()"
  ></app-pay-button>
  <app-close-button class="d-none d-md-inline"></app-close-button>
</mat-dialog-actions>
