  <mat-dialog-content>
    <div class="navbar-container">
      <div class="creator-container">
        <div class="creator-title">What is RCN?</div>
      </div>
    </div>
    <div class="col-sm-12 dialog-padding">
      <div class="title main-h3 reg">It’s a <b>Decentralized Application</b> or dApp, which means that its code and databases are not<br>hosted on a single centralized server, but on thousands of Nodes on the <b>Ethereum network.</b>  
        </div>
      <div class="margintop20"></div>
      <div class="title main-h3">This provides it with better security and transparency. However, in order to interact with it<br>it's necessary to use a Web Wallet, a plugin that allows web browsers to connect with the<br>blockchain and store, send and receive cryptocurrencies.  
        </div>
      <div class="margintop20"></div>
      <div class="title main-h4">You can pick any Web Browser you want, but we recommend using Metamask.</div>
      <div class="row img-container">
        <div class='col-sm-12'>
          <!-- <img src="../../../assets/Icons/locked-padlock.png" alt="ether-client"> -->
          <!-- <div class="title main-h1 margintop10">Metamask</div> -->
          <a mat-raised-button (click)="openDialog()"  target="_blank" class="button button-primary margintop20"><i class="fas fa-arrow-right"></i></a>
        </div>
        <!-- <div class="col-sm-12 col-md-6">
          <div class="margintop20 d-none d-md-none"></div>
          <img src="https://www.myetherwallet.com/images/myetherwallet-logo-square.png" alt="ether-client">
          <div class="title main-h1 margintop10">My Ether Wallet</div>
          <a mat-raised-button href="https://www.myetherwallet.com/"  target="_blank" class="button button-primary margintop20">GET</a>
        </div> -->
      </div>
    </div>
  </mat-dialog-content>
