<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <div class="margintop10"></div>
  <mat-form-field>
    <input matInput type="number" min='0' step="any" formControlName="amount" placeholder="Amount">
    <mat-hint>
      Collateral amount
    </mat-hint>
  </mat-form-field>
  <div class="margintop10"></div>
  <button type="submit" mat-raised-button class="button button-primary">
    Add
  </button>
  <button mat-raised-button class="button button-secondary" [mat-dialog-close]='false'>
    Cancel
  </button>
</form>
