<form [formGroup]="form" (ngSubmit)="onSubmit(form)">

  <div class="margintop60"></div>

  <div class="collateral row">
    <div class="collateral__entry marginbottom20 col-sm-12 col-md-4">
      <p class="subtitle">
        Amount you want to add
      </p>
      <mat-form-field>
        <input
          matInput
          type="number"
          min='0'
          step="any"
          formControlName="amount"
          placeholder="Set amount"
          (keyup)="onAmountChange()"
        >
        <span class="currency">
          {{ collateralSymbol }}
        </span>
      </mat-form-field>
    </div>
    <div class="collateral__amount marginbottom20 col-sm-12 col-md-4 offset-md-4">
      <p class="subtitle">
        Collateral amount
      </p>
      <p class="value">
        {{ estimatedCollateralAmount || collateralAmount }} {{ collateralSymbol }}
      </p>
    </div>
    <div class="collateral__graphic marginbottom20 col-sm-12">
      <p class="subtitle">
        Collateral to debt
      </p>
      <div class="margintop10">
        <app-collateral-slider-debt
          [liquidationRatio]="liquidationRatio"
          [balanceRatio]="balanceRatio"
          [collateralRatio]="estimatedCollateralRatio || collateralRatio"
        ></app-collateral-slider-debt>
      </div>
    </div>
  </div>

  <div class="margintop40"></div>

  <div class="dialog-divisor row">
    <div class="dialog-divisor__content col-sm-12">
      <i class="material-icons marginright5">
        info
      </i>
      Liquidation Price: {{ liquidationPrice }} {{ collateralSymbol }}
    </div>
  </div>

  <div class="margintop20"></div>

  <div class="dialog-footer row">
    <div class="dialog-footer__label col-sm-12 col-md-6">
      <p>
        Paying from your <strong>{{ shortAccount }}</strong> account.
      </p>
    </div>
    <div class="dialog-footer__buttons col-sm-12 col-md-6">
      <button
        type="submit"
        mat-raised-button
        class="button button-primary"
        [class.button-disabled]="loading"
      >
        {{ submitButtonText }}
      </button>
      <button mat-raised-button class="button button-clear-dark mat-elevation-z" [mat-dialog-close]='false'>
        Cancel
      </button>
    </div>
  </div>
</form>
