@import '../../../scss/_variables.scss'; //variables

.flex-between{
  display: flex;
  justify-content: space-between;
}

.filters{
  opacity: 0;
  overflow: hidden;
  height: 0px;
  position: relative;
  top: -10px;
  @include transition();
  &.active{
    height: 605px;
    top: 0;
    opacity: 1;
  }
}

@media (min-width: 768px){
  .filters{
    &.active{
      height: 390px;
    }
  }
}

@media (min-width: 992px){
  .filters{
    &.active{
      height: 102px;
    }
  }
}