<div
  class="body-scrollable requested-wrapper"
  [ngClass]="{ active: filtersOpen, disabled: filtersOpen === false }"
>
  <ngx-spinner
    bdColor="transparent"
    size="medium"
    color="#fff"
    type="ball-clip-rotate-multiple"
    [name]="pageId"
  ></ngx-spinner>
  <div class="container">

    <ng-container *ngIf="availableLoans; else noAvailableLoans">
      <div class="page-header">
        <app-page-header
          title="Lending marketplace"
          description="Fund crypto and fiat loans using multiple currencies."
          [hasChip]="true"
          [chipValue]="loans.length"
          chipLabel="REQUESTED"
        >
        </app-page-header>
        <button mat-button class="paddingright30" (click)="openFilters()">
          FILTER BY
          <mat-icon class="icon-active">filter_list</mat-icon>
          <mat-icon class="icon-disabled">expand_more</mat-icon>
        </button>
      </div>

      <div class="filters anm-01">
        <app-filter-loans [filters]="filters" (filtered)="onFiltered()">
        </app-filter-loans>
      </div>
      <div class="loan-container">
        <app-loan-list-header></app-loan-list-header>
        <virtual-scroller
          #scroll
          [items]="loans"
          [bufferAmount]="12"
          [scrollThrottlingTime]="500"
        >
          <div *ngFor="let loan of scroll.viewPortItems; let i = index">
            <app-loan-list [loan]="loan" [backgroundLighter]="i % 2">
            </app-loan-list>
          </div>
        </virtual-scroller>
      </div>
    </ng-container>

  </div>
  <app-footer></app-footer>
</div>

<ng-template #noAvailableLoans>
  <div class="container">
    <div class="row">
      <div class="page-header">
        <app-page-header
          title="Lending marketplace"
          description="Fund crypto and fiat loans using multiple currencies."
          [hasChip]="false"
          [chipValue]="0"
          chipLabel="REQUESTED"
        ></app-page-header>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 px-0 mb-5 pb-5 mb-lg-0 pb-lg-0">
      <app-error-details
        label="STAY TUNED!"
        title="More loans are on their way."
        description="Meanwhile you can join the community to get alerts every time they arrive!"
        image="assets/errors/error_loans-comming.svg"
        [buttons]="[
          {
            text: 'Get Loan Alerts',
            url: 'https://t.me/RCNchat',
            class: 'button-primary',
            target: '_blank'
          },
          {
            text: 'Go to Activity',
            url: '/activity',
            class: 'button-clear'
          }
        ]"
        disclaimer="
          If you don’t feel like going there, you can check
          <!-- TODO: add URL -->
          <a href='https://rcn.finance' target='_blank'>
            what we are working on.
          </a>
        "
      >
      </app-error-details>
    </div>
  </div>
</ng-template>

<app-borrow-fab-button>
</app-borrow-fab-button>
