<ngx-spinner bdColor="rgba(0,0,0,.3)" size="medium" color="#fff" type="ball-clip-rotate-multiple"></ngx-spinner>
<div class="container">
  <div class="row">
    <div class="col-sm-12 d-none d-lg-block">
      <div class="title main-h1 marginbottom30">Requests</div>
    </div>
    <div class="col-sm-12 flex-between margintop10 marginbottom10">
      <mat-chip-list>
        <mat-chip selected="true">{{ loans.length }} AVAILABLE</mat-chip>
      </mat-chip-list>
      <button mat-button class='float-right' (click)="openFilters()">FILTER <mat-icon>filter_list</mat-icon></button>
    </div>
  </div>
  
  <div class="row" *ngIf='filtersOpen'>
    <form [formGroup]="formGroup">
      <div class="form-group">
        <div class="col-sm-12 col-lg-3 d-lg-block">
          <mat-form-field>
            <mat-select class="form-control" placeholder="Currency" formControlName="currency">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let currency of currencies" [value]="currency">
                {{ currency }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="col-sm-12 col-lg-3 d-lg-block">
        <div class="form-group">
          <mat-form-field>
            <input matInput type='number' placeholder="Start Amount" formControlName="amountStart" pattern='^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$'>
          </mat-form-field>
          <mat-form-field>
            <input matInput type='number' placeholder="End Amount" formControlName="amountEnd" pattern='^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$'>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-12 col-lg-3 d-lg-block">
        <div class="form-group" formGroupName="duration">
          <mat-form-field>
            <input matInput type='number' placeholder="Days" formControlName="days" pattern='^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$'>
          </mat-form-field>
         </div>
         <div class="form-group" formGroupName="duration">
          <mat-form-field>
            <input matInput type='number' placeholder="Months" formControlName="months" pattern='^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$'>
          </mat-form-field>
          </div>
          <div class="form-group" formGroupName="duration">
            <mat-form-field>
              <input matInput type='number' placeholder="Years" formControlName="years" pattern='^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$'>
            </mat-form-field>
          </div>
      </div>

      <div class="col-sm-12 col-lg-3 d-lg-block">
        <div class="form-group">
          <mat-form-field>
            <input matInput type='number' placeholder="Interest Rate" max='200' formControlName="annualInterest"
              pattern='^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$'>
            <span matSuffix>%</span>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center" *ngIf='!availableLoans'>
      <div class="title main-h1">There are no available Loans</div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 card-col" *ngFor='let loan of loans; let i of index'>
      <app-loan-card [loan]="loan"></app-loan-card>
    </div>
  </div>
</div>