@import '../../../scss/_variables.scss'; //variables

$filterHeight: 630px;
$filterHeightDesktop: 102px;

.page-header {
  text-align: right;
}

.requested-wrapper{
  .filters{
    display: none;
    @include keyframes(anm-forward) {
      0% {
        height: 0px;
        opacity: 0;
      }
      100% {
        height: $filterHeight;
        opacity: 1;
      }
    }
    @include keyframes(anm-backwards) {
      0% {
        height: $filterHeight;
        opacity: 1;
      }
      100% {
        height: 0px;
        opacity: 0;
      }
    }
  }
  .icon-active,
  .icon-disabled{
    position: absolute;
    top: 6px;
    right: 0;
    @include transition();
  }
  .icon-disabled{
    opacity: 0;
  }
  &.active{
    .filters{
      display: block;
      @include animation(anm-forward, .3s, ease-in, 0s, normal, both);
      animation-fill-mode: both;
    }
    .icon-active{
      opacity: 0; @include transform(rotate(-180deg));
    }
    .icon-disabled{
      opacity: 1; @include transform(rotate(0deg));
    }
  }
  &.disabled{
    .filters{
      display: block;
      @include animation(anm-backwards, .3s, ease-in, 0s, normal, both);
      animation-fill-mode: both;
    }
    .icon-active{
      opacity: 1; @include transform(rotate(0deg));
    }
    .icon-disabled{
      opacity: 0; @include transform(rotate(180deg));
    }
  }
}

@media (min-width: 768px) {
  .page-header {
    text-align: inherit;
    position: relative;

    button {
      position: absolute;
      bottom: -4px;
      right: 0;
    }
  }
}

@media (min-width: 992px){
  .filters{
    @include keyframes(anm-forward) {
      0% {
        height: 0px;
        opacity: 0;
      }
      100% {
        height: $filterHeightDesktop;
        opacity: 1;
      }
    }
    @include keyframes(anm-backwards) {
      0% {
        height: $filterHeightDesktop;
        opacity: 1;
      }
      100% {
        height: 0px;
        opacity: 0;
      }
    }
    @include animation(anm-forward, .3s, ease-in, 0s, normal, both);
    animation-fill-mode: both;
    @include animation(anm-backwards, .3s, ease-in, 0s, normal, both);
    animation-fill-mode: both;
  }
  virtual-scroller {
    height: calc(100vh - 412px);
  }
}
