@import '../../../scss/fonts';

.dialog {
  max-width: 678px;
  padding: 55px 0 43px;
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 62%;
      width: 130px;
    }
  }
  &__content {
    &-title {
      @include typography-headline(6);
      text-transform: uppercase;
    }
    &-description {
      @include typography-body(1);
    }
    &-actions {
      button {
        width: 100%;
      }
    }
  }
}

@media (min-width: 768px) {
  .dialog {
    &__content {
      &-actions {
        button {
          width: auto;
        }
      }
    }
  }
}
