<mat-dialog-content>
  <div class="navbar-container">
    <div class="creator-container">
      <div class="creator-title">Missing Ether Client</div>
    </div>
  </div>
  <div class="col-sm-12 dialog-padding">
    <div class="title main-h3">Couldn't get any accounts! Make sure your Ethereum client is unlocked and configured correctly.</div>
    <div class="margintop10"></div>
    <div class="title main-h4">We remend you to operate with:</div>
    <div class="row img-container">
      <div class='col-sm-12'>
        <img src="https://metamask.io/img/metamask.png" alt="ether-client">
        <div class="title main-h1 margintop10">Metamask</div>
        <a mat-raised-button href="https://metamask.io/"  target="_blank" class="button button-primary margintop20">GET</a>
      </div>
      <!-- <div class="col-sm-12 col-md-6">
        <div class="margintop20 d-none d-md-none"></div>
        <img src="https://www.myetherwallet.com/images/myetherwallet-logo-square.png" alt="ether-client">
        <div class="title main-h1 margintop10">My Ether Wallet</div>
        <a mat-raised-button href="https://www.myetherwallet.com/"  target="_blank" class="button button-primary margintop20">GET</a>
      </div> -->
    </div>
  </div>
</mat-dialog-content>