@import '../../../scss/_variables.scss'; //variables

//Dialog Client
.dialog-padding{
  padding: 30px 15px;
  text-align: center;
}
.img-container{
  text-align: center;
  margin-top: 20px;
  img{
    height: 150px;
    margin: 0 auto;
  }
}

@media (min-width: 768px){
  .dialog-padding{
    padding: 30px;
  }
}
