<app-dialog-header title="Missing Ether Client">
</app-dialog-header>

<mat-dialog-content>
  <div class="col-sm-12 dialog-padding">
    <div class="title main-h3">Got Metamask?</div>
    <div class="margintop10"></div>
    <div class="title main-h4">
      Metamask is a third-party web extension-based cryptocurrency wallet that
      connects your browser to the Ethereum network. Please install it to
      continue.
    </div>
    <div class="row img-container">
      <div class='col-sm-12'>
        <img src="https://metamask.io/img/metamask.png" alt="ether-client">
        <div class="title main-h1 margintop10">
          Metamask
        </div>
        <a href="https://metamask.io/" target="_blank">
          <button mat-raised-button class="button button-primary margintop20">
            GET
          </button>
        </a>
      </div>
    </div>
  </div>
</mat-dialog-content>
