<mat-dialog-content>
  <div class="navbar-container">
    <div class="creator-container">
      <div class="creator-title">Missing Ether Client</div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12">
    <div class="margintop20"></div>
    <div class="title main-h2">Couldn't get any accounts! Make sure your Ethereum client is unlocked and configured correctly.</div>
    <div class="margintop10"></div>
    <div class="title main-h5">We remend you to operate with:</div>
    <div class="margintop60"></div>
  </div>
</mat-dialog-content>