@import './../../../../scss/_variables.scss'; //variables

.notifications-container{
  width: 340px;
  max-height: 670px;
  overflow: hidden;
  position: absolute;
  right: 14px;
  @extend %roboto-regular;
  @include transition();
  &.scrollOn{
    &:hover{
      overflow-y: scroll;
    }
    &::-webkit-scrollbar { width: .6em; }
    &::-webkit-scrollbar-thumb {
      background-color: $gray1; border-radius: 10px;
      &:hover{ background-color: $gray0; }
    }
    &::-webkit-scrollbar-track { background-color: var(--app-color-gray-500); }
    &::-webkit-scrollbar-corner { background-color: transparent; }
    &::-webkit-scrollbar-button { width: 0; height: 0; display: none; }
  }
  ul{
    li{
      &:nth-child(1){
        display: flex;
        align-items: center;
        height: 30px;
        padding: 10px;
        background-color: var(--app-color-gray-500);
        border-bottom: 1px solid var(--app-color-gray-600);
      }
      &.unavailable{
        height: 64px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid var(--app-color-gray-600);
        background-color: var(--app-color-gray-600);
      }
    }
  }
}
