<div class="list-avatar">
  <div class="avatar-container">
    <img src="{{brandingService.getCreatorIcon(loan)}}"
      ng-hide="hasAvatar(loan)"/>
    <!-- <div class="title">R</div> -->
    <angular-blockies [options]="brandingService.getBlockiesOptions(loan)"
      ng-hide="!hasAvatar(loan)"></angular-blockies>
  </div>
  <div class="txt-container">
    <div class="subtitle">Created by {{ brandingService.getCreatorShortName(loan) }}</div>
    <div class="title">{{ brandingService.getCreatorName(loan, short) }}</div>
  </div>
</div>