@import '../../../scss/variables';
@import '../../../scss/fonts';

.list-avatar {
  height: 50px;
  position: relative;
  padding-top: 3px;
  padding-left: 65px;
  margin-bottom: 15px;
  .avatar-container {
    width: 50px;
    height: 50px;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
    .title{
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 18px;
      color: var(--app-color-secondary);
      @extend %font-black;
      @include transform(translate(-50%, -50%));
    }
    img{
      width: 50px;
      border-radius: 50%;
      box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
    }
  }
  .txt-container {
    .title {
      line-height: 1.4em;
      @extend %roboto-medium;
      @extend .font18;
    }
    .subtitle {
      line-height: 1.2em;
      @extend %font-medium;
      @extend .font14;
    }
  }
}
