<div class="social-container">
  <div class="social-row">
    <ul>
      <li><a href="https://www.facebook.com/ripiocredit.network/" target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a></li>
      <li><a href="https://twitter.com/rcn_token?lang=en" target="_blank"><i class="fab fa-twitter fa-lg"></i></a></li>
      <li><a href="https://t.me/RCNtalk" target="_blank"><i class="fab fa-telegram-plane fa-lg"></i></a></li>
      <li><a href="https://www.linkedin.com/company/ripio-credit-network/" target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a></li>
      <li><a href="https://www.reddit.com/r/rcn_token/" target="_blank"><i class="fab fa-reddit fa-lg"></i></a></li>
      <li><a href="https://github.com/ripio/rcn.loans" target="_blank"><i class="fab fa-github fa-lg"></i></a></li>
      <li><a href="{{ linkContract }}"><i class="fas fa-link fa-lg"></i></a></li>
    </ul>
  </div>
</div>