<div class="map-container">

  <app-decentraland-map [decentralandProvider]='cosignerProvider' [height]='mapHeight' [width]='mapWidth' [center]=parcel></app-decentraland-map>
  
  <div class="icon-container">
    <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
    <div class="txt">{{ parcelId }}</div>
  </div>
  
  <div class="text-container">
    <div class="title">{{ 'Parcel cost' }}</div>
    <div class="txt">MANA {{ displayPrice }} </div>
  </div>
  
  <div class="text-container">
    <div class="title">{{ 'Financing' }}</div>
    <div class="txt">~ {{ financiation }} </div>
  </div>
  
  <div class="card-property">
    <div class="text-container">
      <div class="title">Context</div>
    </div>
    <div class="flex-container">
      <div class="list-avatar marginright15" *ngFor='let highlight of highlights; let i of index'>
        <div class="avatar-container">
          <img src="{{ highlightIcon(highlight) }}">
        </div>
        <div class="text-container">
          <div class="title">{{ highlightTitle(highlight) }}</div>
          <div class="subtitle">{{ highlightDistance(highlight) }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="legals">
    <p>
      This loan is backed by a Decentraland parcel. The tokens involved in the lending will be used to purchase the 
      corresponding parcel linked to this escrow smart contact: <a href="#">{{ mortgageManager }}.</a>
    </p>
    <div class="text-container">
      <div class="title">{{ 'Notice:' }}</div>
    </div>
    <p>The ownership of this parcel will be transferred to the lender in case of a default.</p> 
    <app-claim-button [loan]='loan' [provider]='cosignerProvider'></app-claim-button>
  </div>

</div>


    
  
  
  
  