@import '../../../../../scss/_variables.scss'; //variables

.map-container{ text-align: left; }
a{
  color: var(--app-color-secondary);
  @include transition;
  &:hover{
    color: var(--app-color-primary);
  }
}

.icon-container {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  .icon {
    i,
    svg{
      font-size: 2em;
      color: var(--app-color-primary);
    }
  }
  .txt {
    font-size: 22px;
    margin-left: 15px;
    font-size: 1.5em;
    @extend %roboto-bold;
  }
}

.text-container {
  padding-top: 10px;
  .title{
    @extend %propiety-title;
  }
  .txt {
    font-size: 1.5em;
    @extend %roboto-bold;
  }
  .subtitle{
    text-transform: uppercase;
    @extend %roboto-bold;
  }
}

.legals{
  margin-top: 40px;
  font-size: 11px;
  text-align: left;
}

.flex-container{ display: flex; flex-wrap: wrap; }
.list-avatar {
  display: flex;
  align-items: center;
  padding-top: 10px;
  .avatar-container {
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 6px;
    background-color: #838aa3;
    box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
    img{
      width: 20px;
      margin: 0 auto;
    }
  }
  .text-container {
    padding-top: 0px;
    padding-left: 10px;
    line-height: 1.2;
  }
}

.icon-circle {
  cursor: pointer;
  position: absolute;
  right: 20px;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--app-color-primary);
  box-shadow: 0 0 6px #00000029, 0 6px 12px rgba(0,0,0,.32);
  @include transition;
  &:hover{
    color: $black; background-color: $white;
  }
  i{
    margin: 0 auto;
  }
  .title{
    font-size: 18px;
    color: var(--app-color-secondary);
    @extend %font-black;
  }
}
