@import '../../../../../scss/_variables.scss'; //variables
.icon-container {
  position: relative;
  min-height: 40px;
  padding: 0 0 0 35px;
  .icon {
    position: absolute;
    top: 0;
    left: 0;
    i{
      color: $primary;
    }
  }
}
.parcel-container{
  position: absolute;
  top: 15px;
  right: 15px;
}

.btn{
  @include transition(all .3s ease-out);
  box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
  -webkit-transition: box-shadow 150ms cubic-bezier(0,0,.2,1);
}

.legals {
  position: absolute;
  bottom: 0;
  margin-bottom: 16px;
  margin-right: 16px;
  p{
    @extend %propiety-title;
    text-transform: inherit;
  }
}


.list-avatar {
  height: 55px;
  position: relative;
  display: inline-block;
  padding-top: 3px;
  padding-left: 55px;
  .avatar-container {
    width: 40px;
    height: 40px;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    border-radius: 6px;
    background-color: #838aa3;
    box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
    .title{
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 18px;
      color: $secondary;
      @extend %font-black;
      @include transform(translate(-50%, -50%));
    }
    img{
      width: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
    }
  }
  .txt-container{
    .title{
      line-height: 1.4;
      @extend %font-medium;
    }
    .subtitle{
      line-height: 1.4;
      @extend %font-medium;
    }
  }
}