@import '../../../../../scss/_variables.scss'; //variables

.map-container{ text-align: left; }

.icon-container {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  .icon {
    i,
    svg{
      font-size: 2em;
      color: $primary;
    }
  }
  .txt {
    font-size: 22px;
    margin-left: 15px;
    font-size: 1.5em;
    @extend %roboto-bold;
  }
}

.text-container {
  padding-top: 10px;
  .title{
    @extend %propiety-title;
  }
  .txt {
    font-size: 1.5em;
    @extend %roboto-bold;
  }
}

.legals{
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 11px;
  text-align: right;
  // margin-top: 30px;
}


.list-avatar {
  height: 55px;
  position: relative;
  display: inline-block;
  padding-top: 3px;
  padding-left: 55px;
  .avatar-container {
    width: 40px;
    height: 40px;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    border-radius: 6px;
    background-color: #838aa3;
    box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
    .title{
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 18px;
      color: $secondary;
      @extend %font-black;
      @include transform(translate(-50%, -50%));
    }
    img{
      width: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
    }
  }
  .txt-container{
    // .title{
    //   line-height: 1.4;
    //   @extend %font-medium;
    // }
    .subtitle{
      line-height: 1.4;
      @extend %font-medium;
    }
  }
}

@media (min-width: 992px){
  .map-space{
    height: 250px;
  }
}