@import '../../../../scss/_variables.scss'; //variables

.conversion-block{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 5px -15px 15px;
  padding: 0px 15px;
  ol{height: 52px;}
  li{
    width: 42%;
    height: 100%;
    display: inline-block;
    line-height: 1.8;
    @extend %font-bold;
    &:nth-child(1){
      text-align: left;
      font-size: 26px;
    }
    &:nth-child(2){
      width: 12%;
      line-height: 4.2;
      text-align: center;
      vertical-align: middle;
      vertical-align: -webkit-baseline-middle;
      @extend %font-regular;
      &.feature{
        font-size: 14px;
        line-height: 2.8;
      }
    }
    &:nth-child(3){
      color: $primary;
      text-align: right;
      font-size: 26px;
    }
  }
}

@media (min-width: 768px){
  .conversion-block{
    li{
      width: 42.8%;
      &:nth-child(2){
        &.feature{
          font-size: 18px;
          line-height: 2.2;
        }
      }
    }
  }
}

@media (min-width: 992px){
  .conversion-block{
    li{
      width: 42.4%;
    }
  }
}