@import '../../../../scss/_variables.scss'; //variables

.conversion-block{
  height: 50px;
  @extend %flex-container;
  padding: 0px 15px;
  margin: 5px -15px 15px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  div{
    flex: 1;
    @extend %font-bold;
    &:nth-child(1){
      text-align: left;
      font-size: 26px;
    }
    &:nth-child(2){
      display: flex;
      @extend %font-regular;
      i{ margin: 0 auto; }
      &.feature{
        display: block;
        font-size: 14px;
        line-height: 2.8;
        text-align: center;
      }
    }
    &:nth-child(3){
      color: $primary;
      text-align: right;
      font-size: 26px;
    }
  }
}

// @media (min-width: 768px){
//   .conversion-block{
//     li{
//       width: 42.8%;
//       &:nth-child(2){
//         &.feature{
//           font-size: 18px;
//           line-height: 2.2;
//         }
//       }
//     }
//   }
// }

// @media (min-width: 992px){
//   .conversion-block{
//     li{
//       width: 42.4%;
//     }
//   }
// }