<div class="conversion-block">
  <div
    class="block-title ellipsis"
    [matTooltip]="amountLeft"
    matTooltipPosition="below"
  >
    {{ amountLeft }}
  </div>
  <div class="currency" *ngIf="textMiddle === undefined">
    <i class="material-icons">keyboard_backspace</i>
  </div>
  <div class="feature block-title ellipsis" *ngIf="textMiddle !== undefined">
    {{ textMiddle }}
  </div>
  <div
    class="block-title ellipsis"
    [matTooltip]="amountRight"
    matTooltipPosition="below"
  >
    {{ amountRight }}
  </div>
</div>
