@import '../../../../scss/variables';
@import '../../../../scss/fonts';

.conversion-block{
  height: 50px;
  @extend %flex-container;
  padding: 0px 15px;
  margin: 5px -15px 15px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  div{
    flex: 1;
    @extend %roboto-bold;
    &:nth-child(1){
      text-align: left;
      @extend .font30;
    }
    &:nth-child(2){
      display: flex;
      @extend %font-regular;
      i {
        margin: 0 auto;
        transform: rotate(180deg);
      }
      &.feature{
        display: block;
        font-size: 18px;
        line-height: 2.8;
        text-align: center;
      }
    }
    &:nth-child(3){
      color: $primary;
      text-align: right;
      @extend .font30;
    }
  }
}

@media (min-width: 992px) {
  .conversion-block {
    div {
      &:nth-child(2) {
        i {
          font-size: 2.5em;
        }
      }
    }
  }
}
