<mat-dialog-content class="dialog dialog--small">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 dialog__image mb-5 mb-md-0">
        <i class="fas fa-exclamation-triangle"></i>
      </div>
      <div class="col-12 col-md-6 dialog__content">
        <h1 class="dialog__content-title mt-0 mb-4">
          Oh oh, you don't have enough funds
        </h1>
        <p class="dialog__content-description">
          Your balance is {{ balance }} {{ currency }}. You need at least
          {{ required }} {{ currency }} to fund this loan.
        </p>
        <div class="dialog__content-actions mt-5 mt-md-4">
          <button
            mat-raised-button
            mat-dialog-close
            class="button button-primary"
          >
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
