@import 'src/scss/fonts'; //variables
@import 'scss/_mixins.scss'; //variables

.creator-container {
    height: 70px;
    position: relative;
    background-color: var(--app-color-gray-400);
    margin-left: -20px;
    margin-right: -20px;
    .creator-title,
    .creator-image {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
    }
    .creator-title {
      width: 100%;
      text-align: center;
      color: var(--app-color-gray-100);
      @include typography-headline(2);
    }
    .creator-image {
      width: 100%;
      max-width: 250px;
      height: 45px;
      img {
        max-width: 90%;
        max-height: 100%;
        margin: 0 auto;
      }
    }
  }


@media (min-width: 768px){
  .creator-container {
    height: 100px;
  }
}
