@import '../../../scss/_variables.scss'; //variables

// .creator-container {
//   .creator-title{
//     color: $fifth;
//     font-size: 36px;
//     @extend %font-black;
//   }
// }

.creator-container {
    height: 70px;
    position: relative;
    background-color: #333333;
    margin-left: -15px;
    margin-right: -15px;
    .creator-title{
      position: absolute;
      top: 50%;
      left: 50%;
      color: $fifth;
      font-size: 36px;
      @extend %font-black;
      @include transform(translate(-50%, -50%));
    }
    .go-back {
      width: 70px;
      height: 100%;
      position: absolute;
      color: $secondary;
      cursor: pointer;
      @include transition;
      &:hover{
        background-color: $fifth;
      }
      i{
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
      }
    }
  }


@media (min-width: 768px){
  .creator-container {
    height: 100px;    
  }
}
