<div class="creator-container" *ngIf="!loan?.collateral; else collateralTemplate">
  <ng-container *ngIf="brand.headerImage; else headerTitle">
    <div class="creator-image d-flex align-items-center">
      <img [src]="brand.headerImage" [alt]="brand.headerTitle">
    </div>
  </ng-container>
  <ng-template #headerTitle>
    <div class="creator-title">
      {{ brand.headerTitle }}
    </div>
  </ng-template>
</div>

<ng-template #collateralTemplate>
  <div class="creator-container">
    <div class="creator-title">
      <!-- {{ currency || getCollateralAsset(loan?.collateral) }} Collateral -->
      Collateral
    </div>
  </div>
</ng-template>
