<div class="row">
  <form (submit)="onSubmit($event, address)">
    <div class="col-xs-12">
      <div class="margintop10"></div>
      <mat-form-field>
        <input type="text" name="eth_address" placeholder="Recipient address" ngModel matInput #address>
        <mat-hint>Remember that transferring LAON is an irreversible operation. Please check the address carefully</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-xs-12 margintop20">
      <div class="margintop10"></div>
      <button type="submit" mat-raised-button class="button button-primary" ngModel>{{ 'Submit' }}</button>
      <button mat-raised-button class="button button-secondary" [mat-dialog-close]='true'>{{ 'Cancel' }}</button>
    </div>
  </form>
</div>
