// Custom Custom Style
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,400i,500,600,700,800,900'); // Google Fonts
$material-icons-font-path: '~material-icons/iconfont/'; // Material Icons
@import '~material-icons/iconfont/material-icons.scss'; // Material Icons
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; // Material Custom Theme
@import './scss/_spaces.scss', //spaces
        './scss/_variables.scss', //variables
        './scss/_type.scss', //type
        './scss/_mixins.scss', //mixins
        './scss/_colors.scss', //colors
        './scss/_helpers.scss', //helpers
        './scss/_fonts.scss', //fonts
        './scss/_material-custom-theme.scss'; //material-custom-theme

// General
html {height: 0;}
body{
  position: relative;
  font-family: 'Raleway', sans-serif;
  background-color: $tertiary;
  color: $secondary;
}

//TABS
.mat-tab-label-container{
  margin-top: 20px;
  .mat-tab-label{
    color: rgba(255, 255, 255, 0.87);
  }
}

// Directives
.fadeToggle{
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
  @include transition;
}

// Buttons
.btn{
  border-color: $primary;
  background-color: $primary;
  border-radius: 2px;
  text-transform: uppercase;
  @extend %font-medium;
}
.mat-fab.mat-accent[disabled], .mat-fab.mat-primary[disabled], .mat-fab.mat-warn[disabled], .mat-fab[disabled][disabled], .mat-mini-fab.mat-accent[disabled], .mat-mini-fab.mat-primary[disabled], .mat-mini-fab.mat-warn[disabled], .mat-mini-fab[disabled][disabled], .mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-primary[disabled], .mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled]{
  color: $secondary;
  background-color: rgba(51, 51, 51,.7);
  &:hover, &:active, &:visited, &:focus{
    cursor: not-allowed;
    background-color: rgba(51, 51, 51,.7);
  }
}
.button{
  &.button-primary{
    color: $secondary;
    background-color: $primary;
    &:hover, &:active, &:visited, &:focus{
      color: $secondary;
      background-color: $hover-primary;
    }
  }
  &.button-secondary{
    color: $secondary;
    background-color: $gray7;
    &:hover, &:active, &:visited, &:focus{
      background-color: #292929;
    }
  }
  &.button-tertiary{
    color: $tertiary;
    background-color: $secondary;
    &:hover, &:active, &:visited, &:focus{
      color: $secondary;
      background-color: $fifth;
    }
  }
}

// Colors
.primary{color: $primary;}
.secondary{color: $secondary;}
.tertiary{color: $tertiary;}
.quaternary{color: $quaternary;}
.fifth{color: $fifth;}

// Typography
.title{
  &.main-h1{font-size: 24px; text-transform: uppercase; @extend %font-light;} 
  &.main-h2{font-size: 18px; text-transform: uppercase; @extend %font-light;} 
  &.main-h3{font-size: 18px; @extend %font-bold;} 
  &.main-h4{font-size: 16px; @extend %font-regular;} 
  &.main-h5{font-size: 14px; @extend %font-thin;} 
  &.main-title{line-height: 1.4; font-size: 16px; @extend %font-medium;} 
  &.main-subtitle{line-height: 1.4; font-size: 14px; @extend %font-medium;} 
}
.font-light{@extend %font-light;}
.font-regular{@extend %font-regular;}
.font-bold{@extend %font-bold;}
.font-black{@extend %font-black;}

// Loader
ngx-spinner .black-overlay.ng-star-inserted {
  z-index: 9 !important;
}

// Tables
.table{
  >thead{
    >tr{
      >th {
        border: 0px;
        background-color: #333333;
        @extend %propiety-title;
      }
    }
  }
  >tbody{
    >tr{
      >td {
        border: 0px;
        @extend %propiety-subtitle;
      }
    }
  }
}
@media screen and (max-width: 767px){.table-responsive {border: 0px;}}

// Material Angular
  // Backgrounds
.cdk-overlay-dark-backdrop {cursor: pointer; background: rgba(0,0,0,.5);}
.cdk-overlay-transparent-backdrop{
  cursor: pointer;
  &.cdk-overlay-backdrop-showing{
    background-color: rgba(0, 0, 0, 0.4);
  } 
}
@media (max-width: 768px){.cdk-overlay-pane{max-width: 90vw !important;}}

  //Sidebar
mat-sidenav-container.mat-drawer-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: inherit;
  background-color: transparent;
}
.mat-drawer {
  width: 300px;
  padding-top: 60px;
  color: inherit;
  z-index: 999;
  background-color: $fifth;
  ul{
    li{
      cursor: pointer;
      position: relative;
      left: -300px;
      opacity: 0;
      text-indent: 20px;
      .li-container{
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 10px;
        @include transition();
        svg{font-size: 1.2em;}
        &:hover {
          // background: rgba(0, 0, 0, 1);
          // color: $primary;
          background-color: $gray7;
        }
      }
      .txt{
        display: inline-block;
        font-size: 16px;
      }
    }
  }
}
.mat-drawer-opened{
  &.mat-drawer-container {
    position: absolute;
  }
  .mat-drawer {
    ul{
      li{
        left: 0px;
        opacity: 1;
        @include transition();
        @for $i from 1 through 16 {
          &:nth-child(#{$i}) { 
           @include transition-delay(0.06s * $i); 
          }
        }
      }
    }
  }
}
.mat-drawer-backdrop{
  cursor: pointer;
  z-index: 999;
}

  //Dialog
.mat-dialog-container{
  color: $secondary;
  background-color: $gray7;
}
.cdk-global-overlay-wrapper{
  .mat-dialog-container{
    color: $secondary;
    padding: 0px;
    background-color: $fifth;
  }
  .mat-dialog-content{
    position: relative;
    margin: 0;
    padding: 0;
  }
}
  //Menu
.mat-menu-panel {
  background-color: $gray7;
  .mat-menu-content {
    padding-top: 2px;
    padding-bottom: 2px;
    .mat-menu-item{
      height: 40px;
      font-size: 14px;
      line-height: 40px;
    }
    button {
      color: $secondary;
    }
  }
}
  // Snackbar
snack-bar-container.mat-snack-bar-container{
  color: $secondary;
  button{&.mat-simple-snackbar-action{color: $primary;}
  }
}

  //Forms
mat-form-field{
  width: 100%;
  .mat-input-infix{
    width: auto;
    color: $secondary;
  }
  .mat-form-field-label{
    color: $secondary;
  }
  .mat-form-field-underline {
    background-color: rgba(255,255,255,.4);
  }
  .mat-select-arrow {
    color: rgba(255,255,255,.5);
  }
  .mat-hint {
    color: rgba(255,255,255,.5);
  }
}

@media (min-width: 768px){
//Material
  //Menu
  .mat-menu-panel {
    .mat-menu-content {
      padding-top: 5px;
      padding-bottom: 5px;
      .mat-menu-item{
        height: 42px;
        line-height: 42px;
      }
    }
  }
  //Dialog
  .mat-dialog-content{
    min-width: 550px;
  }
  //Sidebar
  mat-sidenav-container.mat-drawer-container {
    background-color: transparent;
    .mat-drawer {
      width: 350px;
    }
  }
}

@media (min-width: 992px){
  .mat-dialog-content {
    min-width: 750px;
  }
}

@media (min-width: 1200px){
  .mat-dialog-content {
    min-width: 850px;
  }
}

///////////////////APP/////////////////////////

// Header
.nav-toggle{
  border-radius: 0;
  padding: 0;
  margin-right: 35px;
  min-height: 45px;
  float: left;
  background-color: transparent;
  border: 1px solid transparent;
  span{
    background-color: #fff;
    height: 1px;
    width: 23px;
  }
  .icon-bar {
    display: block;
    border-radius: 1px;
    @include transition;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }
  .navbar-extension {
    display: block;
  }
  .navbar-extension{ul{span.marginleft30{display:inline-block;}}}
  .navbar-extension{ul{span.marginleft60{display:none;}}}
}

// Toggled
.sidebar-toggled{
  .nav-toggle{
    span.icon-bar{
      height: 2px !important;
      &:nth-child(1){
        -webkit-transform: rotate(-45deg) translate(0px, 0px);
        transform: rotate(-45deg) translate(-1px, 1px);
      }
      &:nth-child(2){
        opacity: 0;
        display: none;
      }
      &:nth-child(3){
        -webkit-transform: rotate(45deg) translate(-15px, -15px);
        transform: rotate(45deg) translate(0px, 0px);
      }
    }
    span.icon-bar + span.icon-bar {
      margin-top: 0 !important;
    }
  }
  ul.nav{
    opacity: 0 !important;
    top: -25px !important;
  }
  .navbar-extension,
  .extension-closebox{
    opacity: 0 !important;
    left: 330px !important;
    @include transition(all 0.2s ease !important);
  }
  .extension-toggled{
    .navbar-extension,
    .extension-closebox{
      @include transition(all 0.3s ease !important);
    }
    .extension-closebox{
      z-index: 1;
    }
  }
}

// Mobile Menu
.navmobile-menu{
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 50px;
  z-index: -1;
  opacity: 0;
  background-color: $fifth;
  @include transition();
}
.balance-container{
  padding-bottom: 15px;
  border-bottom: 1px solid $tertiary;
  .balance-row {
    padding: 10px 15px;
    .title{
      font-size: 14px;
      @extend %font-light;
    }
    .value{
      font-size: 30px;
      font-family: 'Roboto', sans-serif;
      @extend %font-bold;
      .currency{
        font-size: 18px;
        @extend %font-regular;
      }
    }
  }
  .button{
    display: block;
    margin: 0 15px;
  }
}
.profile-container{
  padding: 30px 15px;
  border-bottom: 1px solid $tertiary;
  .profile-row{
    position: relative;
    .avatar-container{
      display: inline-block;
    }
    .title,
    .title-centered{
      display: inline-block;
      @extend %font-bold;
    }
    .title-centered{
      margin-left: 15px;
      @extend %absolute-center-top;
    }
  }
}
.social-container{
  text-align: center;
  border-bottom: 1px solid $tertiary;
  .social-row{
    ul{
      margin: 0 auto;
      max-width: 672px;
      a{color: $secondary;}
      li{
        width: 13%;
        padding: 15px;
        text-align: center;
        display: inline-block;
      }
    }
  }
}
.version-container{
  padding: 10px 15px;
  margin-top: 15px;
  color: $gray4;
}
.navmobile-toggled{
  margin: 0; height: 100%; overflow: hidden; // Prevent default scroll on menu open
  .navmobile-menu{
    opacity: 1;
    z-index: 9999;
  }
}

@media (min-width: 150px) and (max-width: 374px){
  .navmobile-menu{
    .profile-container{
      padding: 15px 15px;
    }
  }
  .version-container,
  .social-container{
    display: none;
  }
}

@media (min-width: 992px){
  .navmobile-menu{display: none;}  
}

// Footer
footer {
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  min-height: 0px;
  background-color: #121212;
  padding: 15px 0;
}
.nav-mobile{
  ul{
    margin: 0 auto;
    max-width: 672px;
    li{
      position: relative;
      width: 24%;
      text-align: center;
      display: inline-block;
      svg{font-size: 1.5em; color: $gray6; @include transition();}
      .nav-toggle {
        padding: 0;
        margin-right: 0;
        min-height: 18px;
        float: inherit;
        span{
          background-color: $gray6;
        }
      }
      .available-loans {
        width: 22px;
        height: 18px;
        opacity: 0;
        font-size: 12px;
        border-radius: 30px;
        margin-left: 18px;
        margin-top: -10px;
        background-color: $red;
        @include transition(all 0.1s ease-out);
        @extend %absolute-center;
      }
      &.active{
        svg{color: $secondary;}
        .available-loans {
          opacity: 1;
          @include transition-delay(1s);
        }
        .nav-toggle{
          span{
            background-color: $secondary;
          }
          span.icon-bar{
            height: 2px !important;
            &:nth-child(1){
              -webkit-transform: rotate(-45deg) translate(0px, 0px);
              transform: rotate(-45deg) translate(-1px, 1px);
            }
            &:nth-child(2){
              opacity: 0;
              display: none;
            }
            &:nth-child(3){
              -webkit-transform: rotate(45deg) translate(-15px, -15px);
              transform: rotate(45deg) translate(0px, 0px);
            }
          }
          span.icon-bar + span.icon-bar {
            margin-top: 0 !important;
          }
        }
      }
    }
  }
}

@media (min-width: 992px){
  footer {
    height: inherit;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    min-height: 0px;
    background-color: #121212;
    padding: 15px 30px;
  }
  .nav-mobile{
    display: none;
  }
  a{
    color: #fff;
    @include transition();
    &:hover{
      color: $primary;
    }
  }
  .left,
  .center,
  .right{
    text-align: center;
  }
  .left{
    text-align: left;
  }
  .center{
    text-align: center;
  }
  .right{
    text-align: right;
  } 
  .txt{
    line-height: 1.9;
  }
  .button-group{
    line-height: 1.9;
    text-align: right;
  }
  .icon{
    margin-top: 0;
    line-height: 1.9;
    cursor: pointer;
    padding-right: 15px;
    display: inline-block;
    &.version{
      margin-left: 15px;    
    }
  }
}