// Custom Custom Style
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,400i,500,600,700,800,900'); // Google Fonts
$material-icons-font-path: '~material-icons/iconfont/'; // Material Icons
@import '~material-icons/iconfont/material-icons.scss'; // Material Icons
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; // Material Custom Theme
@import './scss/_spaces.scss', //spaces
        './scss/_variables.scss', //variables
        './scss/_type.scss', //type
        './scss/_mixins.scss', //mixins
        './scss/_colors.scss', //colors
        './scss/_helpers.scss', //helpers
        './scss/_fonts.scss', //fonts
        './scss/_material-custom-theme.scss'; //material-custom-theme

// General
html { height: 0; }
body{
  position: relative;
  margin: 0;
  font-size: 14px;
  line-height: 1.42857143;
  font-family: 'Raleway', sans-serif;
  color: $secondary;
  background-color: $tertiary;
  &::-webkit-scrollbar { width: 1.2em; }
  &::-webkit-scrollbar-thumb {
    color: $gray6; background-color: $gray6; background-clip: content-box;
    border: 4px solid transparent; border-radius: 10px;
    outline: 1px solid $gray1; box-shadow: inset 0 0 0 10px;
    &:hover{ background-color: $gray5; color: $gray5; }
  }
  &::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(255,255,255,0.3); -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3); }
  &::-webkit-scrollbar-corner { background-color: transparent; }
  &::-webkit-scrollbar-button { width: 0; height: 0; display: none; }
}
p{ margin-block-start: 0em; margin-block-end: 0em; }
label{&:focus { outline: -webkit-focus-ring-color auto 0px; }}

// Civic
.civic-modal{
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 9999;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

//TABS
.mat-tab-label-container{
  margin-top: 20px;
  .mat-tab-label{
    color: rgba(255, 255, 255, 0.87);
  }
}

// Directives
.fadeToggle{
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
  @include transition;
}

// Buttons
.btn{
  border-color: $primary;
  background-color: $primary;
  border-radius: 2px;
  text-transform: uppercase;
  @extend %font-medium;
}
.mat-fab.mat-accent[disabled], .mat-fab.mat-primary[disabled], .mat-fab.mat-warn[disabled], .mat-fab[disabled][disabled], .mat-mini-fab.mat-accent[disabled], .mat-mini-fab.mat-primary[disabled], .mat-mini-fab.mat-warn[disabled], .mat-mini-fab[disabled][disabled], .mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-primary[disabled], .mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled]{
  color: $secondary;
  background-color: rgba(51, 51, 51,.7);
  &:hover, &:active, &:visited, &:focus{
    cursor: not-allowed;
    background-color: rgba(51, 51, 51,.7);
  }
}

.button{
  &.button-primary{
    color: $secondary;
    background-color: $primary;
    margin-right: 8px;
    &:hover, &:active, &:visited, &:focus{
      color: $secondary;
      background-color: $hover-primary;
    }
  }
  &.button-secondary{
    color: $secondary;
    background-color: $gray7;
    &:hover, &:active, &:visited, &:focus{
      background-color: #292929;
    }
  }
  &.button-tertiary{
    color: $tertiary;
    background-color: $secondary;
    &:hover, &:active, &:visited, &:focus{
      color: $secondary;
      background-color: $fifth;
    }
  }
  &.button-transfer{
    color: $secondary;
    background-color: $orange;
    &:hover, &:active, &:visited, &:focus{
      background-color: $orange-hover;
    }
  }
}

// Colors
.primary{color: $primary;}
.secondary{color: $secondary;}
.tertiary{color: $tertiary;}
.quaternary{color: $quaternary;}
.fifth{color: $fifth;}

// Typography
.title{
  &.main-h1{font-size: 24px; text-transform: uppercase; @extend %font-light;}
  &.main-h2{font-size: 18px; text-transform: uppercase; @extend %font-light;}
  &.main-h3{font-size: 18px; @extend %font-bold;}
  &.main-h4{font-size: 16px; @extend %font-regular;}
  &.main-h5{font-size: 14px; @extend %font-thin;}
  &.main-b1{font-size: 32px; @extend %font-black;}
  &.main-p1{font-size: 14px; @extend %font-regular;}
  &.main-m3{font-size: 14px; @extend %font-bold;}
  &.main-title{line-height: 1.4; font-size: 16px; @extend %font-medium;}
  &.main-subtitle{line-height: 1.4; font-size: 14px; @extend %font-medium;}
  &.property{font-size: 11px; text-transform: uppercase; @extend %font-light;}
}
.font-light{@extend %font-light;}
.font-regular{@extend %font-regular;}
.font-bold{@extend %font-bold;}
.font-black{@extend %font-black;}

// Loader
ngx-spinner .black-overlay.ng-star-inserted {
  position: fixed;
  z-index: 9 !important;
}

// Tables
.table{
  >thead{
    >tr{
      >th {
        border: 0px;
        background-color: #333333;
        @extend %propiety-title;
      }
    }
  }
  >tbody{
    >tr{
      >td {
        text-align: left;
        border: 0px;
        @extend %propiety-subtitle;
      }
    }
  }
}
@media screen and (max-width: 767px){.table-responsive {border: 0px;}}

// Material Angular
  // Backgrounds
.cdk-overlay-dark-backdrop {cursor: pointer; background: rgba(0,0,0,.5);}
.cdk-overlay-transparent-backdrop{
  cursor: pointer;
  &.cdk-overlay-backdrop-showing{
    background-color: rgba(0, 0, 0, 0.4);
  }
}
@media (max-width: 768px){.cdk-overlay-pane{max-width: 90vw !important;}}

  //Sidebar
mat-sidenav-container.mat-drawer-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: inherit;
  background-color: transparent;
}
.mat-drawer {
  width: 300px;
  padding-top: 60px;
  color: inherit;
  z-index: 999;
  background-color: $fifth;

  .animation-opacity{
    opacity: 0;
  }

  .animation-left{
    position: relative;
    left: -300px;
    opacity: 0;
  }

  ul{
    li{
      cursor: pointer;
      position: relative;
      text-indent: 20px;
      .li-container{
        padding-top: 8px;
        padding-bottom: 8px;
        // padding-left: 10px;
        @include transition();
        svg{font-size: 1.2em;}
        &:hover {background-color: $gray7;}
      }
      .txt{
        display: inline-block;
        font-size: 16px;
      }
    }
  }
}
.mat-drawer-opened{
  &.mat-drawer-container {
    position: fixed;
    overflow: hidden;
  }
  .mat-drawer {
    .animation-opacity{
      opacity: 1;
      @include transition();
      @for $i from 0 through 6 {
        &:nth-child(#{$i}) {
         @include transition-delay(0.09s * $i);
        }
      }
    }
    .animation-left{
      left: 0px;
      opacity: 1;
      @include transition();
      @for $i from 0 through 6 {
        &:nth-child(#{$i}) {
         @include transition-delay(0.03s * $i);
        }
      }
    }
  }
}
.mat-drawer-backdrop{
  cursor: pointer;
  z-index: 999;
}

  //Dialog
.mat-dialog-container{
  color: $secondary;
  background-color: $gray7;
}
.cdk-global-overlay-wrapper{
  .mat-dialog-container{
    color: $secondary;
    padding: 0px;
    background-color: $fifth;
  }
  .mat-dialog-content{
    position: relative;
    margin: 0;
    padding: 0;
  }
}
  //Menu
.mat-menu-panel {
  margin-top: 70px;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  background-color: $gray7;
  .mat-menu-content {
    padding-top: 2px;
    padding-bottom: 2px;
    .mat-menu-item{
      height: 40px;
      font-size: 14px;
      line-height: 40px;
    }
    button {
      color: $secondary;
    }
  }
}
  // Snackbar
snack-bar-container.mat-snack-bar-container{
  margin: 15px;
  color: $secondary;
  button{ &.mat-button{ color: $primary; text-transform: uppercase } }
}

  //Forms
mat-form-field{
  width: 100%;
  .mat-form-field-infix{
    width: auto;
    color: $secondary;
  }
  .mat-form-field-label{ color: $secondary; }
  .mat-hint,
  .mat-select-arrow {
    color: rgba(124, 81, 81, 0.5);
  }
}
.mat-form-field-appearance-legacy{
  .mat-hint{ color: $secondary; }
  .mat-form-field-label{ color: rgba(255,255,255,.7); }
  .mat-form-field-underline { background-color: rgba(255,255,255,.5); }
  .mat-form-field-suffix .mat-datepicker-toggle-default-icon { width: 1.3em !important; }
}
.conversion-block{
  .mat-form-field-appearance-legacy{
    .mat-form-field-infix{
      padding: 0.4375em 0 0 0 !important;
    }
    .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
      width: 1.5em !important;
    }
  }
}
// Civic fix display
.civic-modal {
  left: 0%;
  z-index: 99999999;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
}
.mat-form-field-appearance-legacy.mat-form-field-disabled {
  .mat-form-field-underline{background-color: $gray5 !important;}
  .mat-form-field-label,
  .mat-form-field-suffix{color: $gray5;}
  }

.mat-form-field-underline{ color: $secondary; }
.mat-select-arrow{ color: $secondary; }
.mat-select-placeholder, .mat-select-value-text { color: $secondary; text-transform: uppercase; @extend %font-medium;}
.mat-select-content{
  background-color: #101010;
  .mat-option{
    color: $secondary;
    text-transform: uppercase;
    @include transition;
    &:hover{
      background-color: #404040;
    }
  }
}

.mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button, .mat-datepicker-toggle {
  color: rgba(255,255,255,.8);
}

mat-checkbox{
  .mat-checkbox-frame{
    border-color: $secondary;
  }
  .mat-ripple-element {
    background: $primary;
  }
  &.mat-checkbox-checked.mat-accent .mat-checkbox-background,
  &.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $primary;
  }
  &.mat-checkbox-checked{
    .mat-checkbox-background{
      background-color: $primary;
    }
  }
}

//Stepper
.mat-stepper-horizontal,
.mat-stepper-vertical{
  background-color: transparent;
  .mat-vertical-content { padding: 0 24px 24px 15px; }
  .mat-vertical-content-container { margin-left: 20px; }
  .mat-stepper-vertical-line::before { border-left-color: rgba(255, 255, 255, 0.5); }
  .mat-step-header {
    padding: 25px 0px;
    max-height: 50px;
    .mat-step-label {
      color: inherit;
      font-weight: 700;
    }
    .mat-step-optional{ color: rgba(255,255,255,.6); }
    .mat-step-icon-not-touched {
      background-color: #333333;
    }
    .mat-step-icon,
    .mat-step-icon-not-touched {
      height: 40px;
      width: 40px;
      .mat-step-icon-content{ font-weight: 900; }
    }
    .mat-step-icon{ background-color: $primary; }
  }
}
.mat-slide-toggle{
  .mat-slide-toggle-bar{
    background-color: $gray7;
    &:focus {
      outline: -webkit-focus-ring-color auto 0px;
    }
  }
  &.mat-checked:not(.mat-disabled){
    .mat-slide-toggle-bar{
      background-color: $secondary;
    }
    .mat-slide-toggle-thumb{
      background-color: $primary;
    }
  }
}

.hStyle {
  margin: 0;
  padding: 0;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
}

@media (min-width: 768px){
//Material
  //Stepper
  .mat-stepper-horizontal,
  .mat-stepper-vertical{
    .mat-vertical-content { padding: 0 24px 24px 34px; }
  }
  //Menu
  .mat-menu-panel {
    .mat-menu-content {
      padding-top: 5px;
      padding-bottom: 5px;
      .mat-menu-item{
        height: 42px;
        line-height: 42px;
      }
    }
  }
  //Dialog
  .mat-dialog-content{
    min-width: 550px;
  }
  //Sidebar
  mat-sidenav-container.mat-drawer-container {
    background-color: transparent;
    .mat-drawer {
      width: 370px;
    }
  }
}

@media (min-width: 992px){
  .mat-dialog-content {
    min-width: 750px;
  }
}

@media (min-width: 1200px){
  .mat-dialog-content {
    min-width: 850px;
  }
}

///////////////////APP/////////////////////////

// Header
.nav-toggle{
  cursor: pointer;
  border-radius: 0;
  padding: 0;
  margin-right: 35px;
  min-height: 45px;
  float: left;
  background-color: transparent;
  border: 1px solid transparent;
  span{
    background-color: $secondary;
    height: 1px;
    width: 23px;
  }
  .icon-bar {
    display: block;
    border-radius: 1px;
    @include transition;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }
}

// Toggled
.sidebar-toggled{
  .nav-toggle{
    span.icon-bar{
      height: 2px !important;
      &:nth-child(1){
        -webkit-transform: rotate(-45deg) translate(0px, 0px);
        transform: rotate(-45deg) translate(-1px, 1px);
      }
      &:nth-child(2){
        opacity: 0;
        display: none;
      }
      &:nth-child(3){
        -webkit-transform: rotate(45deg) translate(-15px, -15px);
        transform: rotate(45deg) translate(0px, 0px);
      }
    }
    span.icon-bar + span.icon-bar {
      margin-top: 0 !important;
    }
  }
  ul.nav{
    opacity: 0 !important;
    top: -25px !important;
  }
}

// Mobile Menu
.navmobile-menu{
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 50px;
  z-index: -1;
  opacity: 0;
  background-color: $fifth;
  @include transition();
}
.spacing-container-top{
  padding-top: 15px;
  border-top: 1px solid $tertiary;
  margin: 0 -15px;
}
.spacing-container-bottom{
  padding-bottom: 15px;
  border-bottom: 1px solid $tertiary;
  margin: 0 -15px;
}
.border-top{
  border-bottom: 1px solid $tertiary;
}
.border-bottom{
  border-bottom: 1px solid $tertiary;
}
.border-top-bottom{
  border-top: 1px solid $tertiary;
  border-bottom: 1px solid $tertiary;
}
.balance-container{
  .balance-row {
    padding: 10px 15px;
    .title{
      font-size: 14px;
      @extend %font-light;
    }
    .value{
      font-size: 30px;
      font-family: 'Roboto', sans-serif;
      @extend %font-bold;
      .currency{
        font-size: 18px;
        @extend %font-regular;
      }
    }
  }
  .button{
    display: block;
    margin: 0 15px;
  }
}
.profile-container{
  padding: 20px 15px;
  border-top: 1px solid $tertiary;
  border-bottom: 1px solid $tertiary;
  .profile-row{
    position: relative;
    .avatar-container{
      display: inline-block;
    }
    .title,
    .title-centered{
      display: inline-block;
      @extend %font-bold;
    }
    .title-centered{
      margin-left: 15px;
      @extend %absolute-center-top;
    }
  }
}
.social-component{position: absolute; bottom: 0; width: 100%;}
.social-container{
  text-align: center;
  .social-row{
    ul{
      margin: 0 auto;
      max-width: 672px;
      a{color: $secondary;&:hover{color: $primary;}}
      li{
        width: 13%;
        padding: 15px;
        text-align: center;
        display: inline-block;
      }
    }
  }
}
.version-container{
  padding: 15px;
  color: $gray4;
}
.navmobile-toggled{
  margin: 0; height: 100%; overflow: hidden; // Prevent default scroll on menu open
  .navmobile-menu{
    opacity: 1;
    z-index: 9999;
  }
}

@media (min-width: 992px){
  .navmobile-menu{display: none;}
}

// Footer
footer {
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  min-height: 0px;
  background-color: #121212;
  padding: 15px 0;
}

.nav-mobile{
  ul{
    margin: 0 auto;
    max-width: 672px;
    li{
      position: relative;
      width: 24%;
      text-align: center;
      display: inline-block;
      svg,
      .fas{font-size: 1.4em; color: $gray6; @include transition();}
      .nav-toggle {
        padding: 0;
        margin-right: 0;
        min-height: 18px;
        float: inherit;
        span{
          background-color: $gray6;
        }
      }
      .available-loans {
        width: 22px;
        height: 18px;
        opacity: 0;
        font-size: 12px;
        border-radius: 30px;
        margin-left: 18px;
        margin-top: -10px;
        background-color: $red;
        @include transition(all 0.1s ease-out);
        @extend %absolute-center;
      }
      &.active{
        svg,
        .fas{color: $secondary;}
        .available-loans {
          opacity: 1;
          @include transition-delay(1s);
        }
        .nav-toggle{
          span{
            background-color: $secondary;
          }
          span.icon-bar{
            height: 2px !important;
            &:nth-child(1){
              -webkit-transform: rotate(-45deg) translate(0px, 0px);
              transform: rotate(-45deg) translate(-1px, 1px);
            }
            &:nth-child(2){
              opacity: 0;
              display: none;
            }
            &:nth-child(3){
              -webkit-transform: rotate(45deg) translate(-15px, -15px);
              transform: rotate(45deg) translate(0px, 0px);
            }
          }
          span.icon-bar + span.icon-bar {
            margin-top: 0 !important;
          }
        }
      }
    }
  }
}

@media (min-width: 992px){
  footer {
    height: inherit;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    min-height: 0px;
    background-color: #121212;
    padding: 15px 30px;
    .icon{
      margin-top: 0;
      line-height: 1.9;
      cursor: pointer;
      padding-right: 15px;
      display: inline-block;
      &.version{
        margin-right: 15px;
      }
    }
    .nav-mobile{
      display: none;
    }
    a{
      color: $secondary;
      @include transition();
      &:hover{
        color: $primary;
      }
    }
    .left{
      text-align: left;
    }
    .center{
      text-align: center;
    }
    .right{
      text-align: right;
    }
    .txt{
      line-height: 1.9;
    }
  }
}
