/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,400i,500,600,700,800,900');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './scss/_spaces.scss', //spaces
        './scss/_variables.scss', //variables
        './scss/_type.scss', //type
        './scss/_mixins.scss', //mixins
        './scss/_colors.scss', //colors
        './scss/_helpers.scss', //helpers
        './scss/_fonts.scss'; //fonts

body{
  position: relative;
  font-family: 'Raleway', sans-serif;
  background-color: $tertiary;
  color: $secondary;
}

.btn{
  border-color: $primary;
  background-color: $primary;
  border-radius: 2px;
  text-transform: uppercase;
  @extend %font-medium;
}

//TABS
.mat-tab-label-container{
  margin-top: 20px;
  .mat-tab-label{
    color: rgba(255, 255, 255, 0.87);
  }
}