/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,400i,500,600,700,800,900');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './scss/_spaces.scss', //spaces
        './scss/_variables.scss', //variables
        './scss/_type.scss', //type
        './scss/_mixins.scss', //mixins
        './scss/_colors.scss', //colors
        './scss/_helpers.scss', //helpers
        './scss/_fonts.scss'; //fonts

body{
  position: relative;
  font-family: 'Raleway', sans-serif;
  background-color: $tertiary;
  color: $secondary;
}

.btn{
  border-color: $primary;
  background-color: $primary;
  border-radius: 2px;
  text-transform: uppercase;
  @extend %font-medium;
}

//TABS
.mat-tab-label-container{
  margin-top: 20px;
  .mat-tab-label{
    color: rgba(255, 255, 255, 0.87);
  }
}

// Directives
.fadeToggle{
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
  @include transition;
}

//Backgrounds
.cdk-overlay-dark-backdrop {background: rgba(0,0,0,.5);}
.cdk-overlay-transparent-backdrop{
  &.cdk-overlay-backdrop-showing{
    cursor: pointer;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
  } 
}
snack-bar-container.mat-snack-bar-container{
  color: $secondary;
  button{&.mat-simple-snackbar-action{color: $primary;}
  }
}

// Buttons
.button{
  &.button-primary{
    color: $secondary;
    background-color: $primary;
    &:hover, &:active, &:visited, &:focus{
      color: $secondary;
      background-color: $hover-primary;
    }
  }
  &.button-secondary{
    color: $tertiary;
    background-color: $secondary;
    &:hover, &:active, &:visited, &:focus{
      background-color: $gray2;
    }
  }
  &.button-tertiary{
    color: $tertiary;
    background-color: $secondary;
    &:hover, &:active, &:visited, &:focus{
      color: $secondary;
      background-color: $fifth;
    }
  }
}

// Colors
.primary{color: $primary;}
.secondary{color: $secondary;}
.tertiary{color: $tertiary;}
.quaternary{color: $quaternary;}
.fifth{color: $fifth;}

// Typography
.title{
  &.main-title{font-size: 24px; text-transform: uppercase; @extend %font-light;} 
}
.font-light{@extend %font-light;}
.font-regular{@extend %font-regular;}
.font-bold{@extend %font-bold;}
.font-black{@extend %font-black;}