@import './variables';

// -------------------------
// FONTS
// -------------------------

.light{ @extend %font-light; }
.regular{ @extend %font-regular; }
.medium{ @extend %font-medium; }
.bold{ @extend %font-bold; }
.black{ @extend %font-black; }

.font12{font-size: 12px;}
.font13{font-size: 13px;}
.font14{font-size: 14px;}
.font15{font-size: 15px;}
.font16{font-size: 16px;}
.font17{font-size: 17px;}
.font18{font-size: 18px;}
.font19{font-size: 19px;}
.font20{font-size: 20px;}
.font21{font-size: 21px;}
.font22{font-size: 22px;}
.font23{font-size: 23px;}
.font24{font-size: 24px;}
.font25{font-size: 25px;}
.font26{font-size: 26px;}
.font27{font-size: 27px;}
.font28{font-size: 28px;}
.font29{font-size: 29px;}
.font30{font-size: 30px;}

@mixin styled-font ($family, $weight, $size, $style: normal) {
  font-family: $family, sans-serif;
  font-weight: $weight;
  font-size: $size;
  font-style: $style;
}

@mixin typography-headline ($variation) {
  @if $variation == 1 {
    @include styled-font('Raleway', 400, 34px);
  } @else if $variation == 2 {
    @include styled-font('Raleway', 900, 36px);
  } @else if $variation == 3 {
    @include styled-font('Raleway', 900, 28px);
  } @else if $variation == 4 {
    @include styled-font('Roboto', 700, 26px);
  } @else if $variation == 5 {
    @include styled-font('Raleway', 400, 24px);
  } @else if $variation == 6 {
    @include styled-font('Raleway', 700, 18px);
  } @else if $variation == 7 {
    @include styled-font('Raleway', 400, 14px);
  }
}

@mixin typography-subtitle ($variation) {
  @if $variation == 1 {
    @include styled-font('Roboto', 800, 30px);
  } @else if $variation == 2 {
    @include styled-font('Roboto', 700, 18px);
  } @else if $variation == 3 {
    @include styled-font('Roboto', 700, 15px);
  }
}

@mixin typography-body ($variation) {
  @if $variation == 1 {
    @include styled-font('Raleway', 400, 16px);
  } @else if $variation == 2 {
    @include styled-font('Raleway', 700, 14px);
  } @else if $variation == 3 {
    @include styled-font('Roboto', 400, 14px);
  }
}

@mixin typography-button ($variation) {
  @if $variation == 1 {
    @include styled-font('Roboto', 700, 14px);
  }
}

@mixin typography-caption ($variation) {
  @if $variation == 1 {
    @include styled-font('Roboto', 400, 13px);
  } @else if $variation == 2 {
    @include styled-font('Roboto', 400, 13px, 'italic');
  }
}

@mixin typography-overline ($variation) {
  @if $variation == 1 {
    @include styled-font('Roboto', 700, 14px);
  } @else if $variation == 2 {
    @include styled-font('Raleway', 700, 11px);
  } @else if $variation == 3 {
    @include styled-font('Roboto', 700, 13px);
  }
}
