// -------------------------
// TYPE
// -------------------------

// Typography variables
// --------------------------------------------------

$primary-Th: 'RalewayTh';
$primary-ThI: 'RalewayThIt';
$primary-Lt: 'RalewayLt';
$primary-Bk: 'RalewayBk';
$primary-BkI: 'RalewayBk';
$primary-Md: 'RalewayMd';
$primary-MdI: 'RalewayMd';
$primary-Bd: 'RalewayBd';
$primary-BdI: 'RalewayBd';
$primary-Bl: 'RalewayBl';
$primary-Ul: 'RalewayUl';