<ngx-spinner bdColor="rgba(0,0,0,.3)" size="medium" color="#fff" type="ball-clip-rotate-multiple"></ngx-spinner>
<div class="container">
  <div class="row">
    <div class="col-xs-12 hidden-xs hidden-sm">
      <div class="title main-h1">lent by</div>
      <div class="title main-h5 ellipsis">{{address}}</div>
      <mat-chip-list>
        <mat-chip class="margintop30 marginright15" selected="true" [color]="$primary">{{loans.length}} LENT</mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div class="row">

    <div class="col-xs-12 text-center" *ngIf='!availableLoans'>
      <div class="title main-h1">This address is not a lender</div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card-col" 
    *ngFor='let loan of loans; let i of index'>
      <app-loan-card [loan]="loan"></app-loan-card>
    </div>
  </div>
</div>
