<ngx-spinner
  bdColor="rgba(0,0,0,.3)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-multiple"
></ngx-spinner>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ng-container *ngIf="myAddress; else genericAddress">
        <div class="title main-h1">
          My loans
        </div>
      </ng-container>
      <ng-template #genericAddress>
        <div class="title main-h1">
          Address
        </div>
        <div class="title main-h5 ellipsis">
          {{ address }}
        </div>
      </ng-template>
      <div class="margintop30 d-lg-none"></div>
      <div class="buttons-box">
        <a
          class="button"
          [class.button-blue]="activeTab == 'borrowed'"
          routerLink="borrowed"
        >
          <i class="fas fa-reply"></i>
          <span class="button-style">BORROWED</span>
        </a>
        <a
          class="button"
          [class.button-blue]="activeTab == 'lent'"
          routerLink="lent"
        >
          <i class="fas fa-share"></i>
          <span class="button-style">LENDED</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="marginbottom5 d-lg-none"></div>
<router-outlet></router-outlet>
