
.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  min-width: 45px;
  border-radius: 50px;
  background-color: #565759;
  margin-right: 10px;
}

.rcn-icon {
  width: 28px;
  height: 28px;
  filter: grayscale(100%) contrast(295%);
}

.icon {
  font-size: 17px;
  color: #262629;
}

a {
  color: #4155ff;
  font-weight: 600;
}

a:hover {
  color: #4155ff;
}

.details-box {
  text-align: left;
}

.description {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
