@import '../../../scss/_variables.scss'; //variables

//Dialog Client
.dialog {
    max-width: 100vw;
    min-height: fit-content;
    overflow-x: hidden;
}

.mat-option {
  height: auto;
}
.dialog-padding{
  padding: 30px 53px;
  text-align: left;
}

.padding {
    padding: 0px 53px;
    display: flex;
    align-items: center;
}
.navbar-container {
  height: 70px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333333;
  .creator-container {
    .creator-title{
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      color: $fifth;
      font-size: 22px;
      text-align: center;
      padding: 0 15px;
      @extend %font-black;
      @include transform(translate(-50%, -50%));
    }
  }
}

.i {
    display: inline-block;
    cursor: pointer;
    .fa-question-circle {
        color: #6D6E6F !important;
        margin: 0 8px;
        font-size: 16px;
    }
}

.row {
    margin-right: -8px;
    margin-left: -8px;
}

.lending {
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #2C2C2C;
}

.return {
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #2C2C2C;
}

.amount {
    // min-height: 40px;
    display: flex;
    align-items: flex-end;
    margin: 0;
}

.ars {
    font-weight: 400;
    display: inline-block;
    margin-left: 5px;
}

.icon-box {
    width: 35px; 
    height: 35px;
    display: flex;
    align-items: center;
    margin: 30px 20px;
    border-radius: 50px;
    background-color: white;
    padding: 3px;
    .imgs {
        width: 20px;
        height: 20px;
        .input-icon {
            display: inline-block;
            max-height: 100%;
        }
    }
    
}

.item {
    margin-top: 8px;
    margin-bottom: 8px;
}

.currency {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.exchange {
    background-color: none;
    height: auto;
    display: flex;
    align-items: center;
    .rate {
      font-size: 12px;
      color: #6D6E6F;
    }
}

img {
    max-height: 100%;
    margin: auto;
}

.data {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #ADADAD;
    display: flex;
    flex-wrap: nowrap;
}

.inline {
    display: inline-block;
}

.auto {
  width: auto !important;
}

.in {
    display: inline;
}

.img-container{
  text-align: center;
  margin-top: 20px;
  img{
    height: 150px;
    margin: 0 auto;
  }
}

.wrap {
  display: flex;
  flex-wrap: nowrap;
}

.title {
  font-size: 14px;
}
.account {
  display: none;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

.cancel {
  display: none;
}

.title-2 {
  font-size: 12px;
  font-weight: 500;
}
.cero-box {
  height: 40px;
  display: flex;
  align-content: flex-end;
}

.mat-raised-button {
  width: 100%;
}
.pad-left {
  padding-left: 0; 
}

.fa-arrow-left {
  color: white;
}

.arrow-space {
  display: none;
}

// .lend {
//   min-width: 100%;
// }
@media (min-width: 768px){
  .arrow-space {
    display: block;
  }
  .arrow {
    display: none;
  }

  .exchange {
    background-color: #2C2C2C;
    height: 40px;
    display: flex;
    align-items: center;
    .rate {
      font-size: 14px;
      color: #ADADAD;
    }
}

.fa-arrow-left {
  display: none;
}

.mat-raised-button {
  width: 88px;
}

    .dialog {
        max-width: 750px;
    }
  .dialog-padding{
    padding: 30px 53px;
  }
  .navbar-container {
    height: 100px;
    .creator-container {
      .creator-title{
        font-size: 36px;
      }
    }
  }

  .account {
    display: block;
  }
  
  .title {
    font-size: 16px;
  }



  .data {
    font-size: 16px;
    // .ars {
    //   font-size: 12px !important;
    // }
  }

  .cancel {
    display: block;
  }

  .wrap {
    width: 60%;
  }

  .mobile {
    display: none;
  }
  
  .desktop {
    display: block;
  }

  .cero-box {
    height: 50px;
    display: flex;
    align-content: flex-end;
  }
 
}