<mat-dialog-content class="dialog">
  <div class="navbar-container">
    <div class="creator-container">
      <div class="creator-title"><button matDialogClose class="arrow col-sm-1 title main-h6 --auto in pad-left"><i
            class="fas fa-arrow-left"></i></button>Checkout process</div>
    </div>
  </div>
  <div class="col-sm-12 dialog-padding">
    <div class="title main-h3">Select the Currency you want to lend and compare with the other available currencies
      values.<div class="i" matTooltip="The currency rates may vary during the loan terms"><i
          class="far fa-question-circle"></i></div>
    </div>
    <div class="margintop50"></div>
    <div class="row">
      <div class="col-sm-12 col-md-3 title main-h6">
        <div class="row title-3">LENDING CURRENCY</div>
        <div class="row">
          <mat-form-field>
            <mat-label *ngIf="selected === '-'" id="label">Select Token</mat-label>
            <mat-select [(value)]="selected" (selectionChange)="changeSelect()">
              <mat-option *ngFor="let option of options" value="{{ option.name }}">
                <div class="row align-items-center">
                  <div class="icon-box item">
                    <img matPrefix class="input-icon" src="{{option.img}}">
                  </div>
                  <div class="currency">{{ option.name }}</div>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-8">
        <div class="small-table-row row">
          <div class="col title-3 --auto no-pad-left">LENDING AMOUNT</div>
          <div class="col-sm-1 no-gutters --auto"></div>
          <div class="col title-3 --auto">RETURN</div>
        </div>
        <div class="margintop15"></div>
        <div class="small-table-row --highlight row">
          <div class="col --auto no-pad-left --data-margin data-style">
            <span *ngIf="selected == '-'">0 </span>
            <span *ngIf="selected == 'RCN'">{{ newAmount }} </span>

            <span class="data--currency-style">{{ selected }}</span></div>
          <div class="col-sm-1 no-gutters --auto"></div>
          <div class="col --auto --data-margin data-style">
              <span  *ngIf="selected == '-'" >0</span>
              <span *ngIf="selected == 'RCN'">{{ loanReturn }} </span>
              <span class="data--currency-style">{{ selected }}</span>

               <i *ngIf="selected != '-'" class="fas fa-exclamation-triangle margin-left triangle"></i></div>
        </div>
        <div class="margintop10"></div>
        <div class="small-table-row row">
          <div class="col title-2 --auto no-pad-left --data-margin baseline">
            <div class="--auto">
            <span class="--lend-amount">{{ loanAmount }}</span> <span class="margin-left"> {{ loan.currency }} </span>
          </div>
          </div>
          <div class="col-sm-1 no-gutters --auto vertical-center"><i class="fas fa-arrow-right"></i></div>
          <div class="col title-2 --auto --data-margin wrap baseline">
            <div class="--auto wrap end">
            <span *ngIf="selected == '-'" id="label"
              class="--return-amount">0</span>
              <span *ngIf="selected != '-'" id="label"
              class="--return-amount">{{ expectedReturn }}</span>
              <span class="margin-left"> {{ loan.currency }} </span><i *ngIf="selected != '-'" class="fas fa-check-circle check margin-left"></i>
            </div>
            </div>
        </div>
      </div>
    </div>

  </div>
  <div class="margintop-30 mobile"></div>
  <div class="margintop50"></div>
  <div class="mobile"></div>
  <div class="exchange">
    <div>
      <div class="inline rate padding-2">Exchange Rate 1 {{ loan.currency }} = x.xxx RCN = 43.51 {{ selected }}</div>
    </div>
  </div>

  <div class="margintop20"></div>
  <div class="row padding justify-content-between align-items-center">
    <div class=" col-sm-12 col-md-6 inline account">Lending from your {{ account }} account.</div>
    <div class="col-sm-12 col-md-6">
      <div class="row justify-content-end no-gutters">
        <div class="col-sm-12 col-md-3 right">
          <button mat-raised-button class="button button-primary lend">Lend</button>
        </div>
        <div class="col-sm-0 col-md-3">
          <button mat-raised-button matDialogClose href="https://metamask.io/" target="_blank"
            class="button button-secondary cancel">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="margintop20"></div>
</mat-dialog-content>
