@import "./../../../scss/mixins";
@import "./../../../scss/fonts";
@import "./../dialog-generic";

.dialog {
  max-width: 100vw;
  min-height: fit-content;
  overflow-x: hidden;

  .dialog-content {
    .item {
      &__select-label {
        @include styled-font("Roboto", 400, 14px);
        color: #989898;
      }
      &__select-value,
      &__text-currency {
        @include typography-headline(6);
      }
      &__currency-style {
        @include typography-subtitle(2);
        color: #989898;
      }
      &__background {
        background-color: var(--app-color-gray-600);
        height: 35px;
        display: flex;
        align-items: center;
      }
      &__table-content:first-child {
        padding-left: 8px;
      }
      &__table-content {
        @include typography-subtitle(2);
        color: #989898;
        padding-left: 17px;
      }
      &__table-footer {
        display: flex;
        align-items: center;
        max-width: 100%;
        width: auto;
        svg {
          color: #6eb548;
          margin-top: 3px;
        }
      }
      &__icon-warning {
        font-size: 16px;
        color: #eaa219;
        cursor: pointer;
      }
      &__icon-arrow {
        padding: 0;
        display: flex;
        align-items: center;
        width: auto;
      }
      &__icon-arrow {
        margin-top: 4px;
      }
      &__text-currency {
        &--title,
        &--subtitle {
          @include styled-font("Roboto", 700, 16px);
        }
      }
    }
  }
}

.wrapper-icons {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  margin: 8px 20px;
  border-radius: 50px;
  background-color: white;
  padding: 3px;
  img {
    display: inline-block;
    max-height: 100%;
    margin: auto;
  }
}

.accordion-details {
  mat-expansion-panel {
    margin-top: 35px;
  }
}

@media (min-width: 768px) {
  .dialog {
    max-width: 800px;
    .dialog-content {
      .item {
        &__text-currency {
          &--title {
            @include styled-font("Roboto", 700, 26px);
          }
          &--subtitle {
            @include styled-font("Roboto", 700, 18px);
          }
        }
        &__icon-arrow {
          margin-top: 12px;
        }
      }
      .accordion-details {
        mat-expansion-panel {
          margin-top: 60px;
        }
      }
    }
  }
}

::ng-deep {
  mat-label.item__select-label {
    font-size: 12px !important;
  }
}
