<app-dialog-header title="Lending Checkout"> </app-dialog-header>

<mat-dialog-content class="dialog">
  <div class="container">
    <div class="dialog-content">
      <div class="row">
        <div class="col-sm-12 col-md-3 mt-2">
          <div class="item__subtitle">Lending currency</div>
          <mat-form-field>
            <mat-label class="item__select-label" *ngIf="!lendCurrency">
              Select Currency
            </mat-label>
            <mat-select
              class="item__select-value"
              [(value)]="lendCurrency"
              (selectionChange)="onChangeCurrency()"
            >
              <mat-option
                *ngFor="let item of availableCurrencies"
                [value]="item.symbol"
              >
                <div class="row">
                  <div class="wrapper-icons">
                    <img matPrefix [src]="item.img" />
                  </div>
                  <div class="item__text-currency">
                    {{ item.symbol }}
                  </div>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8 mt-2">
          <div class="row">
            <div class="col-6 item__subtitle">Lend</div>
            <div class="col-6 pl-4 item__subtitle">Receive</div>
          </div>
          <div class="mt-3"></div>
          <div class="item__background">
            <div class="item__table-content ml-2 pl-0">
              <span>
                {{ lendAmount }}
              </span>
              <span class="item__currency-style">
                {{ lendCurrency || "-" }}
              </span>
            </div>
            <div class="item__table-separator col-sm-1"></div>
            <div class="item__table-content ml-3">
              <span>
                {{ lendExpectedReturn }}
              </span>
              <span class="item__currency-style">
                {{ lendCurrency ? engineCurrency?.toString() : "-" }}
              </span>
              <div
                class="d-inline"
                matTooltip="This return is calculated using current exchange rates and may vary as a result of their fluctuations."
                *ngIf="lendCurrency"
              >
                <i
                  class="fas fa-exclamation-triangle ml-1 item__icon-warning"
                ></i>
              </div>
            </div>
          </div>
          <div class="mt-2"></div>
          <div class="d-flex">
            <div class="item__table-footer pl-0 ml-2">
              <span
                class="item__text-currency--title mr-2"
                [innerHTML]="loanAmount"
              >
              </span>
              <span
                class="item__text-currency--subtitle"
                [innerHTML]="loan.currency"
              >
              </span>
            </div>
            <div class="item__icon-arrow col-sm-1 mr-md-3 mr-4">
              <i class="fas fa-arrow-right"></i>
            </div>
            <div class="item__table-footer">
              <span
                class="item__text-currency--title mr-2"
                [innerHTML]="loanExpectedReturn"
              >
              </span>
              <span
                class="item__text-currency--subtitle"
                [innerHTML]="loan.currency"
              >
              </span>
              <div
                class="d-inline"
                matTooltip="This return is not affected by exchange rate fluctuations."
              >
                <i class="fas fa-check-circle check ml-1"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <mat-accordion class="accordion-details">
        <mat-expansion-panel class="mat-elevation-z">
          <mat-expansion-panel-header>
            <mat-panel-title> More details </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="accordion-details__item" *ngIf="exchangeTooltips?.length">
            <i class="fas fa-exchange-alt"></i>
            <span class="mr-1"> Exchange Rate 1 {{ loan.currency }} </span>
            <span
              class="mr-1"
              *ngIf="loan.currency.toString() !== engineCurrency?.toString()"
            >
              = {{ exchangeEngineToken }} {{ engineCurrency?.toString() }}
            </span>
            <span
              *ngIf="exchangeToken && loan.currency.toString() !== lendCurrency"
            >
              = {{ exchangeToken }} {{ lendCurrency }}
            </span>
          </div>
          <div class="accordion-details__item">
            <i class="fas fa-arrows-alt-h"></i>
            <span> Tx Cost: {{ txCost || "-" }} </span>
          </div>
          <div
            class="accordion-details__item"
            *ngFor="let exchangeTooltip of exchangeTooltips"
          >
            <i class="fas fa-info-circle"></i>
            <span [innerHTML]="exchangeTooltip"></span>
          </div>
          <div class="accordion-details__item">
            <i class="fas fa-wallet"></i>
            <span>
              Lending from the
              <a
                [href]="explorerAddress.replace('${address}', account)"
                target="_blank"
              >
                {{ account | formatAddress }}
              </a>
              address.
            </span>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="dialog-footer d-flex justify-content-end">
  <app-lend-button
    [loan]="loan"
    [lendToken]="lendToken"
    (endLend)="endLend()"
    (closeDialog)="closeDialog()"
    *ngIf="canLend"
  ></app-lend-button>
  <app-close-button class="d-none d-md-inline"></app-close-button>
</mat-dialog-actions>
