<app-decentraland-cosigner
  [loan]='loan'
  [cosignerProvider]='cosignerProvider'
  *ngIf="detailClass === 'decentraland_mortgage'"
></app-decentraland-cosigner>

<div class="empty-container p-3 px-md-4 py-md-0" *ngIf="detailClass === 'unknown'">
  <div class="empty-row">
    <i class="material-icons font110">error_outline</i>
    <div class="title main-h3 my-2">The cosigner of this loan is unknown</div>
    <div class="title main-h4">
      The address <a target="_blank" href="{{ cosignerLinkExplorer }}">
      {{ loan.cosigner }}</a> is the designated cosigner of this loan, theterms
      of the insurance are unknown.
    </div>
  </div>
</div>

<div class="empty-container p-3 px-md-4 py-md-0" *ngIf="detailClass === 'collateral_auction'">
  <div class="empty-row">
    <i class="fas fa-shield-alt mb-4"></i>
    <div class="title main-h4">
      In case of default this loan's repayment is guaranteed by the
      <a target="_blank" href="{{ cosignerLinkExplorer }}">{{ shortCosignerAddress }}</a>
      Automatic Buyback Guaranty Pool.
    </div>
  </div>
</div>

<div class="empty-container p-3 py-md-0" *ngIf="detailClass === 'not_available'">
  <div class="empty-row">
    <i class="material-icons font110">
      error_outline
    </i>
    <div class="title main-h3 my-2">
      This loan is not backed by any collateral
    </div>
    <div class="title main-h4">
      Funding unbacked loans might imply a high risk of default
    </div>
  </div>
</div>
