@import '../../../../scss/_variables.scss'; //variables

.empty-container{
  height: 100%;
  .empty-row{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    i {
      font-size: 90px;
    }
  }
}

a {
  color: white;
  @extend %roboto-medium;
}
