<app-decentraland-cosigner [loan]='loan' [cosignerProvider]='cosignerProvider' *ngIf="detailClass === 'decentraland_mortgage'"></app-decentraland-cosigner>

<app-detail-empty
  *ngIf="detailClass === 'unknown'"
  title="The cosigner of this loan is unknown"
  description="The address {{ loan.cosigner }} is the designated cosigner of this loan, the terms of the insurance are unknown."
></app-detail-empty>

<app-detail-empty
  *ngIf="detailClass === 'not_available'"
  title="There is no cosigner available"
></app-detail-empty>
