@import '../../../../scss/_variables.scss'; //variables

.empty-container{
  height: 100%;
  .empty-row{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    i,
    svg {
      font-size: 90px;
      color: var(--app-color-gray-100);
    }
  }
}

a {
  color: white;
  @extend %roboto-medium;
}

@media (min-width: 992px) {
  .empty-container {
    .empty-row {
      padding: 0 56px;
    }
  }
}
