<app-decentraland-cosigner
  [loan]='loan'
  [cosignerProvider]='cosignerProvider'
  *ngIf="detailClass === 'decentraland_mortgage'"
></app-decentraland-cosigner>

<div class="empty-container p3 py-md-0" *ngIf="detailClass === 'unknown'">
  <div class="empty-row">
    <i class="material-icons gray7 font110">error_outline</i>
    <div class="title main-h3">The cosigner of this loan is unknown</div>
    <div class="title main-h4">
      The address <a target="_blank" href="{{ cosignerLinkExplorer }}">
      {{ loan.cosigner }}</a> is the designated cosigner of this loan, theterms
      of the insurance are unknown.
    </div>
  </div>
</div>

<div class="empty-container p-3 py-md-0" *ngIf="detailClass === 'not_available'">
  <div class="empty-row">
    <i class="material-icons gray7 font110">
      error_outline
    </i>
    <div class="title main-h3">
      There is no cosigner available
    </div>
    <div class="title main-h4"></div>
  </div>
</div>
